
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


@{ Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; ViewBag.Title = "Location Profile";
}

<div id="pageID" style="display:none;">ActivateProfile</div>


<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">

    <div class="skills layout-spacing ">
        <div class="widget-content widget-content-area">
            <h3 class="">@Localizer["ActivateProfile"]</h3>

            <div class="widget-content1">

                <div class="form-row mb-4">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">@Localizer["RegisterType"]</label> <br />

                        <div class="n-chk">
                            <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-outline-success">
                                <input id="rdoCustomerTypeALL" type="radio" class="new-control-input" name="radioSubcontractType" value="ALL" checked>
                                <span class="new-control-indicator"></span><span class="new-chk-content">ALL</span>
                            </label>

                            <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-outline-success">
                                <input id="rdoCustomerTypeSub" type="radio" class="new-control-input" name="radioSubcontractType" value="Subcontract">
                                <span class="new-control-indicator"></span><span class="new-chk-content">New Subcontract</span>
                            </label>

                            <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-outline-success">
                                <input id="rdoCustomerTypeDealer" type="radio" class="new-control-input" name="radioSubcontractType" value="Dealer">
                                <span class="new-control-indicator"></span><span class="new-chk-content">Dealer</span>
                            </label>
                        </div>

                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputEmail4">@Localizer["CompanyName"]</label>
                        <input type="text" class="form-control" id="inputCompanyName" placeholder="@Localizer["CompanyName"]">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">@Localizer["TaxId"]</label>
                        <input type="text" class="form-control" id="inputTaxId" maxlength="13" placeholder="@Localizer["TaxId"]">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputEmail4">@Localizer["RegisterDateFrom"]</label>
                        <div class='input-group date p-0' id="register_date_fr">
                            <input type='text' class="form-control" id="inputRegister_date_fr" />
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text px-4">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>

                        </div>

                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">@Localizer["RegisterDateTo"]</label>
                        <div class='input-group date p-0' id="register_date_to">
                            <input type='text' class="form-control" id="inputRegister_date_to" />
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text px-4">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputEmail4">@Localizer["ActivateDateFrom"]</label>
                        <div class='input-group date p-0' id="activate_date_fr">
                            <input type='text' class="form-control" id="inputActivate_date_fr" />
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text px-4">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">@Localizer["ActivateDateTo"]</label>
                        <div class='input-group date p-0' id="activate_date_to">
                            <input type='text' class="form-control" id="inputActivate_date_to" />
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text px-4">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">@Localizer["ActivateStatus"]</label>
                        <select id="ddlActivateStatus" class="form-control "></select>
                    </div>

                </div>

                <div style="text-align:center">

                    <button id="btnMainClear" type="button" class="btn btn-dark mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-x-circle">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="15" y1="9" x2="9" y2="15"></line>
                            <line x1="9" y1="9" x2="15" y2="15"></line>
                        </svg> @Localizer["Reset"]
                    </button>
                    <button id="btnSearch" type="button" class="btn btn-success mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>  @Localizer["Search"]
                    </button>

                </div>


            </div>


            <br />
            <div class="widget-heading">
                <h3 class="">@Localizer["SearchResult"]</h3>

            </div>
            <div class="col-md-12 text-right mb-1">
                <button id="btnActivate" type="button" class="btn btn-success mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="12" y1="8" x2="12" y2="16"></line>
                        <line x1="8" y1="12" x2="16" y2="12"></line>
                    </svg> @Localizer["ActivateProfile"]
                </button>

            </div>


            <div class="table-responsive mb-4 mt-4">
                <table id="tbSearchResult" class="table table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="select_all" value="ALL" id="checkBoxAll" /></th>


                            <th>@Localizer["CompanyName"] </th>
                            <th>@Localizer["TaxId"] </th>
                            <th>@Localizer["CompanyStatus"] </th>
                            <th>@Localizer["TraningStatus"] </th>
                            <th>@Localizer["PaymentStatus"] </th>
                            <th>@Localizer["RegisterDate"] </th>
                            <th>@Localizer["TrainingDate"] </th>
                            <th>@Localizer["PaymentDate"] </th>
                            <th>@Localizer["ActivateDate"] </th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>

</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#inputTaxId').keyup(function () {
                CheckKeyUps("inputTaxId", "[0-9]");
            });
        });

        var oTable;
        $(document).ready(function () {
            GetDropDownByNameStatus();

            $('#tbSearchResult').DataTable();
            $('#checkBoxAll').click(function () {
                if ($(this).is(":checked")) {
                    $(".chkCheckBoxId").prop("checked", true)
                }
                else {
                    $(".chkCheckBoxId").prop("checked", false)
                }
            });

            $('#register_date_fr').datetimepicker({
                format: "DD/MM/YYYY",
                showClear: true,
                showClose: true,
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'icon-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-time'
                }
            });

            $('#register_date_to').datetimepicker({
                format: "DD/MM/YYYY",
                showClear: true,
                showClose: true,
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'icon-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-time'
                }
            });

            $('#activate_date_fr').datetimepicker({
                format: "DD/MM/YYYY",
                showClear: true,
                showClose: true,
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'icon-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-time'
                }
            });

            $('#activate_date_to').datetimepicker({
                format: "DD/MM/YYYY",
                showClear: true,
                showClose: true,
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'icon-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-time'
                }
            });

            $("#register_date_fr").on("dp.change", function (e) {
                $('#register_date_to').data("DateTimePicker").minDate(e.date);
            });
            $("#register_date_to").on("dp.change", function (e) {

                $('#register_date_fr').data("DateTimePicker").maxDate(e.date);
            });


            $("#activate_date_fr").on("dp.change", function (e) {
                $('#activate_date_to').data("DateTimePicker").minDate(e.date);
            });
            $("#activate_date_to").on("dp.change", function (e) {

                $('#activate_date_fr').data("DateTimePicker").maxDate(e.date);
            });


            inittbSearchResult();
            $("#btnSearch").click(function (e) {
                inittbSearchResult();
            });

            $("#btnMainClear").click(function (e) {
                 clearMainData();
            });

            $("#btnActivate").click(function (e)
            {
                var table = $('#tbSearchResult').DataTable();
                var activateids_arr = [];
                if (table.data().count()) {
                    $('[name="chkBox"]:checked').each(function (data) {
                        activateids_arr.push($(this).val());
                        // alert($('.chkCheckBoxId:checked').val());
                    });

                }

                if (activateids_arr.length > 0) {

                    bootbox.confirm({
                        message: "@Localizer["Question"]",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result) {
                            if (result == true) {

                                for (j = 0; j < activateids_arr.length; j++) {
                                    onSave(activateids_arr[j]);
                                }

                                bootbox.alert('@Localizer["SaveDataSuccess"]');
                                inittbSearchResult();
                            }
                        }
                    });

                } else {
                    bootbox.alert({
                        message: "@Localizer["PleaseSelect"]",
                        callback: function () {

                        }
                    });
                }


            });

        });

         function GetDropDownByNameStatus() {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetDropDownList", "SubcontractDropdown")',
                        data: { 'dropdownname': 'company_status' },
                        dataType: 'json',
                        success: function (data) {

                            $("#ddlActivateStatus").empty();
                            $("#ddlActivateStatus").append('<option value="">--Select All--</option>');
                            $.each(data, function (id, result) {
                                if (result.dropdown_value == "Y" || result.dropdown_value == "A") {
                                    $("#ddlActivateStatus").append('<option value="' + result.dropdown_value + '">' + result.dropdown_text + '</option>');
                                }
                            });
                            },
                            failure: function () {
                                $("#ddlActivateStatus").empty();
                                $("#ddlActivateStatus").append('<option value="">--Select All--</option>');
                            }
                        });
        }

        function clearMainData() {
            $("input:radio[name ='radioSubcontractType']:checked").val('ALL')
            $("#inputCompanyName").val('');
            $("#inputTaxId").val('');
            $("#inputActivate_date_fr").val('');
            $("#inputActivate_date_to").val('');
            $("#inputRegister_date_fr").val('');
            $("#inputRegister_date_to").val('');
        }
         function inittbSearchResult() {

              var oTable = $('#tbSearchResult').DataTable({
                processing: true, // for show progress bar
                serverSide: true, // for process server side
                filter: false, // this is for disable filter (search box)
                orderMulti: false, // for disable multiple column at once
                pageLength: 10,
                order: [],
                autoWidth: false,
                searching: false,
                destroy: true,
                lengthChange: false,
                "oLanguage": {
                    "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                    "sInfo": "Showing page _PAGE_ of _PAGES_",
                    "sSearch": false,
                    "sLengthMenu": "Results :  _MENU_",
                },
                 "scrollX": false,
                  "language": {
                  "zeroRecords": "No data found.",
                   "decimal": ",",
                  "thousands": "."
                    },
                    ajax: {
                        url: '@Url.Action("Search", "ActivateProfile")',
                        type: "POST",
                        datatype: "JSON",
                        //dataSrc:"",
                        data: function (d) {
                            d.subcontract_profile_type = $("input:radio[name ='radioSubcontractType']:checked").val(),
                            d.company_name_th = $("#inputCompanyName").val(),
                                d.tax_id = $("#inputTaxId").val(),
                                d.register_date_fr = $("#inputRegister_date_fr").val(),
                                d.register_date_to = $("#inputRegister_date_to").val(),
                            d.activate_date_fr = $("#inputActivate_date_fr").val(),
                            d.activate_date_to = $("#inputActivate_date_to").val(),
                            d.activate_status = $("select[id$=ddlActivateStatus]").val()

                        }
                  },
                    columns: [
                        {
                            data: null, orderable: false, render: function (data, type, row) {
                                if (row.CompanyStatus == "Activate") {
                                    return '<input style="display:none" class="custom-checkbox chkCheckBoxId" type="checkbox" id="' + row.CompanyId + '" name="chkBox" value="' + row.CompanyId + '">';
                                } else {
                                    return '<input class="custom-checkbox chkCheckBoxId" type="checkbox" id="' + row.CompanyId + '" name="chkBox" value="' + row.CompanyId + '">';
                                }
                            }
                        },
                        { "data": "CompanyNameTh"  },
                        { "data": "TaxId"},
                        { "data": "CompanyStatus" },
                        { "data": "TrainingStatus" },
                        { "data": "PaymentStatus" },
                        {
                            "data": "CompanyRegisterDate", "render": function (data, type, row) {
                                if (type === "sort" || type === "type") {
                                    return data;
                                }
                                if (moment(data).format("DD/MM/YYYY") != 'Invalid date') {
                                    return moment(data).format("DD/MM/YYYY");
                                }
                                else {
                                    return data;
                                }

                            } },
                        {
                            "data": "TriningDate", "render": function (data, type, row) {
                                if (type === "sort" || type === "type") {
                                    return data;
                                }
                                if (moment(data).format("DD/MM/YYYY") != 'Invalid date') {
                                    return moment(data).format("DD/MM/YYYY");
                                }
                                else {
                                    return data;
                                }
                            } },
                        {
                            "data": "PaymentDatetime", "render": function (data, type, row) {
                                if (type === "sort" || type === "type") {
                                    return data;
                                }
                                if (moment(data).format("DD/MM/YYYY") != 'Invalid date') {
                                    return moment(data).format("DD/MM/YYYY");
                                }
                                else {
                                    return data;
                                }
                            } },
                        {
                            "data": "ActivateDate", "render": function (data, type, row) {
                                if (type === "sort" || type === "type") {
                                    return data;
                                }
                                if (moment(data).format("DD/MM/YYYY") != 'Invalid date') {
                                    return moment(data).format("DD/MM/YYYY");
                                }
                                else {
                                    return data;
                                }
                            }
                        }

                ],
                  "order": [[0, "desc"]],

                "stripeClasses": [],
                drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }

                });

        }

         function onSave(companyId) {
            var company = new Object();
             company.CompanyId = companyId;

            $.ajax({
                   url: '@Url.Action("OnSave", "ActivateProfile")',
                   type: 'POST',
                   data: { 'model': company },
                   dataType: "json",
                success: function (result) {
                       if (result.Status == true) {
                           if ($('#hdMode').val() == 'edit') {

                           } else {
                               //bootbox.alert(result.Message);
                           }

                         //  inittbSearchResult();

                          }
                        else {
                               bootbox.alert(result.Message);

                            }
                  },
                  error: function (result) {
                      bootbox.alert(result.Message);
                  }

            });

        }


    </script>
}