@{ Layout = "~/Views/Shared/_Layout.cshtml"; ViewBag.Title = "Location Profile";
}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">

    <div class="skills layout-spacing ">
        <div class="widget-content widget-content-area">
            <h3 class="">Location</h3>

            <div class="widget-content1">

                <div class="form-row mb-4">
                    @*<div class="form-group col-md-12">
                            <label for="inputEmail4">ประเภทผู้สมัคร</label> <br />
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="rdoCustomerTypeSub" name="customRadioSucRegis" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline1">New Subcontract</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="rdoCustomerTypeDealer" name="customRadioSucRegis" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">Dealer</label>
                            </div>
                        </div>*@

                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Location Code</label>
                        <input type="text" class="form-control" id="inputLocationCodeMain" placeholder="Location Code">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Location Name Ailas</label>
                        <input type="text" class="form-control" id="inputLocationNameAilas" placeholder="Location Name Ailas">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Location Name (TH)</label>
                        <input type="text" class="form-control" id="inputLocationNameTh" placeholder="Location Name (TH)">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Location Name (EN)</label>
                        <input type="text" class="form-control" maxlength="13" id="inputLocationNameEn" placeholder="Location Name (EN)">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Storage Location</label>
                        <input type="text" class="form-control" id="inputStorageLocation" placeholder="Storage Location">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Phone No</label>
                        <input type="text" class="form-control" maxlength="13" id="inputPhoneNoMain" placeholder="Phone No">
                    </div>

                </div>

                <div style="text-align:center">

                    <button id="btnMainClearLoc" type="button" class="btn btn-dark mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg> ล้างข้อมูล</button>
                    <button id="btnSearchLoc" type="button" class="btn btn-success mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>  ค้นหาข้อมูล</button>

                </div>


            </div>


            <br />
            <div class="widget-heading">
                <h3 class="">ผลการค้นหา</h3>

            </div>
            <div class="col-md-12 text-right mb-1">
                <button id="btnAdd" type="button" class="btn btn-success mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg> เพิ่ม</button>

            </div>


            <div class="table-responsive mb-4 mt-4">
                <table id="tbSearchLocationResult" class="table table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center" >แก้ไข</th>
                            <th>Location Code </th>
                            <th>Location Name (Th) </th>
                            <th>Location Name (En) </th>
                            @*<th>Location Name Alias </th>*@
                            <th>Storage </th>
                            @*<th>Address </th>*@
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>

</div>


@section modalpanel {

    <div id="AddEditModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="hTitleEdit" class="modal-title">แก้ไขข้อมูล Location</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="frNew" class="needs-validation" novalidate>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Company Name:</label>
                                </div>
                                <div class="col-sm-10">
                                    <label id="lblcompanyName"></label>
                                </div>
                            </div>
                            @*<br />
            <div class="row">
                <div class="col-sm-2">
                    <label>Register Type:</label>
                </div>
                <div class="col-sm-10">
                    <input type="radio" id="rdoCompanyTypeNew" name="CompType" value="newsub">
                    <label for="new">New Subcontract</label>&nbsp;&nbsp;
                    <input type="radio" id="rdoCompanyTypeDealer" name="CompType" value="dealer">
                    <label for="deal">Dealer</label>
                </div>
            </div>*@
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span>Location Code:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputLocationCode" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Location Code.
                                    </div>
                                    <span class='chklocation' style="color:red;display:none;"></span>
                                </div>
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span> Location Name Alias:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputLocationAlias" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Location Name Alias.
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span> Location Name(TH):</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputLocationNameT" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล  Location Name(TH).
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label>Location Name(EN):</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputLocationNameE" style="width:300px" class="form-control">
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Storage Location:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputStorage" style="width:300px" class="form-control" >
                                </div>
                                <div class="col-sm-2">
                                    <label>Ship To:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputShip" style="width:300px" class="form-control" >
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Out of Service Storage location:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inoutOutStorage" style="width:300px" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <label>Vat branch Number:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputVat" style="width:300px" class="form-control">
                                </div>
                            </div>
                            <br />

                            <h5>Contract Phone</h5>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span> Phone No :</label> 
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputPhoneNo" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Phone No.
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span>  Company main contract phone:</label> 
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputMainPhone" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Company main contract phone.
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span> Installations contract phone:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputInstallationsPhone" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Installations contract phone.
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span>  Maintenence contract phone:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputMaintenencePhone" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Maintenence contract phone.
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Inventory contract phone:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputInventoryPhone" style="width:300px" class="form-control" >
                                </div>
                                <div class="col-sm-2">
                                    <label>Payment contract phone:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputPaymentPhone" style="width:300px" class="form-control" >
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Etc contract phone:</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="text" id="inputEtcPhone" style="width:300px" class="form-control" >
                                </div>
                            </div>
                            <br />

                            <h5>Contract Email</h5>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Company group mail:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="email" id="inputCompanyMail" style="width:300px" class="form-control">
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Email ให้ถูกต้อง
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label>Installation contract mail:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="email" id="inputInstallationMail" style="width:300px" class="form-control">
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Email ให้ถูกต้อง
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Maintanence contract mail:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="email" id="inputMaintanenceMail" style="width:300px" class="form-control">
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Email ให้ถูกต้อง
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label>Inventory contract mail:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="email" id="inputInventoryMail" style="width:300px" class="form-control">
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Email ให้ถูกต้อง
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Payment contract mail:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="email" id="inputPaymentMail" style="width:300px" class="form-control">
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Email ให้ถูกต้อง
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label>Etc contract mail:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="email" id="inputEtcMail" style="width:300px" class="form-control">
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Email ให้ถูกต้อง
                                    </div>
                                </div>
                            </div>
                            <br />

                            <h5>Address</h5>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Location Address:</label>
                                </div>
                                <div class="col-sm-4">
                                    <textarea id="inputLocationAddress" class="form-control" rows="2" style="width:300px;"></textarea>
                                </div>
                                <div class="col-sm-2">
                                    <label>Post Address:</label>
                                </div>
                                <div class="col-sm-4">
                                    <textarea id="inputPostAddress" class="form-control" rows="2" style="width:300px;"></textarea>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Tax Address:</label>
                                </div>
                                <div class="col-sm-4">
                                    <textarea id="inputTaxAddress" class="form-control" rows="2" style="width:300px;"></textarea>
                                </div><br />
                                <div class="col-sm-2">
                                    <label>WT Address:</label>
                                </div>
                                <div class="col-sm-4">
                                    <textarea id="inputWTAddress" class="form-control" rows="2" style="width:300px;"></textarea>
                                </div>
                            </div>
                            <br />

                            <h5>Bank </h5>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Bank code:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputBankCode" style="width:300px" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span> Bank Name:</label>
                                </div>
                                <div class="col-sm-4">
                                    <div class="row col-sm-12">
                                        <input type="text" id="inputBankName" style="width:280px" class="form-control" required>
                                        <div class="invalid-feedback">
                                            กรุณากรอกข้อมูล Bank Name.
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span> Bank Account No:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputBankAccountNo" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Bank Account No.
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span> Bank Account Name:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputBankAccountName" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Bank Account Name.
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Bank Branch No:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputBankBranchNo" style="width:300px" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span> Bank Branch Name:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputBankBranchName" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Bank Branch Name.
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span> Bank Attach File:</label>
                                </div>
                                <div class="col-sm-10">
                                    <div class="row col-sm-5">

                                        <div class="custom-file mb-4">
                                            @*<input type="file" class="custom-file-input" id="inputBankAttach"
               aria-describedby="uploadlHelp1" style="width:190px">
        <label class="custom-file-label" for="inputGroupFile01">เลือกไฟล์</label>*@

                                            <input type="hidden" id="hdupfileBankAttach" />
                                            <input type="file" class="custom-file-input" id="inputBankAttach" aria-describedby="uploadlHelp1" style="width:190px"
                                                   accept="image/jpeg,image/png,image/gif,image/bmp,image/tif,image/tiff" >
                                            <label class="custom-file-label" for="inputBankAttach" id="lbfileBankAttach">เลือกไฟล์</label>
                                            <small id="uploadlHelp1" class="form-text text-muted">ประเภทไฟล์ภาพที่รองรับ jpg,jpeg,bmp,gif,tif,tiff,png</small>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Panalty contract phone:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputPanaltyPhone" style="width:300px" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <label>Panalty contract mail:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="email" id="inputPanaltyMail" style="width:300px" class="form-control">
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Email ให้ถูกต้อง
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label> Contract phone:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputContractPhone" style="width:300px" class="form-control" >
                                </div>
                                <div class="col-sm-2">
                                    <label> Contract email:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="email" id="inputContractMail" style="width:300px" class="form-control">
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Email ให้ถูกต้อง
                                    </div>
                                </div>


                            </div>


                        </div>

                        <br />

                        <input type="hidden" id="hdMode">
                        <input type="hidden" id="hdLocationId">
                        <input type="hidden" id="hdCompanyId">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
                                ปิด
                            </button>
                            <button id="btnSave" type="button" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
                                บันทึก
                            </button>
                        </div>
                    </form>
                </div>
               
            </div>
        </div>
    </div>
}

@section scripts {

    <script type="text/javascript">
        var ss = $(".basic").select2({
            tags: true,
        });

            var oTable;
            $(document).ready(function () {
                inittbSearchResult();
                $("#btnSearchLoc").click(function (e) {

                    inittbSearchResult();
                });

                $("#btnMainClearLoc").click(function (e) {
                    clearMainData();
                });

                $("#btnAdd").click(function (e) {
                    openModal("new","");
                });

                $(".custom-file-input").on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });

                $('#inputBankAttach').change(function () {
                    CheckFileUpload('inputBankAttach');
                });

                $('#btnSave').click(function () {
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        if (Validateform() || ValidateUpload()) {
                                event.preventDefault();
                                event.stopPropagation();
                            } else {
                                onSave();
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');

                    });
                });

                $(document).on('show.bs.modal', '.modal', function () {
                    var zIndex = 1040 + (10 * $('.modal:visible').length);
                    $(this).css('z-index', zIndex);
                    setTimeout(function () {
                        $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
                    }, 0);
                });

                $(document).on('hidden.bs.modal', '.modal', function () {
                    $('.modal:visible').length && $(document.body).addClass('modal-open');
                });

            });

            //'use strict';
            //window.addEventListener('load', function () {
            //    // Fetch all the forms we want to apply custom Bootstrap validation styles to
            //    var forms = document.getElementsByClassName('needs-validation');
            //    // Loop over them and prevent submission
            //    var validation = Array.prototype.filter.call(forms, function (form) {
            //        form.addEventListener('submit', function (event) {

            //            if (form.checkValidity() === false || ValidateUpload()) {
            //                event.preventDefault();
            //                event.stopPropagation();
            //            } else {
            //                onSave();
            //                event.preventDefault();
            //                event.stopPropagation();
            //            }
            //            form.classList.add('was-validated');
            //        }, false);
            //    });
            //}, false);

        function inittbSearchResult() {

               var oTable = $('#tbSearchLocationResult').DataTable({
                processing: true, // for show progress bar
                serverSide: true, // for process server side
                filter: false, // this is for disable filter (search box)
                orderMulti: false, // for disable multiple column at once
                pageLength: 10,
                order: [],
                autoWidth: false,
                searching: false,
                destroy: true,
                lengthChange: false,
                "oLanguage": {
                    "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                    "sInfo": "Showing page _PAGE_ of _PAGES_",
                    "sSearch": false,
                    "sLengthMenu": "Results :  _MENU_",
                },
                 "scrollX": false,
                  "language": {
                  "zeroRecords": "No data found.",
                   "decimal": ",",
                  "thousands": "."
                    },
                    ajax: {
                        url: '@Url.Action("Search", "Location")',
                        type: "POST",
                        datatype: "JSON",
                        //dataSrc:"",
                        data: function (d) {
                            d.locationCode = $("#inputLocationCodeMain").val(),
                            d.locationNameAilas = $("#inputLocationNameAilas").val(),
                            d.locationNameTh = $("#inputLocationNameTh").val(),
                            d.locationNameEn = $("#inputLocationNameEn").val(),
                            d.storageLocation = $("#inputStorageLocation").val(),
                            d.phoneNo = $("#inputPhoneNoMain").val()

                        }
                    },
                    columns: [

                        {
                            data: null, width: "10%", render: function (data, type, row) {
                                if (row.CompanyStatus == 'A') {
                                    return "  <ul class='table-controls'><li> <a href='#' onclick=openModal('edit','" + row.LocationId + "');return false;  data-toggle='modal' data-target='.bd-addedit-modal-xl' data-original-title='แก้ไข'><svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-edit'><path d='M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7'></path><path d='M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z'></path></svg></a></li>";
                                } else {
                                    return "  <ul class='table-controls'><li> <a href='#' onclick=openModal('edit','" + row.LocationId + "');return false;  data-toggle='modal' data-target='.bd-addedit-modal-xl' data-original-title='แก้ไข'><svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-edit'><path d='M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7'></path><path d='M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z'></path></svg></a></li> <li> <a onclick=deleteData('" + row.LocationId + "');return false; href='#'  data-toggle='tooltip' data-placement='top' title='Delete'><svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-trash-2'><polyline points='3 6 5 6 21 6'></polyline><path d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2'></path><line x1='10' y1='11' x2='10' y2='17'></line><line x1='14' y1='11' x2='14' y2='17'></line></svg></a>";

                                }
                            }
                           // orderable: false,
                            //className: 'text-center'
                        },
                        { "data": "LocationCode", "width": "20%"  },
                        { "data": "LocationNameTh", "width": "25%" },
                        { "data": "LocationNameEn", "width": "25%" },
                        { "data": "StorageLocation", "width": "20%" }
                ],
                "order": [[0, "desc"]],
                "stripeClasses": [],
                drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }

                });

        }



        function openModal(mode, locationId) {

            clearData();

            $('#hdMode').val(mode);
            $('#hdLocationId').val(locationId);

            if (mode == "edit") {
                //$("#txtCompanyCode").prop("disabled", true);
                $("#hTitleEdit").text('แก้ไข Location');

                getDataById(locationId);
            }
            else {
                $("#hTitleEdit").text('เพิ่ม Location');
                $("#btnSave").show();

                $("#frNew")[0].reset();
                //form.find('button').on('click', (event) => {
                //    form.find('input, select, textarea').val('');
                //});
            }

            $('#AddEditModal').modal('show');

        }

        function clearMainData() {
            $("#inputLocationCodeMain").val(''),
                $("#inputLocationNameAilas").val(''),
                $("#inputLocationNameTh").val(''),
                $("#inputLocationNameEn").val(''),
                $("#inputStorageLocation").val(''),
                $("#inputPhoneNoMain").val('')
        }

        function clearData() {

            $("[name=CompType]").filter("[value='true']").prop("checked", false);
            $("#inputLocationCode").val('');
            $("#inputLocationAlias").val('');
            $("#LocationNameT").val('');
            $('#LocationNameE').val('');
            $('#hdCompanyId').val('');
            //$('#inputTax_id').val('');
            //$("[name=vat_type]").filter("[value='true']").prop("checked", false);

        }

        function getDataById(locationId) {
              $.ajax({
                  url: '@Url.Action("GetDataById", "Location")',
                  type: 'POST',
                  data: { 'locationId': locationId},
                  dataType: "json",
              success: function (result) {
                  console.log(result)
                  if (result != null) {

                    
                      if (result.CompanyStatus == 'A') {
                          $("#btnSave").hide();
                      } else {
                          $("#btnSave").show();
                      }
                     

                      $("#lblcompanyName").text(result.CompanyNameTh);

                      $('#inputLocationCode').val(result.LocationCode);

                      $('#inputLocationAlias').val(result.LocationNameAlias);
                      $('#inputLocationNameT').val(result.LocationNameTh);
                      $('#inputLocationNameE').val(result.LocationNameEn);
                      $('#inputStorage').val(result.StorageLocation);
                      $('#inputShip').val(result.ShipTo);
                      $('#inoutOutStorage').val(result.OutOfServiceStorageLocation);
                      $('#inputVat').val(result.VatBranchNumber);
                      $('#inputPhoneNo').val(result.Phone);
                      $('#inputMainPhone').val(result.CompanyMainContractPhone);
                      $('#inputInstallationsPhone').val(result.InstallationsContractPhone);
                      $('#inputMaintenencePhone').val(result.MaintenanceContractPhone);
                      $('#inputInventoryPhone').val(result.InventoryContractPhone);
                      $('#inputPaymentPhone').val(result.PaymentContractPhone);
                      $('#inputEtcPhone').val(result.EtcContractPhone);
                      $('#inputCompanyMail').val(result.CompanyGroupMail);
                      $('#inputInstallationMail').val(result.InstallationsContractMail);
                      $('#inputMaintanenceMail').val(result.MaintenanceContractMail);
                      $('#inputInventoryMail').val(result.InventoryContractMail);
                      $('#inputPaymentMail').val(result.PaymentContractMail);
                      $('#inputEtcMail').val(result.EtcContractMail);

                      $('#inputLocationAddress').val(result.LocationAddress);

                      $("#inputPostAddress").val(result.PostAddress)
                      $("#inputTaxAddress").val(result.TaxAddress)
                      $("#inputWTAddress").val(result.WtAddress)

                      $('#inputBankCode').val(result.BankCode);
                      $('#inputBankName').val(result.BankName);
                      $('#inputBankAccountNo').val(result.BankAccountNo);
                      $('#inputBankAccountName').val(result.BankAccountName);
                      $('#inputBankBranchNo').val(result.BankBranchCode);
                      $('#inputBankBranchName').val(result.BankBranchName);
                      $('#inputPanaltyPhone').val(result.PenaltyContractPhone);
                      $('#inputPanaltyMail').val(result.PenaltyContractMail);
                      $('#inputContractPhone').val(result.ContractPhone);
                      $('#inputContractMail').val(result.ContractMail);
                      $('#hdCompanyId').val(result.CompanyId);

                      if (result.BankAttachFile != null) {
                          $('#lbfileBankAttach').html(result.BankAttachFile);
                          $('#hdupfileBankAttach').val(result.file_id__BankAttach);
                          //$('#linkdownload').text(data.SlipAttachFile);
                          //DownloadFileSlip(data.SlipAttachFile);
                      }

                  }
                  },
                  error: function (result) {

                  }

            });
    }

        function onSave() {
            //var location = new Object();

            //location.LocationId = $('#hdLocationId').val();
            //location.LocationCode = $('#inputLocationCode').val();
            //location.LocationNameAlias =  $('#inputLocationAlias').val();
            //location.LocationNameTh = $('#inputLocationNameT').val();
            //location.LocationNameEn =$('#inputLocationNameE').val();
            //location.StorageLocation =$('#inputStorage').val();
            //location.ShipTo =$('#inputShip').val();
            //location.OutOfServiceStorageLocation =$('#inoutOutStorage').val();
            //location.VatBranchNumber =$('#inputVat').val();
            //location.Phone =$('#inputPhoneNo').val();
            //location.CompanyMainContractPhone =$('#inputMainPhone').val();
            //location.InstallationsContractPhone =$('#inputInstallationsPhone').val();
            //location.MaintenanceContractPhone =$('#inputMaintenencePhone').val();
            //location.InventoryContractPhone =$('#inputInventoryPhone').val();
            //location.PaymentContractPhone =$('#inputPaymentPhone').val();
            //location.EtcContractPhone =$('#inputEtcPhone').val();
            //location.CompanyGroupMail = $('#inputCompanyMail').val();
            //location.InstallationsContractMail =$('#inputInstallationMail').val();
            //location.MaintenanceContractMail =$('#inputMaintanenceMail').val();
            //location.InventoryContractMail =$('#inputInventoryMail').val();
            //location.PaymentContractMail = $('#inputPaymentMail').val();
            //location.EtcContractMail = $('#inputEtcMail').val();

            //location.LocationAddress =$('#inputLocationAddress').val();

            //location.PostAddress = $("#inputPostAddress").val()
            //location.TaxAddress =$("#inputTaxAddress").val()
            //location.WtAddress =$("#inputWTAddress").val()

            //location.BankCode = $('#inputBankCode').val();
            //location.BankName =$('#inputBankName').val();
            //location.BankAccountNo =$('#inputBankAccountNo').val();
            //location.BankAccountName =$('#inputBankAccountName').val();
            //location.BankBranchCode =$('#inputBankBranchNo').val();
            //location.BankBranchName =$('#inputBankBranchName').val();
            //location.PenaltyContractPhone =$('#inputPanaltyPhone').val();
            //location.PenaltyContractMail =$('#inputPanaltyMail').val();
            //location.ContractPhone = $('#inputContractPhone').val();
            //location.ContractMail = $('#inputContractMail').val();
            //location.CompanyId = $('#hdCompanyId').val();

            var formData = new FormData();

            formData.append("LocationId", $('#hdLocationId').val());
            formData.append("LocationCode", $('#inputLocationCode').val());
            formData.append("LocationNameAlias", $('#inputLocationAlias').val());
            formData.append("LocationNameTh", $('#inputLocationNameT').val());
            formData.append("LocationNameEn", $('#inputLocationNameE').val());
            formData.append("StorageLocation", $('#inputStorage').val());
            formData.append("ShipTo", $('#inputShip').val());
            formData.append("OutOfServiceStorageLocation", $('#inoutOutStorage').val());
            formData.append("VatBranchNumber", $('#inputVat').val());
            formData.append("Phone", $('#inputPhoneNo').val());
            formData.append("CompanyMainContractPhone", $('#inputMainPhone').val());
            formData.append("InstallationsContractPhone", $('#inputInstallationsPhone').val());
            formData.append("MaintenanceContractPhone", $('#inputMaintenencePhone').val());
            formData.append("InventoryContractPhone", $('#inputInventoryPhone').val());
            formData.append("PaymentContractPhone", $('#inputPaymentPhone').val());
            formData.append("EtcContractPhone", $('#inputEtcPhone').val());
            formData.append("CompanyGroupMail", $('#inputCompanyMail').val());
            formData.append("InstallationsContractMail", $('#inputInstallationMail').val());
            formData.append("MaintenanceContractMail", $('#inputMaintanenceMail').val());
            formData.append("InventoryContractMail", $('#inputInventoryMail').val());
            formData.append("PaymentContractMail", $('#inputPaymentMail').val());
            formData.append("EtcContractMail", $('#inputEtcMail').val());

            formData.append("LocationAddress", $('#inputLocationAddress').val());

            formData.append("PostAddress", $("#inputPostAddress").val());
            formData.append("TaxAddress", $("#inputTaxAddress").val());
            formData.append("WtAddress", $("#inputWTAddress").val());

            formData.append("BankCode", $('#inputBankCode').val());
            formData.append("BankName", $('#inputBankName').val());
            formData.append("BankAccountNo", $('#inputBankAccountNo').val());
            formData.append("BankAccountName", $('#inputBankAccountName').val());
            formData.append("BankBranchCode", $('#inputBankBranchNo').val());
            formData.append("BankBranchName", $('#inputBankBranchName').val());
            formData.append("PenaltyContractPhone", $('#inputPanaltyPhone').val());
            formData.append("PenaltyContractMail", $('#inputPanaltyMail').val());
            formData.append("ContractPhone", $('#inputContractPhone').val());
            formData.append("ContractMail", $('#inputContractMail').val());
            formData.append("CompanyId", $('#hdCompanyId').val());

            formData.append("File_BankAttach", $('#inputBankAttach').get(0).files[0]);
            formData.append("BankAttachFile", $('#lbfileBankAttach').text());

            $.ajax({
                   url: '@Url.Action("OnSave", "Location")',
                   type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                async: false,
                success: function (result) {
                       if (result.Status == true) {
                           if ($('#hdMode').val() == 'edit') {

                           } else {
                               bootbox.alert(result.Message);
                               clearData();
                           }

                           inittbSearchResult();
                           $('#AddEditModal').modal('hide');

                          }
                        else {
                               bootbox.alert(result.Message);

                            }
                  },
                  error: function (result) {
                      bootbox.alert(result.Message);
                  }

            });

        }

         function deleteData(locationId) {
           bootbox.confirm("คุณต้องการลบข้อมูล?"
            , function (result) {
            if (result == true) {
                 $.ajax({
                   url: '@Url.Action("OnDelete", "Location")',
                   type: 'POST',
                     data: { 'locationId': locationId },
                   dataType: "json",
                     success: function (result) {
                         if (result.Status == true) {
                             inittbSearchResult();
                             bootbox.alert(result.Message);
                         }
                  },
                  error: function (result) {
                      bootbox.alert(result.Message);
                  }

            });
            }
        });
        }

        function CheckFileUpload(inputId) {
            var input = document.getElementById(inputId);
            var files = input.files;
            var formData = new FormData();

            for (var i = 0; i != files.length; i++) {
                formData.append("files", files[i]);
            }

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("CheckFileUpload", "Location")',
                    processData: false,
                    contentType: false,
                    dataType: "json",
                    data: formData,
                    success: function (data) {
                        if (data.status) {
                            $('#hdupfileBankAttach').val(data.file_id);
                        }

                        bootbox.alert({
                            title: "System Information",
                            message: data.message,
                            size: "small",
                            callback: function (result) {
                                console.log('This was logged in the callback: ' + data.status);
                            }
                        });

                    },
                    error: function (xhr) {

                        console.log(xhr)
                    }
                }
            );
        }

        function ValidateUpload() {
            var hasError = false;
            if ($('#hdupfileBankAttach').val() == "") {
                hasError = true;
                $("#inputBankAttach").attr('required', 'required');
            }
            else {
                $("#inputBankAttach").removeAttr('required');
            }

            return hasError;
        }

        function Validateform() {
            var haserror = false;
            var hasUser;
            if ($('#hdMode').val() != "edit") {
                var resultlocationcode = CheckLocationcode();
                if (resultlocationcode.Status) {
                    $('.chklocation').hide();
                }
                else {
                    $('.chklocation').text(resultlocationcode.Message);
                    $('.chklocation').show();
                }
                hasUser = resultlocationcode.Status;
            }
            else {
                hasUser = true;
            }
           
            if ($('#inputLocationCode').val() == '' || $('#inputLocationNameT').val() == '' ||
                $('#inputPhoneNo').val() == '' || $('#inputMainPhone').val() == '' || $('#inputInstallationsPhone').val() == '' ||
                $('#inputMaintenencePhone').val() == '' || $('#inputBankName').val() == '' || $('#inputBankAccountNo').val() == '' ||
                $('#inputBankAccountName').val() == '' || $('#inputBankBranchName').val() == '' || !hasUser) {
                haserror = true;
            }
            return haserror;
        }

        function CheckLocationcode(mode) {
            
            var jqXHR = $.ajax({
                type: "POST",
                async: false,
                url: '@Url.Action("CheckLocationCode", "Location")',
                data: { locationcode: $('#inputLocationCode').val() },
                dataType: "json"
            });
            return jqXHR.responseJSON;
        }

    </script>

}
