<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SubcontractProfile</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />



    <link rel="stylesheet" href="~/css/site.css" />
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css">




</head>
<body>

    <!-- plugins:js -->
    <script src="~/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="~/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/todolist.js"></script>
    <script src="~/js/chart.js"></script>
    <script src="~/js/file-upload.js"></script>
    @*endinject
        Custom js for this page*@
    <script src="~/js/dashboard.js"></script>

    <div class="container-scroller">

        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">

                <div>
                    <a class="navbar-brand brand-logo" href="index.html"> <img src="~/img/ais.png" style="height:39px;width:104px;" class="mr-2" alt="logo" /></a>

                </div>
                <button class="navbar-toggler navbar-toggler hidden-xs-down align-self-center " type="button" data-toggle="minimize">
                    <span class="fa fa-align-justify"></span>
                </button>
                <button class="navbar-toggler navbar-toggler-left d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="fa fa-align-justify"></span>
                </button>

            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">

                @*<ul class="navbar-nav mr-lg-2">
                        <li class="nav-item nav-search d-none d-lg-block">
                            <div class="input-group">
                                <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                                    <span class="input-group-text" id="search">
                                        <i class="ti-search"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
                            </div>
                        </li>
                    </ul>*@
                <ul class="navbar-nav navbar-nav-right">

                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" data-target="#dw-s2" id="profileDropdown">
                            <img src="~/img/userlogo.png" style="height:39px;width:39px" alt="profile" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" id="dw-s2" aria-labelledby="profileDropdown">
                            <a class="dropdown-item">
                                <i class="ti-settings text-primary"></i>
                                Settings
                            </a>
                            <a class="dropdown-item">
                                <i class="ti-power-off text-primary"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>
    </div>

    <div class="container-fluid page-body-wrapper">

        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="fa fa-tasks menu-icon"></i>
                        <span class="menu-title">Doc&Instruction</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a href="@Url.Action("DashBoard", "DocInstruction")" class="nav-link">
                                    DashBoard
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("formelement", "DocInstruction")" class="nav-link">
                                    Formelements
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("Table", "DocInstruction")" class="nav-link">
                                    Tables
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Charts", "DocInstruction")" class="nav-link">
                                    Charts
                                </a>
                            </li>


                        </ul>
                    </div>

                </li>

                <li class="nav-item">
                    <a href="@Url.Action("Index", "Test")" class="nav-link">
                        <i class="fa fa-exclamation-triangle menu-icon"></i>
                        <span class="menu-title">TestPage</span>

                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Login", "Account")" class="nav-link">
                        <i class="fa fa-registered menu-icon" aria-hidden="true"></i>
                        <span class="menu-title">Login</span>

                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Account")" class="nav-link">
                        <i class="fa fa-registered menu-icon" aria-hidden="true"></i>
                        <span class="menu-title">Register</span>

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#registrationmenu" aria-expanded="false" aria-controls="registrationmenu">
                        <i class="fa fa-tasks menu-icon"></i>
                        <span class="menu-title">Registration</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="registrationmenu">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a href="@Url.Action("SearchCompanyVerify", "Registration")" class="nav-link">
                                    Company Verify
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ActivateProfile", "Registration")" class="nav-link">
                                    Activate Profile
                                </a>
                            </li>

                        </ul>
                    </div>

                </li>
            </ul>
        </nav>

        <div style="margin-top:10px;" class="col-md-10 col-sm-10">
            @RenderBody()
        </div>


    </div>


    <div class="modal fade" id="MessageFeedbackPopUp" tabindex="-1" role="dialog" aria-labelledby="MessageFeedbackPopUpLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" id="headerMessageFeedback">
                    <h4 class="modal-title" id="MessageFeedbackPopUpLabel">Notification</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-body">
                    <label id="lbMessageFeedback"></label>
                </div>
                <div class="modal-footer">
                   
                </div>
            </div>
        </div>
    </div>


    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - SubcontractProfile - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@




    <script src="~/jquery/jquery.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
<script>

    function onPanelToggle(e) {
        var id = $("#" + e.id + "Arrow");
        var cls = id.attr("class");
        if (cls === "fa fa-chevron-circle-down fa-lg") {
            id.removeClass();
            id.addClass("fa fa-chevron-circle-up fa-lg");
        }
        else {
            id.removeClass();
            id.addClass("fa fa-chevron-circle-down fa-lg");
        }
    }


    function showFeedback(type, msg, title, footer) {
        //if (msg !== "") {
        $("#headerMessageFeedback").removeClass();
        $("#headerMessageFeedback").addClass("modal-header");
        if (type === "primary") { $("#headerMessageFeedback").addClass("btn-primary"); }
        else if (type === "success") { $("#headerMessageFeedback").addClass("btn-success"); }
        else if (type === "info") { $("#headerMessageFeedback").addClass("btn-info"); }
        else if (type === "warning") { $("#headerMessageFeedback").addClass("btn-warning"); }
        else if (type === "error") { $("#headerMessageFeedback").addClass("btn-danger"); }
        else if (type === "light") { $("#headerMessageFeedback").addClass("btn-light"); }
        else if (type === "secondary") { $("#headerMessageFeedback").addClass("btn-secondary"); }
        else { $("#headerMessageFeedback").addClass("btn-default"); }

        if (title !== undefined) $("#MessageFeedbackPopUpLabel").text(title); else $("#MessageFeedbackPopUpLabel").text("Notification");


        $("#lbMessageFeedback").html(msg);
        if (footer != "") {
            $('.modal-footer').html(footer)
        }
        $("#MessageFeedbackPopUp").modal('show');
        //}
    }


   

</script>