
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@using System.Resources;
@using System.Text;

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Company Profile";
}

<div id="pageID" style="display:none;">CompanyProfile</div>
<div id="controllername" data-url="@Url.Action("Action", "CompanyProfile")" style="display:none;"></div>
<div id="accountcontrollername" data-url="@Url.Action("Action", "Account")" style="display:none;"></div>

<style>
    .was-validated .custom-select:invalid + .select2 .select2-selection {
        border-color: #dc3545 !important;
    }

    .was-validated .custom-select:valid + .select2 .select2-selection {
        border-color: #28a745 !important;
    }

    *:focus {
        outline: 0px;
    }
</style>
<!-- Content -->
<div class="col-xl-5 col-lg-6 col-md-5 col-sm-12 ">

    <div class="user-profile layout-spacing">
        <div class="widget-content widget-content-area">
            <div class="d-flex justify-content-between">
                <h3 class="">@Localizer["CompanyProfile"]</h3>
                <a id="btnEdit" href="#" class="mt-2 edit-profile">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3">
                        <path d="M12 20h9"></path>
                        <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                    </svg>
                </a>
            </div>
            <div class="text-center user-info">
                <span id="lblStatusSub" class='badge outline-badge-secondary shadow-none'> </span>
                <p id=lblCompanyName class=""></p>

            </div>
            <div class="user-info-list">

                <div class="">
                    <ul class="contacts-block list-unstyled">
                        <li class="contacts-block__item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-coffee"><path d="M18 8h1a4 4 0 0 1 0 8h-1"></path><path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path><line x1="6" y1="1" x2="6" y2="4"></line><line x1="10" y1="1" x2="10" y2="4"></line><line x1="14" y1="1" x2="14" y2="4"></line></svg>  <label id="lblsubcontractType" class="col-sm-8 col-form-label"></label>
                        </li>
                        <li class="contacts-block__item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>  <label id="lblTaxId" class="col-sm-8 col-form-label"></label>
                        </li>

                        <li class="contacts-block__item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg> <label id="lblRegisterDate" class="col-sm-8 col-form-label"></label>
                        </li>

                        <li class="contacts-block__item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg><label id="lblEmailCompany" class="col-sm-8 col-form-label"></label>
                        </li>
                        <li class="contacts-block__item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg> <label id="lblTelCompany" class="col-sm-8 col-form-label"></label>
                        </li>

                    </ul>

                    <input type="hidden" id="hdMainCompanyId">
                </div>
            </div>
        </div>
    </div>

    <div class="skills layout-spacing ">
        <div class="widget-content widget-content-area">
            <h3 class="">@Localizer["BankAccountInformation"]</h3>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">@Localizer["BankName"] :</label>
                <div class="col-sm-7">
                    <p id="lblbank_name" class=""></p>
                </div>

                <label class="col-sm-5 col-form-label">@Localizer["Branch"] :</label>
                <div class="col-sm-7">
                    <p id="lblbranch_name" class=""></p>
                </div>

                <label class="col-sm-5 col-form-label">@Localizer["AccountType"] :</label>
                <div class="col-sm-7">
                    <p id="lblbank_account_type" class=""></p>
                </div>

                <label class="col-sm-5 col-form-label">@Localizer["AccountName"] :</label>
                <div class="col-sm-7">
                    <p id="lblaccount_name" class=""></p>
                </div>

                <label class="col-sm-5 col-form-label">@Localizer["AccountNumber"] :</label>
                <div class="col-sm-7">
                    <p id="lblaccount_number" class=""></p>
                </div>
            </div>
        </div>
    </div>

    <div class="skills layout-spacing ">
        <div class="widget-content widget-content-area">
            <h3 class="">@Localizer["ForAISStaff"]</h3>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">@Localizer["ContractStartDate"] :</label>
                <div class="col-sm-7">
                    <p id="lblDatecontractstart" class=""></p>
                </div>

                <label class="col-sm-5 col-form-label">@Localizer["ContractEndDate"] :</label>
                <div class="col-sm-7">
                    <p id="lblDatecontractend" class=""></p>
                </div>

                <label class="col-sm-5 col-form-label">@Localizer["VenderCode"] :</label>
                <div class="col-sm-7">
                    <p id="lblVendercode" class=""></p>
                </div>

                <label class="col-sm-5 col-form-label">@Localizer["Remark"] :</label>
                <div class="col-sm-7">
                    <p id="lblRemarkForSub" class=""></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-7 col-lg-6 col-md-7 col-sm-12 ">

    <div class="skills layout-spacing ">
        <div class="widget-content widget-content-area">
            <h3 class="">@Localizer["CompanyAddress"]</h3>

            <div class="table-responsive mb-4 mt-4">
                <table id="tbAddressResultSearch" class="table table-hover" style="width:100%">
                    <thead>
                        <tr>

                            <th width="30%">@Localizer["AddressType"]</th>
                            <th width="80%">@Localizer["Address"]</th>

                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>

    <div class="skills layout-spacing ">
        <div class="widget-content widget-content-area">
            <h3 class="">@Localizer["ContractCompany"]</h3>

            <div class="form-group row">

                <label class="col-sm-3 col-form-label">@Localizer["EmailCompany"] :</label>
                <div class="col-sm-8">
                    <p id="lblCompanyEmail" class=""></p>
                </div>

                <label class="col-sm-3 col-form-label">@Localizer["ContractName"] :</label>
                <div class="col-sm-8">
                    <p id="lblContactName" class=""></p>

                </div>

                <label class="col-sm-3 col-form-label">@Localizer["EmailContract"] :</label>
                <div class="col-sm-8">
                    <p id="lblContractEmail" class=""></p>
                </div>

                <label class="col-sm-3 col-form-label">@Localizer["Tel"] :</label>
                <div class="col-sm-8">
                    <p id="lblContactPhone" class=""></p>
                </div>
            </div>

            <h3 class="">@Localizer["ContractDepartment"]</h3>
            <div class="row col-sm-5">
                <label>@Localizer["InstallationDepartment"]</label>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">@Localizer["ContractName"] :</label>
                <div class="col-sm-8">
                    <p id="lbldept_of_install_name" class=""></p>
                </div>

                <label class="col-sm-3 col-form-label">@Localizer["MobileNo"] :</label>
                <div class="col-sm-8">
                    <p id="lbldept_of_install_phone" class=""></p>

                </div>

                <label class="col-sm-3 col-form-label">@Localizer["Email"] :</label>
                <div class="col-sm-8">
                    <p id="lbldept_of_install_email" class=""></p>
                </div>
            </div>
            <div class="row col-sm-5">
                <label>@Localizer["MaintenanceDepartment"]</label>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">@Localizer["ContractName"] :</label>
                <div class="col-sm-8">
                    <p id="lbldept_of_mainten_name" class=""></p>
                </div>

                <label class="col-sm-3 col-form-label">@Localizer["MobileNo"] :</label>
                <div class="col-sm-8">
                    <p id="lbldept_of_mainten_phone" class=""></p>

                </div>

                <label class="col-sm-3 col-form-label">@Localizer["Email"] :</label>
                <div class="col-sm-8">
                    <p id="lbldept_of_mainten_email" class=""></p>
                </div>
            </div>
            <div class="row col-sm-5">
                <label>@Localizer["AccountingDepartment"]</label>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">@Localizer["ContractName"] :</label>
                <div class="col-sm-8">
                    <p id="lbldept_of_account_name" class=""></p>
                </div>

                <label class="col-sm-3 col-form-label">@Localizer["MobileNo"] :</label>
                <div class="col-sm-8">
                    <p id="lbldept_of_account_phone" class=""></p>

                </div>

                <label class="col-sm-3 col-form-label">@Localizer["Email"] :</label>
                <div class="col-sm-8">
                    <p id="lbldept_of_account_email" class=""></p>
                </div>
            </div>


        </div>
    </div>

</div>

@section modalpanel {

    <div class="modal fade" id="AddEditModal" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="hTitleEdit" class="modal-title">@Localizer["EditCompanyProfile"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    @*<form id="frNew" class="needs-validation" novalidate>*@
                    <input type="hidden" id="hdCompanyId" name="hdCompanyId" value="">
                    <div class="row mb-4">
                        <div class="form-group col-md-12 need-validate-checktyperegister">

                            <label>@Localizer["RegisterType"]@*ประเภทผู้สมัคร*@ </label>  <span style="color:red">*</span><br />
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="rdoCompanyType1" name="customRadioSucRegisEdit" class="custom-control-input is-validate" value="NewSubContract" required>
                                <label class="custom-control-label" for="rdoCompanyType1">New Subcontract</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="rdoCompanyType2" name="customRadioSucRegisEdit" class="custom-control-input is-validate " value="Dealer" required>
                                <label class="custom-control-label" for="rdoCompanyType2">Dealer</label>
                                <div class="invalid-feedback">	&nbsp;	&nbsp;	&nbsp;Please select type.</div>
                            </div>
                            <input type="hidden" id="hdrdtype" class="form-control is-validate" required />
                        </div>

                        <div id="divnewsubcontract" class="container needs-validation-newregister" novalidate>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right">
                                            <label>@Localizer["JuristicPersonRegistrationNumber"]@*เลขทะเบียนนิติบุคล*@ :</label> <span style="color:red">*</span>
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <input id="inputTax_id" type="text" class="form-control inputValidation" placeholder="@Localizer["JuristicPersonRegistrationNumber"]"
                                                   aria-label="Recipient's username" maxlength="13" required style="width:300px" />
                                            <div class="invalid-feedback">
                                                @Localizer["ErrorJuristicPersonRegistrationNumber"]@*กรุณาระบุเลขทะเบียนนิติบุคคล*@
                                            </div>
                                            <div class="input-group" style="display:none;">
                                                <input id="inputTax_id" type="text" class="form-control" placeholder="@Localizer["JuristicPersonRegistrationNumber"]"
                                                       aria-label="Recipient's username" maxlength="13" style="width:100px" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-success" id="btnsearchrevenue" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                    <div class="form-row">
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right">
                                            <label>@Localizer["CompanyAilas"]@*ชื่อย่อบริษัท*@ :</label>
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <input id="inputCompany_alias" type="text" placeholder="@Localizer["CompanyAilas"]" class="form-control" style="width:300px" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=" row  my-3">
                                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                    <div class="form-row">
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right">
                                            <label>@Localizer["NameofJuristicPersonTH"]@*ชื่อนิติบุคคล(ไทย)*@ :</label> <span style="color:red">*</span>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                            <select class="form-control form-control" id="ddlprefixcompany_name_th"></select>

                                        </div>
                                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                            <input id="inputCompany_name_th" type="text" placeholder="@Localizer["NameofJuristicPersonTH"]" class="form-control inputValidation"
                                                   maxlength="100" required style="width:165px" />
                                            <div class="invalid-feedback">
                                                @Localizer["ErrorNameofJuristicPersonTH"]
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                    <div class="form-row">
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right">
                                            <label>@Localizer["NameofJuristicPersonEN"]@*ชื่อนิติบุคคล(อังกฤษ)*@ :</label> <span style="color:red">*</span>
                                        </div>


                                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                            <select class="form-control form-control" id="ddlprefixcompany_name_en"></select>

                                        </div>
                                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                            <input id="inputCompany_name_en" type="text" placeholder="@Localizer["NameofJuristicPersonEN"]" class="form-control inputValidation"
                                                   maxlength="100" required style="width:165px" />
                                            <div class="invalid-feedback">
                                                @Localizer["ErrorNameofJuristicPersonEN"]
                                            </div>
                                        </div>


                                    </div>


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                    <div class="form-row">
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right">
                                            <label>@Localizer["TaxwithholdName"]@*ชื่อภาษีหัก ณ ที่จ่าย*@ :</label>
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <input id="inputWT_name" type="text" class="form-control inputValidation" placeholder="@Localizer["TaxwithholdName"]"
                                                   aria-label="Recipient's username" maxlength="13" required style="width:300px">
                                            <div class="invalid-feedback">
                                                @Localizer["ErrorTaxwithholdName"]
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                    <div class="form-row">
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right">
                                            <label>@Localizer["VATName"] :</label>
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" name="vat_type" id="chkvat_typeT" value="VAT" checked class="custom-control-input">
                                                <label class="custom-control-label" for="chkvat_typeT"> @Localizer["VAT"]</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" name="vat_type" id="chkvat_typeE" value="NON_VAT" class="custom-control-input">
                                                <label class="custom-control-label" for="chkvat_typeE"> @Localizer["NonVAT"]</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>

                        <div id="divdealer" class="container needs-validation-dealer" novalidate style="display:none;">


                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                    <div class="form-row">
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right">
                                            <label>@Localizer["LocationCode"]@*Location Code*@ :</label>
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <input type="text" class="form-control inputValidationdealer"
                                                   aria-label="Location Code" id="txtlocationcode" maxlength="100" required style="width:300px" />
                                            <div class="invalid-feedback">
                                                @Localizer["ErrorLocationCode"]
                                            </div>
                                            <div class="input-group" style="display:none;">
                                                <input type="text" class="form-control"
                                                       aria-label="Location Code" id="txtlocationcode" maxlength="100" style="width:175px" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-success" id="btnsearchlocation" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                    <div class="form-row">
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right">
                                            <label>@Localizer["DistributionChannel"]@*Distribution Channel*@ :</label>
                                        </div>

                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <input type="hidden" id="hddistribution" />
                                            <input type="text" class="form-control inputValidationdealer" id="txtdistribution" maxlength="250" required style="width:300px" />
                                            <div class="invalid-feedback">
                                                @Localizer["ErrorDistributionChannel"]
                                            </div>
                                        </div>
                                    </div>

                                </div>




                            </div>


                            <div class="row my-3">
                                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                    <div class="form-row">
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right">
                                            <label>@Localizer["LocationName"]@*Location Name*@ :</label>
                                        </div>

                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <input type="text" class="form-control inputValidationdealer" id="txtlocationname"
                                                   maxlength="250" required style="width:300px" />
                                            <div class="invalid-feedback">
                                                @Localizer["ErrorLocationName"]
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                    <div class=" form-row">
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right">
                                            <label> @Localizer["ChannelSaleGroup"] :</label>
                                        </div>

                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <input type="hidden" id="hdchannelsalegroup" />
                                            <input type="text" class="form-control" id="txtchannelsalegroup" style="width:300px" />
                                        </div>
                                    </div>

                                </div>

                            </div>


                            <div class="row my-3">
                                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                    <div class="form-row">
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right">
                                            <label>@Localizer["JuristicPersonRegistrationNumber"]@*เลขทะเบียนนิติบุคคล*@ :</label>
                                        </div>

                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <input type="text" class="form-control inputValidationdealer" id="txttax_id_dealer"
                                                   maxlength="100" required style="width:300px" />
                                            <div class="invalid-feedback">
                                                @Localizer["ErrorJuristicPersonRegistrationNumber"]
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                    <div class="form-row">
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right">
                                            <label>@Localizer["CompanyAilas"]@*ชื่อย่อบริษัท*@ :</label>
                                        </div>


                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <input type="text" class="form-control" id="txtcompany_alias_dealer" maxlength="100" style="width:300px" />
                                        </div>
                                    </div>

                                </div>




                            </div>

                            <div class="row my-3">

                                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                    <div class="form-row">
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right">
                                            <label>@Localizer["NameofJuristicPersonTH"]@*ชื่อนิติบุคคล(ไทย)*@ :</label>
                                        </div>

                                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                            <select class="form-control" id="ddlprefixcompany_name_th_dealer"></select>
                                        </div>
                                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                            <input type="text" class="form-control inputValidationdealer"
                                                   placeholder="@Localizer["NameofJuristicPersonTH"]" id="txtcompany_name_th_dealer" maxlength="100" required
                                                   style="width:165px" />
                                            <div class="invalid-feedback">
                                                @Localizer["ErrorNameofJuristicPersonTH"]
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                    <div class="form-row">
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right">
                                            <label>@Localizer["NameofJuristicPersonEN"]@*ชื่อนิติบุคคล(อังกฤษ)*@ :</label>
                                        </div>

                                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                            <select class="form-control" id="ddlprefixcompany_name_en_dealer"></select>
                                        </div>
                                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                            <input type="text" class="form-control"
                                                   placeholder="@Localizer["NameofJuristicPersonEN"]" id="txtcompany_name_en_dealer" maxlength="100" style="width:165px" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                    <div class="form-row">
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right">
                                            <label>@Localizer["TaxwithholdName"]@*ชื่อภาษีหัก ณ ที่จ่าย*@ :</label>
                                        </div>

                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <input type="text" class="form-control inputValidationdealer" id="txtwt_name_dealer"
                                                   maxlength="100" required style="width:300px" />
                                            <div class="invalid-feedback">
                                                @Localizer["ErrorTaxwithholdName"]
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                    <div class="form-row">
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right">
                                            <label>@Localizer["VAT"]@*ภาษีมูลค่าเพิ่ม*@ :</label>
                                        </div>

                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <div class="form-group row">
                                                <div class="custom-control custom-radio">

                                                    <input type="radio" class="custom-control-input" name="rdtaxJ" id="chkvat_typeT_dealer" value="VAT" checked>
                                                    <label class="custom-control-label" for="chkvat_typeT_dealer">
                                                        @Localizer["VAT"] @*ภาษีมูลค่าเพิ่ม*@
                                                    </label>
                                                </div>


                                                <div class="custom-control custom-radio ml-4">

                                                    <input type="radio" class="custom-control-input" name="rdtaxJ" id="chkvat_typeE_dealer" value="NON_VAT">
                                                    <label class="custom-control-label" for="chkvat_typeE_dealer">
                                                        @Localizer["NonVAT"] @*ไม่มีภาษีมูลค่าเพิ่ม*@
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <h4 class="">@Localizer["CompanyAddress"]</h4>
                    <hr>
                    <div class="container needs-validation-step2" novalidate>
                        <div class="row">
                            <div class="col-sm-12">
                                <label>@Localizer["AddressType"]</label>
                            </div>
                        </div>
                        <br />
                        <div class="row" id="chkAddressType">
                            <div class="col-sm-1">

                            </div>


                            <div class="col-sm-3">
                                @*<div class="n-chk">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="address_type_id" id="chkaddrbranch" value="01" required>
                                            <label class="custom-control-label" for="chkaddrbranch">TEST</label>
                                        </div>
                                    </div>*@
                                <div class="n-chk">
                                    <label class="new-control new-checkbox checkbox-primary">
                                        <input id="chkLocationBranch" type="checkbox" name="address_type_id" class="new-control-input" value="01" required>
                                        <span class="new-control-indicator"></span>@*@Localizer["BranchAddress"]*@
                                    </label>
                                </div>

                                <div class="n-chk">
                                    <label class="new-control new-checkbox checkbox-primary">
                                        <input id="chkLocationDoc" type="checkbox" name="address_type_id" class="new-control-input" value="04" required>
                                        <span class="new-control-indicator"></span>@*@Localizer["DocumentAddress"]*@@*ที่อยู่จัดส่งเอกสาร*@
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="n-chk">
                                    <label class="new-control new-checkbox checkbox-primary">
                                        <input id="chkLocationTax" type="checkbox" name="address_type_id" class="new-control-input" value="02" required>
                                        <span class="new-control-indicator"></span>@*@Localizer["TaxAddress"]*@@*ที่อยู่ตามใบกำกับภาษี*@
                                    </label>
                                </div>
                                <div class="n-chk">
                                    <label class="new-control new-checkbox checkbox-primary">
                                        <input id="chkLocationShip" type="checkbox" name="address_type_id" class="new-control-input" value="05" required>
                                        <span class="new-control-indicator"></span>@*@Localizer["ShippingAddress"]*@@*ที่อยู่จัดส่งสินค้า*@
                                    </label>
                                </div>


                            </div>
                            <div class="col-sm-3">
                                <div class="n-chk">
                                    <label class="new-control new-checkbox checkbox-primary">
                                        <input id="chkLocationWT" type="checkbox" name="address_type_id" class="new-control-input" value="03" required>
                                        <span class="new-control-indicator"></span>@*@Localizer["WTAddress"]*@@*ที่อยู่ตาม W/T*@
                                    </label>
                                </div>
                                <div class="n-chk">
                                    <label class="new-control new-checkbox checkbox-primary">
                                        <input id="chkLocationShipPOP" type="checkbox" name="address_type_id" class="new-control-input" value="06" required>
                                        <span class="new-control-indicator"></span>@*@Localizer["POPAddress"]*@@*ที่อยู่จัดส่ง POP*@
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-sm-2">
                                <input type="hidden" id="hdAddressID" />
                                <label>@Localizer["HouseNo"]@*เลขที่*@ :</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="row col-sm-12">
                                    <input type="text" id="txthomenumber" style="width:120px" class="form-control inputValidationAddress" required>

                                    <label>&nbsp;&nbsp;&nbsp;&nbsp;@Localizer["Moo"] :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="text" id="txtVillageNo" style="width:110px" class="form-control">
                                    <div class="invalid-feedback">
                                        @Localizer["ErrorHouseNo"]
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label>@Localizer["Village"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="txtvillage" style="width:300px" class="form-control">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["Building"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="txtbuilding" style="width:300px" class="form-control">
                            </div>
                            <div class="col-sm-2">
                                <label>@Localizer["Floor"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="row col-sm-12">
                                    <input type="text" id="txtfloor" style="width:120px" class="form-control">
                                    <label>&nbsp;&nbsp;&nbsp;&nbsp;@Localizer["Room"] :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="text" id="txtroom" style="width:110px" class="form-control">
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["Soi"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="txtsoi" style="width:300px" class="form-control">
                            </div>


                            <div class="col-sm-2">
                                <label>@Localizer["street"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="txtroad" style="width:300px" class="form-control">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["Country"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <select id="ddlcountry" name="country" class="custom-select inputValidationAddress" style="width:300px" required>
                                    <option value="">Select Country</option>
                                    <option value="THA">Thailand</option>
                                </select>
                                <div class="invalid-feedback">@Localizer["ErrorCountry"]</div>
                            </div>

                            <div class="col-sm-2">
                                <label>@Localizer["Zone"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <select id="ddlzone" name="ddlzone" class="custom-select inputValidationAddress" style="width:300px" required>
                                </select>
                                <div class="invalid-feedback">
                                    @Localizer["ErrorZone"]
                                </div>
                            </div>


                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["Province"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <select id="ddlprovince" name="ddlprovince" class=" custom-select inputValidationAddress  form-control select2-container ddlsearch" style="width:300px" required>
                                </select>
                                <div class="invalid-feedback">
                                    @Localizer["ErrorProvince"]
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <label>@Localizer["District"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <select id="ddldistrict" name="ddldistrict" class="custom-select inputValidationAddress  form-control select2-container ddlsearch" style="width:300px" required>
                                </select>
                                <div class="invalid-feedback">
                                    @Localizer["ErrorDistrict"]
                                </div>
                            </div>

                        </div>
                        <br />

                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["Subdistrict"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <select id="ddlsubdistrict" name="ddlsubdistrict" class="custom-select inputValidationAddress  form-control select2-container ddlsearch" style="width:300px" required>
                                </select>
                                <div class="invalid-feedback">
                                    @Localizer["ErrorSubdistrict"]
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <label>@Localizer["Zipcode"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <select id="ddlzipcode" name="ddlzipcode" class="custom-select inputValidationAddress" style="width:300px" required>
                                </select>
                                <div class="invalid-feedback">@Localizer["ErrorZipcode"]</div>
                            </div>
                        </div>

                        <br />
                        <div class="row">
                            <div class="col-sm-6" style="text-align:right; ">
                                <input type="button" id="btnClear" value="@Localizer["Reset"]" style="width:20%" class="btn btn-dark mb-2" />
                            </div>
                            <div class="col-sm-6">
                                <input type="button" id="btnAdd" value="@Localizer["AddAddress"]" style="width:20%" class="btn btn-success mb-2" />
                            </div>
                        </div>
                        <br />
                        <div class="row col-sm-12">
                            <div class="table-responsive">
                                <table id="tbAddressResult" class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th width="30%">@Localizer["AddressType"]</th>
                                            <th width="50%">@Localizer["Address"]</th>
                                            <th width="10%">@Localizer["Edit"]</th>
                                            <th width="10%">@Localizer["Delete"]</th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                    </div>
                    <br />


                    <h4>@Localizer["ContractCompany"]</h4>
                    <hr>
                    <div class="container needs-isvalidate" novalidate>
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["EmailCompany"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="mailCompany" style="width:300px" class="form-control inputisvalidate" required>
                                <div class="invalid-feedback">@Localizer["ErrorEmailCompany"]</div>
                                <span id='errorcompany_Email' style="color:red;display:none;">@Localizer["InvalidEmailFormat"]</span>
                            </div>
                            <div class="col-sm-2">
                                <label>@Localizer["ContractName"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="nameContract" style="width:300px" class="form-control inputisvalidate" required>
                                <div class="invalid-feedback">@Localizer["ErrorContractName"]</div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["Email"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="mailContract" style="width:300px" class="form-control inputisvalidate" required>
                                <div class="invalid-feedback">@Localizer["ErrorEmail"]</div>
                                <span id='errorcontract_email' style="color:red;display:none;">@Localizer["InvalidEmailFormat"]</span>
                            </div>
                            <div class="col-sm-2">
                                <label>@Localizer["Tel"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="telContract" maxlength="20" style="width:300px" class="form-control inputisvalidate" required>
                                <div class="invalid-feedback">@Localizer["ErrorTel"]</div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <h4>@Localizer["Contract Department"]</h4>
                    <hr>
                    <div class="container needs-isvalidate" novalidate>
                        <div class="row col-sm-2">
                            <label>@Localizer["InstallationDepartment"]</label>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["ContractName"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="name1" style="width:300px" class="form-control inputisvalidate" required>
                                <div class="invalid-feedback">@Localizer["ErrorContractName"]</div>
                            </div>
                            <div class="col-sm-2">
                                <label>@Localizer["Tel"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="tel1" maxlength="20" style="width:300px" class="form-control inputisvalidate" required>
                                <div class="invalid-feedback">@Localizer["ErrorTel"]</div>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["Email"] :</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" id="mail1" style="width:300px" class="form-control">
                                <span id='errorinstall_email' style="color:red;display:none;">@Localizer["InvalidEmailFormat"]</span>

                            </div>
                        </div>
                        <br />
                        <div class="row col-sm-2">
                            <label>@Localizer["MaintenanceDepartment"]</label>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["ContractName"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="name2" style="width:300px" class="form-control inputisvalidate" required>
                                <div class="invalid-feedback">@Localizer["ErrorContractName"]</div>

                            </div>
                            <div class="col-sm-2">
                                <label>@Localizer["Tel"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="tel2" maxlength="20" style="width:300px" class="form-control inputisvalidate" required>
                                <div class="invalid-feedback">@Localizer["ErrorTel"]</div>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["Email"] :</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" id="mail2" style="width:300px" class="form-control">
                                <span id='errormainten_email' style="color:red;display:none;">@Localizer["InvalidEmailFormat"]</span>
                            </div>
                        </div>
                        <br />
                        <div class="row col-sm-2">
                            <label>@Localizer["AccountingDepartment"]</label>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["ContractName"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="name3" style="width:300px" class="form-control inputisvalidate" required>
                                <div class="invalid-feedback">@Localizer["ErrorContractName"]</div>
                            </div>
                            <div class="col-sm-2">
                                <label>@Localizer["Tel"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="tel3" style="width:300px" class="form-control inputisvalidate" required>
                                <div class="invalid-feedback">@Localizer["ErrorTel"]</div>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["Email"] :</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" id="mail3" style="width:300px" class="form-control">
                                <span id='errorAccount_email' style="color:red;display:none;">@Localizer["InvalidEmailFormat"]</span>
                            </div>
                        </div>
                    </div>
                    <br />

                    <h4>@Localizer["BankAccountInformation"]</h4>
                    <hr>
                    <div class="container needs-isvalidate" novalidate>
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["BankName"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="row col-sm-12">
                                    <select id="selBankName" name="selBankName" style="width:300px" class="custom-select inputValidationAddress  form-control select2-container ddlsearch" required>
                                    </select>
                                    <div class="invalid-feedback">@Localizer["ErrorBankName"]</div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label>@Localizer["BankBranchName"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="row col-sm-12">
                                    <input type="text" id="nameBranch" class="form-control">
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["AccountType"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="row col-sm-12">
                                    <select id="AccType" name="AccType" class="custom-select inputisvalidate form-control" required>
                                    </select>
                                    <div class="invalid-feedback">@Localizer["ErrorAccountType"]</div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["AccountName"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="row col-sm-12">

                                    <input type="text" id="busiName" class="form-control inputisvalidate" required />
                                    <div class="invalid-feedback">@Localizer["ErrorAccountName"]</div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label>@Localizer["AccountNumber"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="row col-sm-12">
                                    <input type="text" id="codeNumber" style="width:300px" class="form-control inputisvalidate" required />
                                    <div class="invalid-feedback">@Localizer["ErrorAccountNumber"]</div>
                                </div>
                            </div>

                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["UploadBookBank"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="row col-sm-12">
                                    <div class="custom-file">
                                        <input type="hidden" id="hduploadbookbank" class="form-control" />
                                        <input type="file" class="custom-file-input" id="inputuploadbookbank"
                                               aria-describedby="uploadlHelp1" accept="image/jpeg,image/gif,image/png,image/bmp,image/tif,image/tiff,application/pdf" />
                                        <label class="custom-file-label " for="inputuploadbookbank" id="lbuploadbookbank">@Localizer["ChooseFile"]</label>
                                        <small id="uploadlHelp1" class="form-text text-muted">@Localizer["ChooseFileType"]</small>
                                        <small id="uploadlHelp1" class="form-text text-muted" style="margin-top:0;">
                                            @Localizer["SizeFile"]
                                        </small>
                                        <div class="invalid-feedback">@Localizer["ErrorBookBank"]</div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-2" style="display:none;">
                                <label>@Localizer["BusinessType"] :</label>
                            </div>
                            <div class="col-sm-4" style="display:none;">
                                <div class="row col-sm-12">
                                    <select id="businessType" name="businessType" class="custom-select form-control" style="width:300px">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <h4>@Localizer["CompanyDocuments"] </h4>
                    <hr>
                    <div class="container needs-isvalidate" novalidate>
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["CompanyCertificate"] :</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="row col-sm-12">
                                    @*<div class="custom-file">*@
                                    <input type="hidden" id="hdupfilecompany_certified" class="form-control" />
                                    <input type="file" class="custom-file-input" id="inputUploadcertificate"
                                           accept="image/jpeg,image/gif,image/png,image/bmp,image/tif,image/tiff,application/pdf" />
                                    <label class="custom-file-label " for="inputUploadcertificate" id="lbuploadcertificate">@Localizer["ChooseFile"]</label>
                                    @*</div>*@
                                    @*<small id="uploadlHelp2" class="form-text text-muted">ประเภทไฟล์ภาพที่รองรับ pdf,jpg,jpeg,bmp,gif,tif,tiff,png</small>*@
                                    @*<small id="uploadlHelp2" class="form-text text-muted">***@@*Localizer["SupportFilePDF"]</small>*@
                                    <small id="uploadlHelp2" class="form-text text-muted">@Localizer["ChooseFileType"]</small>
                                    <small id="uploadlHelp2" class="form-text text-muted" style="margin-top:0;">
                                        @Localizer["SizeFile"]
                                    </small>
                                    <div class="invalid-feedback">@Localizer["ErrorCompanyCertificate"]</div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label>@Localizer["CommercialRegistrationBook"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="row col-sm-12">
                                    @*<div class="custom-file">*@
                                    <input type="hidden" id="hdupfilecommercial_registration" class="form-control" />
                                    <input type="file" class="custom-file-input" id="inputUploadComRegis"
                                           accept="image/jpeg,image/gif,image/png,image/bmp,image/tif,image/tiff,application/pdf" />
                                    <label class="custom-file-label " for="inputUploadComRegis" id="lbuploadComRegis">@Localizer["ChooseFile"]</label>
                                    @*</div>*@
                                    @*<small id="uploadlHelp3" class="form-text text-muted">ประเภทไฟล์ภาพที่รองรับ pdf,jpg,jpeg,bmp,gif,tif,tiff,png</small>*@
                                    @*<small id="uploadlHelp3" class="form-text text-muted">***@@*Localizer["SupportFilePDF"]</small>*@
                                    <small id="uploadlHelp3" class="form-text text-muted">@Localizer["ChooseFileType"]</small>
                                    <small id="uploadlHelp3" class="form-text text-muted" style="margin-top:0;">
                                        @Localizer["SizeFile"]
                                    </small>
                                    <div class="invalid-feedback">@Localizer["ErrorCommercialRegistrationBook"]</div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["VATRegistrationCertificate"] :</label>
                            </div>
                            <div class="col-sm-10">
                                <div class="row col-sm-6">
                                    @*<div class="custom-file">*@
                                    <input type="hidden" id="hdupfilevat_registration_certificate" class="form-control" />
                                    <input type="file" class="custom-file-input" id="inputUpload20" style="width:170px"
                                           accept="image/jpeg,image/gif,image/png,image/bmp,image/tif,image/tiff,application/pdf" />
                                    <label class="custom-file-label" for="inputUpload20" id="lbupload20">@Localizer["ChooseFile"]</label>
                                    @*</div>*@
                                    @*<small id="uploadlHelp4" class="form-text text-muted">ประเภทไฟล์ภาพที่รองรับ pdf,jpg,jpeg,bmp,gif,tif,tiff,png</small>*@
                                    @*<small id="uploadlHelp4" class="form-text text-muted">***@@*Localizer["SupportFilePDF"]</small>*@
                                    <small id="uploadlHelp4" class="form-text text-muted">@Localizer["ChooseFileType"]</small>
                                    <small id="uploadlHelp4" class="form-text text-muted" style="margin-top:0;">
                                        @Localizer["SizeFile"]
                                    </small>
                                    <div class="invalid-feedback">@Localizer["ErrorVATRegistrationCertificate"]</div>
                                </div>
                            </div>
                        </div>
                        <br />

                    </div>
                    <div class="row needs-isvalidate-reject">
                        <div class="col-sm-2">
                            <label>@Localizer["Remark"] :</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea id="txtRemark" class="form-control" rows="3" required> </textarea>
                            <div class="invalid-feedback">
                                @Localizer["ErrorRemark"]
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="hdMode">

                </div>


                @*<input type="hidden" id="hdCompanyId">*@
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
                        @Localizer["Close"]
                    </button>
                    <button type="button" class="btn btn-primary" id="btn_OnSave_Modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
                        @Localizer["Save"]
                    </button>
                </div>
                @*</form>*@
            </div>

        </div>
    </div>


    <div class="modal fade bd-example-modal-lg" id="Searchlocation" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">@Localizer["LocationSearch"]</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12 needs-validation-modalLocation" novalidate>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-left">@Localizer["ASCCode"] :</label>
                                    <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                                        <input type="text" class="form-control" id="txtasccodemodal" />

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">@Localizer["MobileNo"] :</label>
                                    <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                                        <input type="text" class="form-control" id="txtmobilenomodal" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-left">@Localizer["LocationCode"] :</label>
                                    <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                                        <input type="text" class="form-control inputValidationlocationModal" id="txtlocationcodemodal" required />
                                        <div class="invalid-tooltip">
                                            Please provide a valid location code.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">@Localizer["IDNumber"] :</label>
                                    <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                                        <input type="text" class="form-control" id="txtidnumbermodal" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-left">@Localizer["SapCode"] :</label>
                                    <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                                        <input type="text" class="form-control" id="txtsapcodemodal" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">@Localizer["UserId"] :</label>
                                    <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                                        <input type="text" class="form-control" id="txtuseridmodal" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
                                <div class="d-flex align-items-center justify-content-center h-100" role="group">
                                    @*<button class="btn btn-secondary mr-2" id="rbtnresetlocationmodal" type="button">รีเช็ต</button>
                                        <button class="btn btn-info" id="btnsearchlocationmodal" type="button">ค้นหา</button>*@
                                    <button class="btn btn-dark mb-2 mr-2" id="btn_reset_modal" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="15" y1="9" x2="9" y2="15"></line>
                                            <line x1="9" y1="9" x2="15" y2="15"></line>
                                        </svg>
                                        @Localizer["Reset"]
                                    </button>
                                    <button class="btn btn-success mb-2" id="btn_search_modal" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                                            <circle cx="11" cy="11" r="8"></circle>
                                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                        </svg>
                                        @Localizer["Search"]
                                    </button>
                                </div>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
                                <div class="table-responsive pt-3">
                                    <table class="table table-bordered table-hover" id="tblocationModal">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>@Localizer["CompanyName"]</th>
                                                <th>@Localizer["CompanyAilas"]</th>
                                                <th>@Localizer["JuristicPersonRegistrationNumber"]</th>
                                                <th>@Localizer["LocationCode"]</th>
                                                <th>@Localizer["LocationName"]</th>
                                                <th>@Localizer["DistributionChannel"]</th>
                                                <th>@Localizer["ChannelSaleGroup"]</th>
                                                <th></th>
                                                <th>@Localizer["Select"]</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power">
                            <path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path>
                            <line x1="12" y1="2" x2="12" y2="12"></line>
                        </svg>
                        @Localizer["Close"]
                    </button>
                    @*<button type="button" class="btn btn-success" id="btn_select_location">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg);
                        transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                    <g fill="none" stroke="#626262" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                        <path d="M20 6L9 17l-5-5" />
                                                    </g>
                                                </svg>
                                                ตกลง
                                            </button>*@

                </div>

            </div>
        </div>
    </div>


    <div class="modal fade bd-example-modal-lg" id="SearchRevenue" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">@Localizer["SearchRevenue"]</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12 needs-validation-modalLocation" novalidate>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
                                <div class="form-group">
                                    <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-left">@Localizer["DataRavenue"]</label>
                                    <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                                        <input type="text" class="form-control" id="txtsearchrevenue" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
                                <div class="d-flex align-items-center justify-content-center h-100" role="group">
                                    <button class="btn btn-dark mb-2 mr-2" id="btn_reset_revenue_modal" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="15" y1="9" x2="9" y2="15"></line>
                                            <line x1="9" y1="9" x2="15" y2="15"></line>
                                        </svg>
                                        @Localizer["Reset"]
                                    </button>
                                    <button class="btn btn-success mb-2" id="btn_search_revenue_modal" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                                            <circle cx="11" cy="11" r="8"></circle>
                                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                        </svg>
                                        @Localizer["Search"]
                                    </button>
                                </div>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
                                <div class="table-responsive pt-3">
                                    <table class="table table-bordered table-hover" id="tbrevenueModal" style="width:100%;">
                                        <thead class="thead-light">
                                            <tr>
                                                @*<th></th>*@
                                                <th>@Localizer["TaxID"]</th>
                                                <th>@Localizer["CompanyName"]</th>
                                                <th>@Localizer["Branch"]</th>
                                                <th>@Localizer["Address"]</th>
                                                <th></th>
                                                <th>@Localizer["Select"]</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">ตกลง</button>*@

                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power">
                            <path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path>
                            <line x1="12" y1="2" x2="12" y2="12"></line>
                        </svg>
                        @Localizer["Close"]
                    </button>
                    @*<button type="button" class="btn btn-success" id="btn_select_revenue">
                            <svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg);transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                            <g fill="none" stroke="#626262" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M20 6L9 17l-5-5" /></g></svg>
                            ตกลง
                        </button>*@

                </div>

            </div>
        </div>
    </div>
}

@section scripts {
    @*@{

            ResourceSet resourceSet = companyProfile.ResourceManager.GetResourceSet(CultureInfo.CurrentUICulture, true, true);
            var sbInitial = " var CustomersResourceObj = {";
            var sb = new StringBuilder(sbInitial);
            var resEnum = resourceSet.GetEnumerator();
            while (resEnum.MoveNext())
            {
                if (sb.ToString() != sbInitial)
                {
                    sb.Append(",");
                }
                sb.Append("\"" + resEnum.Key + "\":\"" + resEnum.Value.ToString().Replace("\r\n", "").Replace("\"", "\\\"") + "\"");
            }
            sb.Append("}");
        }

        @(Html.Raw( sb.ToString()));*@
    <script>
var localizedData = {
    'EditCompanyProfile': '@Localizer["JSEditCompanyProfile"]',
    'AddCompanyProfile': '@Localizer["JSAddCompanyProfile"]',
     'ChooseFile': '@Localizer["ChooseFile"]',
}
    </script>
    <script src="~/Scripts/View/companyProfile.js"></script>

}


