@{
    ViewData["Title"] = "RequestTraining";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">

    <div class="skills layout-spacing ">
        <div class="widget-content widget-content-area">
            <h3 class="">Request Training</h3>

            <div class="widget-content1">

                <div class="form-row mb-4">


                    <div class="form-group col-md-6">
                        <label for="inputLocationCodeMain">Location Name</label>
                        <select id="selLocationName" class="form-control" data-live-search="true"></select>

                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputTeamNameTh">Team Name </label>
                        <select id="selTeamName" class="form-control" data-live-search="true"></select>

                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputStorageLocation">Request Date From</label>
                        <input type="text" class="form-control" id="inputRequestDateFrom" placeholder="Request Date From">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputShipto">Request Date From</label>
                        <input type="text" class="form-control" maxlength="13" id="inputRequestDateTo" placeholder="Request Date From">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputStatus">Status Training</label>
                        <select id="inputStatus" class="form-control" data-live-search="true">
                            <option value="">-- Select All --</option>
                            <option value="Y">Yes</option>
                            <option value="N">No</option>

                        </select>

                    </div>



                </div>

                <div style="text-align:center">

                    <button id="btnMainClearLoc" type="button" class="btn btn-dark mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg> ล้างข้อมูล</button>
                    <button id="btnSearchLoc" type="button" class="btn btn-success mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>  ค้นหาข้อมูล</button>

                </div>


            </div>


            <br />
            <div class="widget-heading">
                <h3 class="">ผลการค้นหา</h3>

            </div>
            <div class="col-md-12 text-right mb-1">
                <button id="btnAdd" type="button" class="btn btn-success mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg> Request Training</button>

            </div>


            <div class="table-responsive">
                <table id="tbSearchResult" class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4">
                    <thead>
                        <tr>
                            @*<th class="text-center">แก้ไข</th>*@
                            <th>Location Name </th>
                            <th>Team Name</th>
                            <th>Request Date</th>
                            <th>Status </th>

                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>

</div>


@section modalpanel {

    <div id="RequestModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="modal-header">
                        <h5 id="hTitleEdit" class="modal-title">Request Training</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                    <form id="frNew" class="needs-validation" novalidate>
                        <div class="container">
                            <div class="modal-body">

                                <div class="row mt-4 ml-3 mr-1">

                                    <div class=" col-md-6 mt-3">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Company Name:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <label id="lbCompanyName"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-md-6 mt-3">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Tax ID : </label>
                                            </div>
                                            <div class="col-md-7">
                                                <label id="lbTaxID"> </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-md-6 mt-4">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Contact Phone:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type='text' id="txtContactPhone" class="form-control" required />
                                                <div class="invalid-feedback">Please fill the ContactPhone</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-md-6 mt-4">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Email :</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type='text' id="txtEmail" class="form-control" required />
                                                <div class="invalid-feedback">Please fill the Email</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-md-6 mt-4">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Course:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="row">
                                                    <div id="btnCourse"></div>
                                                    @*<div class="col-md-12 ml-4" >*@
                                                        @*<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                                        <label id="lbCourse" class=""> อบรมการติดตั้งระดับสูง</label>*@
                                                    @*</div>*@
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-md-6 mt-4">
                                        <div class="row">

                                            <div class="col-md-4">
                                                <label class="">Request Date:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <div class='input-group p-0 date' id='RequestDate'>
                                                    <input type='text' class="form-control" required />
                                                    <div class="input-group-append input-group-addon">
                                                        <span class="input-group-text px-4">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                    </div>
                                                    <div class="invalid-feedback">Please fill the RequestDate</div>
                                                </div>
                                              
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-md-12 mt-3">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Remark:</label>
                                            </div>
                                            <div class="col-md-9 ">
                                                <textarea id="txtRemark" name="w3review" style="width:inherit;border-color:#E0E0E0" rows="6"> </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                               
                                <div class="row mt-5 ml-3 mr-3">
                                    <div class="col-md-12 ">
                                        <div class="modal-header">
                                            <h5 id="hTitleEdit" class="modal-title">เข้าอบรม</h5>
                                        </div>

                                    </div>
                                 <div class="container">
                                        <div class="col-md-12 mt-3">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="">Location Name :</label>
                                                    <select id="selLocationNametraining" class="form-control" data-live-search="true" required></select>
                                                    <div class="invalid-feedback">Please Select the LocationName</div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="">Team :</label>
                                                    <select id="selTeamtraining" class="form-control" data-live-search="true" required></select>
                                                    <div class="invalid-feedback">Please Select the Team</div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="">Engineer:</label>
                                                    <select id="selEngineertraining" class="form-control" data-live-search="true" required></select>
                                                    <div class="invalid-feedback">Please Select the Engineer</div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 ">
                                            <div class="mt-5" style="text-align:center">

                                                <button id="btnclearTraining" type="button" class="btn btn-dark mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg> ล้างข้อมูล</button>
                                                <button id="btnAddTraining"  type="button" onclick="Addtraining()"  class="btn btn-success mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg> เพิ่มข้อมูล </button>

                                            </div>
                                        </div>
                                        <div class="col-md-12 ">
                                            <div class="mt-3 text-right">
                                                <button id="btnDeleteTraining" type="button" onclick="deleteTraining()" class="btn btn-danger mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg> ลบข้อมูล</button>

                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table id="showAddtraining"  class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4">
                                                    <thead>
                                                        <tr>
                                                            <th >Action</th>
                                                            <th >No</th>
                                                            <th >Location Name</th>
                                                            <th >Team Name</th>
                                                            <th >Engineer Name</th>
                                                            <th >Contact Phone1</th>
                                                            <th >Contact Email</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-5">
                                            <div class="row">
                                                <div class="col-md-8 "></div>
                                                <div class="col-md-4 col-sm-12">
                                                    <div class="row ">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-7">
                                                                    <label>ราคารวม</label>
                                                                </div>
                                                                <div class="col-md-5" style="text-align: left;">
                                                                    <label id="lbtotal_price"></label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-12 mt-3">
                                                            <div class="row">
                                                                <div class="col-md-7">
                                                                    <label>Vat7%</label>
                                                                </div>
                                                                <div class="col-md-5" style="text-align: left;">
                                                                    <label id="lbvat"></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 mt-3">
                                                            <div class="row">
                                                                <div class="col-md-7">
                                                                    <label>ราคาสุทธิ(บาท) </label>
                                                                </div>
                                                                <div class="col-md-5" style="text-align: left;">
                                                                    <label id="lbNetprice"></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="container">
                                    <div class="row mt-5 ml-3 mr-3">
                                        <div class="col-md-12 ">
                                            <p class="h5"><strong>การชำระเงิน</strong></p>
                                            <hr>
                                        </div>
                                        <div class="col-md-12 ml-5 mt-2 ">
                                            <h5>ชำระเงินผ่านทางธนาคาร internet Banking หรือตู้ ATM โดยการโอนเงินเข้าบัญชี</h5>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <div class="row">
                                                <div class="col-md-1">
                                                </div>
                                                <div class="col-md-3">
                                                    <p style="font-size:12px">ธนาคาร กรุงศรีอยุธยา จำกัดสาขา xxxxxxx</p>
                                                    <p style="font-size:12px">ชื่อบัญชี บริษัท xxxxxx </p>
                                                    <p style="font-size:12px">บัญชีออมทรัพย์ เลขที่บัญชี 111-1-1111-1</p>
                                                    <br><p style="font-size:12px">(ชำระเงินยอดรวมภาษี 7% ทุกยอด)</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p style="font-size:12px">ธนาคาร กสิกรไทย จำกัดสาขา xxxxxxx</p>
                                                    <p style="font-size:12px">ชื่อบัญชี บริษัท xxxxxx </p>
                                                    <p style="font-size:12px">บัญชีออมทรัพย์ เลขที่บัญชี 111-1-1111-1</p>
                                                    <br><p style="font-size:12px">(ชำระเงินยอดรวมภาษี 7% ทุกยอด)</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
                                    ปิด
                                </button>
                                <button id="btnSave" type="submit" @*onclick="RequestTraining()"*@   class="btn btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
                                    บันทึก
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
}


 @section scripts {
     
     <script type="text/javascript">
         var oTable;

        $(document).ready(function () {

            GetDropDownLocationSearch();
            GetDropDownLocationtraining();

            //$('.btnCourse input[type=radio][name=exampleRadios]').change(function () {               
            //        alert(this.value);             
            //});
        
            //$('input[type=radio][name=exampleRadios]').change(function () {
            //    var splitval = $(this).val().split(',');
            //    alert(splitval[1]);
            //    console.log(splitval[1]);
            //    $("#total_price").text(splitval[1]);
            //    console.log(e.currentTarget.value);
            //});
        
            //$('#txtRequestDate').datetimepicker({
            //    format: 'LT'
            //});
            $('#RequestDate').datepicker({
                format: 'dd/mm/yyyy',
                daysOfWeekHighlighted: "6,0",
                autoclose: true,
                todayHighlight: true,
                clearBtn: true,
                
          
            });


            $('#selLocationName').change(function () {

                getTeamByLocationId();
            });
            $('#selLocationNametraining').change(function () {
                var splitval = $(this).val().split(',');
                getTeamByLocationIdtraining(splitval[0]);
            });
            $('#selTeamtraining').change(function () {
                var locationid = $('#selLocationName').val();
                var splitval = $(this).val().split(',');
                getEngineerByTeamIdtraining(splitval[0], locationid);
            });

            inittbSearchResult();
            $("#btnSearchLoc").click(function (e) {

                inittbSearchResult();
            });

            $("#btnMainClearLoc").click(function (e) {
                clearMainData();
            });

            $("#btnAdd").click(function (e) {
                openModal();
            });

        });

            //'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
              //  var forms = document.getElementsByClassName('select');
                var invalid = $('.select .invalid-feedback');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {

                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                            invalid.css('display', 'block');
                        } else {
                            RequestTraining();
                            event.preventDefault();
                            event.stopPropagation();
                            invalid.css('display', 'none');

                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);

        function inittbSearchResult() {

            var oTable = $('#tbSearchResult').DataTable({
                processing: true, // for show progress bar
                serverSide: true, // for process server side
                filter: false, // this is for disable filter (search box)
                orderMulti: false, // for disable multiple column at once
                pageLength: 10,
                order: [],
                autoWidth: false,
                searching: false,
                destroy: true,
                lengthChange: false,
                "oLanguage": {
                    "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                    "sInfo": "Showing page _PAGE_ of _PAGES_",
                    "sSearch": false,
                    "sLengthMenu": "Results :  _MENU_",
                },
                 "scrollX": true,
                  "language": {
                  "zeroRecords": "No data found.",
                   "decimal": ",",
                  "thousands": "."
                    },
                    ajax: {
                        url: '@Url.Action("Search", "Training")',
                        type: "POST",
                        datatype: "JSON",
                        //dataSrc:"",
                        data: function (d) {
                                d.location_Id = $("select[id$=selLocationName]").val(),
                                d.team_Id = $("select[id$=selTeamName]").val(),
                                d.status = $("select[id$=inputStatus]").val(),
                                d.date_from = $("#inputRequestDateFrom").val(),
                                d.date_to = $("#inputRequestDateTo").val()


                        }
                    },
                    columns: [

                        //{
                        //    data: null,width:"10%", render: function (data, type, row) {
                        //        return "  <ul class='table-controls'><li> <a href='#' onclick=openModal('edit','" + row.EngineerId + "');return false;  data-toggle='modal' data-target='.bd-addedit-modal-xl' data-original-title='แก้ไข'><svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-edit'><path d='M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7'></path><path d='M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z'></path></svg></a></li> <li> <a onclick=deleteData('" + row.EngineerId +"');return false; href='#'  data-toggle='tooltip' data-placement='top' title='Delete'><svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-trash-2'><polyline points='3 6 5 6 21 6'></polyline><path d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2'></path><line x1='10' y1='11' x2='10' y2='17'></line><line x1='14' y1='11' x2='14' y2='17'></line></svg></a>";

                        //    }
                        //   // orderable: false,
                        //    //className: 'text-center'
                        //},
                        { "data": "location_name_th", "width": "30%" },
                        { "data": "team_name_th", "width": "30%" },
                        { "data": "RequestDate", "width": "30%" },
                        { "data": "Status", "width": "10%" }



                ],
                "order": [[0, "desc"]],
                "stripeClasses": [],
                drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }

                });

        }


        function openModal() {

            $("#frNew")[0].reset();
            getDataById();
            $('#RequestModal').modal('show');

        }

        function clearMainData() {
                $("#selLocationName").val('-1'),
                $("#selTeamName").val('-1'),
                $("#inputRequestDateFrom").val(''),
                $("#inputRequestDateTo").val(''),
                $("#inputStatus").val('')
        }

        function clearData() {

            $("#frNew")[0].reset();

        }


        function getLocationCodeById(locationId) {
              $.ajax({
                  url: '@Url.Action("GetDataById", "Location")',
                  type: 'POST',
                  data: { 'locationId': locationId},
                  dataType: "json",
                  success: function (result) {
                //  console.log(result)
                  if (result != null) {

                      $('#locationCode').val(result.LocationCode);


                    }
                  },
                  error: function (result) {

                  }

            });
        }


        function getDataById() {
            var data;
              $.ajax({
                  url: '@Url.Action("GetByCompanyId", "Training")',
                  type: 'GET',
                  dataType: "json",
                  success: function (result) {


                      if (result.Data != null) {
                          Data = result.Data;
                          $('#lbCompanyName').text(Data.CompanyNameTh);
                          $('#lbTaxID').text(Data.TaxId);
                          $('#txtContactPhone').val(Data.ContractPhone);
                          $('#txtEmail').val(Data.ContractEmail);

                          //$('#txtRequestDate').val(result.CitizenId);
                          //$('#txtRemark').val(result.CitizenId);
                      }
                      getcourse();
                  },
                  error: function (result) {

                  }

            });
         }
         function Addtraining() {
             var model = new Object();
             model.location_name_th = $('#selLocationNametraining').val();
             model.team_name_th = $('#selTeamtraining').val();
             model.Engineer_ID = $('#selEngineertraining').val();
             model.contract_phone = $('#txtContactPhone').val();
             model.contract_email = $('#txtEmail').val();
              $.ajax({
                  url: '@Url.Action("Addtraining", "Training")',
                  type: 'POST',
                  data: { 'model': model },
                  dataType: "json",
                  success: function (result) {
                    if (result != null) {

                        showtraining(result)
                    }
                  },
                  error: function (result) {

                  }

            });
        }
         function showtraining(data) {
             console.log(data)
             var couse = '';            
             $('input[type="radio"]:checked').each(function () {
                 couse = $(this).val().split(',');
             });                    

             $("#showAddtraining tbody").empty();
             var strtable = '';
             $.each(data, function (id, result) {
                 strtable += '<tr>' +
                     '<td style="text-align:center" ><input type = "checkbox" value="' + result.TrainingId+'"></td>' +
                     '<td>' + (id+1)+'</td>' +
                     '<td>' + result.location_name_th +'</td>' +
                     '<td>' + result.team_name_th +'</td>' +
                     '<td>' + result.Engineer_name +'</td>' +
                     '<td>' + result.contract_phone+'</td>' +
                     '<td>' + result.contract_email +'</td>' +
                     '</tr >';

             });             
              
             $("#showAddtraining tbody").append(strtable);

             var total_price = parseInt(couse[1]) * data.length;
             var vat = (total_price * 7) / 100;
             var Netprice = total_price + vat;
             $("#lbtotal_price").text(total_price);
             $("#lbvat").text(vat);
             $("#lbNetprice").text(Netprice);       

         }
         function deleteTraining() {



             var val = [];
             $(':checkbox:checked').each(function (i) {
                 val[i] = $(this).val();
             });
             console.log(val);

              $.ajax({
                  url: '@Url.Action("Deletetraining", "Training")',
                  type: 'PUT',
                  data: { 'TrainingId': val },
                  dataType: "json",
                  success: function (result) {
                    if (result != null) {

                        showtraining(result)
                    }
                  },
                  error: function (result) {

                  }

            });
         }
         function RequestTraining() {
             var couse;
             var daterequest = $('#RequestDate').datepicker('getDate');
             $('input[type="radio"]:checked').each(function () {
                 couse = $(this).val();
             });             
             var model = new Object();
             model.company_name_th = $('#lbCompanyName').text();
             model.tax_id = $('#lbTaxID').text();
             model.contract_phone = $('#txtContactPhone').val();
             model.contract_email = $('#txtEmail').val();
             model.Course = couse;
             //model.Course = $('#lbCourse').text();
             model.Remark = $('#txtRemark').val();
             //model.TotalPrice = couse ;
             //model.Vat="700"
             //model.Tax = "10700";
             //model.Status = "N";
             model.RequestDate = daterequest.toISOString();
            
            $.ajax({
                  url: '@Url.Action("RequestTraining", "Training")',
                  type: 'Post',
                  data: { 'model': model},
                  dataType: "json",
                  success: function (result) {
                      if (result.Status) {
                          bootbox.alert({
                              message: result.Message ,
                              callback: function () {
                                  $('#RequestModal').modal('hide');
                              }
                          })
                         

                      }
                      else {
                          if (result.StatusError == "-2") {
                              bootbox.alert({
                                  message: result.Message                             
                              })
                          } else {
                              bootbox.alert({
                                  message: result.Message,
                                  callback: function () {
                                      $('#RequestModal').modal('hide');
                                  }
                              })
                          }
                         
                      }
                  },
                  error: function (result) {
                      bootbox.alert({
                          message: result.Message,
                          callback: function () {
                              $('#RequestModal').modal('hide');
                          }
                      })
                  }

            });
         }

         function getcourse() {
             var strcourse = '';
              $.ajax({
                  url: '@Url.Action("Getcourse", "Training")',
                  type: 'GET',                 
                  dataType: "json",
                  success: function (data) {
                      console.log(data);
                      if (data != null) {
                          $.each(data, function (id, result) {
                              if (id == 0) {
                                  strcourse += '<div class="col-md-12 ml-4" >' +
                                      '<input class="form-check-input" type="radio" class="radio" name="exampleRadios"  value="' + result.dropdown_value + ',' + result.value1 + '" checked="checked">' +
                                      '<label class="">' + result.dropdown_text + '</label>' +                                     
                                      '</div>';
                              }
                              strcourse +='<div class="col-md-12 ml-4" >' +
                                  '<input class="form-check-input" type="radio" class="radio" name="exampleRadios"  value="' + result.dropdown_value + ',' + result.value1 + '" >' +
                                  '<label class="">' + result.dropdown_text + '</label>' +                                  
                                  '</div>';
                          });
                          $("#btnCourse").empty();
                          $("#btnCourse").append(strcourse);
                    }
                  },
                  error: function (result) {
                      strcourse += '<input class="form-check-input" type="radio" name="exampleRadios"  value="">' +
                          '<label class=""></label>';     
                      $("#btnCourse").empty();
                      $("#btnCourse").append(strcourse);
                  }                 

              });    
            
           
         }

     

       

         function deleteData(Id) {
           bootbox.confirm("คุณต้องการลบข้อมูล?"
            , function (result) {
            if (result == true) {
                 $.ajax({
                   url: '@Url.Action("OnDelete", "Engineer")',
                   type: 'POST',
                     data: { 'engineerId': Id },
                   dataType: "json",
                     success: function (result) {
                         if (result.Status == true) {
                             inittbSearchResult();
                             bootbox.alert(result.Message);
                         }
                  },
                  error: function (result) {
                      bootbox.alert(result.Message);
                  }

            });
            }
        });
    }

//-------------search-------------------------
        function GetDropDownLocationSearch() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetLocationByCompany","Team")',
           // data: {stateid:stateid},
            dataType: 'json',
            success: function (data) {

                $("#selLocationName").empty();
                $("#selLocationName").append('<option value="-1">--Please All--</option>');
                $.each(data, function (id, result) {
                    $("#selLocationName").append('<option value="' + result.LocationId + '">' + result.LocationNameTh +'</option>');
                    });
                },
                failure: function () {
                    $("#selLocationName").empty();
                    $("#selLocationName").append('<option value="-1">--Please All--</option>');
                }
            });
        }


        function getTeamByLocationId(locationId) {

            if (locationId == "") {
                locationId ="-1"
            }

              $.ajax({
                  url: '@Url.Action("GetDataByLocationId", "Team")',
                  type: 'POST',
                  data: { 'locationId': locationId},
                  dataType: "json",
                  success: function (data) {
                      $("#selTeamName").empty();
                      $("#selTeamName").append('<option value="-1">--Please All--</option>');
                      $.each(data, function (id, result) {
                          $("#selTeamName").append('<option value="' + result.TeamId + '">' + result.TeamNameTh + '</option>');
                      });

                      //if (data == null) {
                      //    alert('vvv');
                      //    $("#selTeamName").empty();
                      //    $("#selTeamName").append('<option value="-1">--Please All--</option>');
                      //}
                  },
                  failure: function () {

                      $("#selTeamName").empty();
                      $("#selTeamName").append('<option value="-1">--Please All--</option>');
                  }
              });
         }
//---------------------end

//-------------training-------------------------
        function GetDropDownLocationtraining() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetLocationByCompany","Team")',
           // data: {stateid:stateid},
            dataType: 'json',
            success: function (data) {

                $("#selLocationNametraining").empty();
                $("#selLocationNametraining").append('<option value="">--Please All--</option>');
                $.each(data, function (id, result) {
                    $("#selLocationNametraining").append('<option value="' + result.LocationId + ',' + result.LocationNameTh+'">' + result.LocationNameTh +'</option>');
                    });
                },
                failure: function () {
                    $("#selLocationNametraining").empty();
                    $("#selLocationNametraining").append('<option value="-1">--Please All--</option>');
                }
            });
        }


         function getTeamByLocationIdtraining(locationId) {
             console.log(locationId);
            if (locationId == "") {
                locationId ="-1"
            }

              $.ajax({
                  url: '@Url.Action("GetDataByLocationId", "Team")',
                  type: 'POST',
                  data: { 'locationId': locationId},
                  dataType: "json",
                  success: function (data) {
                      $("#selTeamtraining").empty();
                      $("#selTeamtraining").append('<option value="-1">--Please All--</option>');
                      $.each(data, function (id, result) {
                          $("#selTeamtraining").append('<option value="' + result.TeamId + ',' + result.TeamNameTh+'">' + result.TeamNameTh + '</option>');
                      });


                  },
                  failure: function () {

                      $("#selTeamtraining").empty();
                      $("#selTeamtraining").append('<option value="-1">--Please All--</option>');
                  }
              });
         }
           function getEngineerByTeamIdtraining(Teamid,locationid) {
               console.log(Teamid);
               if (Teamid == "") {
                   Teamid ="-1"
               }
               if (locationid == "") {
                   locationid = "-1"
               }

              $.ajax({
                  url: '@Url.Action("getEngineerByTeamId", "Engineer")',
                  type: 'POST',
                  data: { 'Teamid': Teamid, 'Locationid': locationid},
                  dataType: "json",
                  success: function (data) {
                      $("#selEngineertraining").empty();
                      $("#selEngineertraining").append('<option value="-1">--Please All--</option>');
                      $.each(data, function (id, result) {
                          $("#selEngineertraining").append('<option value="' + result.EngineerId + ',' + result.StaffName+'">' + result.StaffName + '</option>');
                      });


                  },
                  failure: function () {

                      $("#selEngineertraining").empty();
                      $("#selEngineertraining").append('<option value="-1">--Please All--</option>');
                  }
              });
         }
//---------------------end


     </script>
    }


