@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<div class="row my-3">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <p class="font-weight-bolder lead">
            @Localizer["InformationSummary"]
        </p>
        <hr />
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right"> @Localizer["RegisterType"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbsubcontract_profile_type"></label>
        </div>
    </div>
</div>
<div id="divnewsubcontract5" style="display:none;">
    <div class="row my-3" style="display:none;">
        <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
            <p class="font-weight-bolder lead">
                @Localizer["CreateChannel"]
            </p>
            <hr />
        </div>
    </div>
    <div class="row pt-0 pb-0" style="display:none;">
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["DistributionChannel"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbdistribution_channel"></label>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["ChannelSaleGroup"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbchannel_sale_group"></label>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
            <p class="font-weight-bolder lead">
                @Localizer["CompanyProfile"]
            </p>
            <hr />
        </div>
    </div>
    <div class="row pt-0 pb-0">
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right"> @Localizer["JuristicID"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbtax_id"></label>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["CompanyAilas"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbcompany_alias"></label>
            </div>
        </div>
    </div>
    <div class="row pt-0 pb-0">
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["JuristicNameThai"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbcompany_name_th"></label>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["JuristicNameEng"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbcompany_name_en">xxxxxxxxxxxx</label>
            </div>
        </div>
    </div>
    <div class="row pt-0 pb-0">
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["TaxwithholdName"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbwt_name">xxxxxxxxxxxx</label>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["VAT"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="vat_type">xxxxxxxxxxxx</label>
            </div>
        </div>
    </div>
</div>

<div id="divdealer5" style="display:none;">
    <div class="row my-3">
        <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
            <p class="font-weight-bolder lead">
                @Localizer["LocationInformation"]
            </p>
            <hr />
        </div>
    </div>
    <div class="row pt-0 pb-0">
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["LocationCode"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lblocationcode"></label>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["DistributionChannel"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbdistributionDealer"></label>
            </div>
        </div>
    </div>
    <div class="row pt-0 pb-0">
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["LocationName"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lblocationname"></label>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["ChannelSaleGroup"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbchannelsalegroupDealer"></label>
            </div>
        </div>
    </div>
    <div class="row pt-0 pb-0" style="display:none;">
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["VenderCode"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbvendercode"></label>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["ASCCode"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbasccode"></label>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
            <p class="font-weight-bolder lead">
               @Localizer["CompanyProfile"]
            </p>
            <hr />
        </div>
    </div>
    <div class="row pt-0 pb-0">
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["JuristicID"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbtax_idDealer"></label>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["CompanyAilas"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbcompany_aliasDealer"></label>
            </div>
        </div>
    </div>
    <div class="row pt-0 pb-0">
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["JuristicNameThai"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbcompany_name_thDealer"></label>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["JuristicNameEng"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbcompany_name_enDealer">xxxxxxxxxxxx</label>
            </div>
        </div>
    </div>
    <div class="row pt-0 pb-0">
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["TaxwithholdName"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbwt_nameDealer">xxxxxxxxxxxx</label>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["VAT"] :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="vat_typeDealer">xxxxxxxxxxxx</label>
            </div>
        </div>
    </div>
</div>


<div class="row my-3">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <p class="font-weight-bolder lead">
            @Localizer["CompanyAddressInformation"]
        </p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
    <div class="col-md-10 col-sm-10 col-xl-10 col-lg-10">
        <div class="table-responsive pt-3" style="overflow-y:hidden;">
            <table class="table table-bordered table-hover" id="tbaddressstep5" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th></th>
                        <th>@Localizer["AddressType"]</th>
                        <th>@Localizer["Address"]</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</div>
@*<div class="row">
        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
        <div class="col-md-7 col-sm-7 col-xl-7 col-lg-7">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item">
                        <span class="page-link">Previous</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                        <span class="page-link">
                            2
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>*@
<div class="row my-3">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <p class="font-weight-bolder lead">
            @Localizer["ContractInformation"]
        </p>
        <hr />
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["EmailCompany"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbcompany_Email"></label>
        </div>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["ContractName"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbcontract_name"></label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["Tel"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbcontract_phone"></label>
        </div>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["Email"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbcontract_email"></label>
        </div>
    </div>
</div>
<div class="row my-3">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <p class="font-weight-bolder lead">
            @Localizer["DepartmentContactInformation"]
        </p>
        <hr />
    </div>
</div>
<div class="row my-3">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-left">
        <p class="font-weight-bolder lead">
            @Localizer["InstallationDepartment"]
        </p>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["ContractName"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbdept_of_install_name"></label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["Tel"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbdept_of_install_phone"></label>
        </div>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["Email"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbdept_of_install_email"></label>
        </div>
    </div>
</div>
<div class="row my-3">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-left">
        <p class="font-weight-bolder lead">
            @Localizer["MaintenanceDepartment"]
        </p>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["ContractName"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbdept_of_mainten_name"></label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["Tel"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbdept_of_mainten_phone"></label>
        </div>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["Email"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbdept_of_mainten_email"></label>
        </div>
    </div>
</div>
<div class="row my-3">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-left">
        <p class="font-weight-bolder lead">
            @Localizer["AccountingDepartment"]
        </p>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["ContractName"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbdept_of_Account_name"></label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["Tel"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbdept_of_Account_phone"></label>
        </div>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["Email"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbdept_of_Account_email"></label>
        </div>
    </div>
</div>
<div class="row my-3">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <p class="font-weight-bolder lead">
            @Localizer["BankAccountInformation"]
        </p>
        <hr />
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right"> @Localizer["BankName"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbbank_Name"></label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["BranchName"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbbranch_Name"></label>
        </div>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["AccountType"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbbank_account_type_id"></label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["AccountNumber"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbaccount_Number">xxxxxxxxxxxx</label>
        </div>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["AccountName"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbaccount_Name">xxxxxxxxxxxx</label>
        </div>
    </div>
    @*<div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">ประเภทธุรกิจ :</label>
                <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbbusiness_type">xxxxxxxxxxxx</label>
            </div>
        </div>*@
</div>
<div class="row my-3">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <p class="font-weight-bolder lead">
            @Localizer["CompanyDocuments"]
        </p>
        <hr />
    </div>
</div>
<div class="row pt-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["CompanyCertificate"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbcompany_certified_file_5"></label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["CommercialRegistrationBook"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbcommercial_registration_file_5"></label>
        </div>
    </div>
</div>
<div class="row pt-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">@Localizer["VATRegistrationCertificate"] :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left" id="lbvat_registration_certificate_file_5"></label>
        </div>
    </div>
</div>