@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "ConfirmPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="pageID" style="display:none;">ConfirmPayment</div>

<div id="controllername" data-url="@Url.Action("Action", "Payment")"></div>


<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="skills layout-spacing">


        <div class="widget-content widget-content-area">
            <h3 class="">@ViewData["View"]</h3>


            <form class="SearchPaymentvalidation" novalidate action="javascript:void(0);">
                <div class="widget-content ">
                    <div class="form-row mb-4">
                        @*<div class=" form-group  col-md-6">
                                <label class="col-form-label text-left">Payment No:</label>
                                <input type="text" class="form-control " id="paymentno" maxlength="100">
                            </div>
                            <div class=" form-group col-md-6">
                                <label class="col-form-label text-left">Request Training no:</label>
                                <input type="text" class="form-control " id="paymentrequesttraningno" maxlength="100">
                            </div>*@


                        <div class="form-group col-md-6">
                            <label class="">@Localizer["RequestDateFrom"]:</label>
                            <div class='input-group p-0 date' id='datereqfrom'>
                                <input type='text' class="form-control" id="paymentrequestdatefrom" />
                                <div class="input-group-append input-group-addon">
                                    <span class="input-group-text px-4">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="">@Localizer["RequestDateTo"]:</label>
                            <div class='input-group p-0 date' id='datereqto'>
                                <input type='text' class="form-control" id="paymentrequestdateto" />
                                <div class="input-group-append input-group-addon">
                                    <span class="input-group-text px-4">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>

                            </div>
                        </div>


                        <div class="form-group col-md-6">
                            <label class="">@Localizer["PaymentDateFrom"]:</label>
                            <div class='input-group p-0 date' id='datepayfrom'>
                                <input type='text' class="form-control" id="paymentdatefrom" />
                                <div class="input-group-append input-group-addon">
                                    <span class="input-group-text px-4">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="">@Localizer["PaymentDateTo"]:</label>
                            <div class='input-group p-0 date' id='datepayto'>
                                <input type='text' class="form-control" id="paymentdateto" />
                                <div class="input-group-append input-group-addon">
                                    <span class="input-group-text px-4">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>

                            </div>
                        </div>


                        <div class="form-group col-md-6">
                            <label class="">@Localizer["PaymentStatus"]:</label>
                            <select class="form-control" id="paymentstatus" required>
                            </select>
                            <div class="invalid-feedback">
                                @Localizer["ErrorSelectStatus"]
                            </div>
                        </div>
                        <div class="form-group col-md-6">

                        </div>
                    </div>
                </div>
                <div class="mt-5" style="text-align: center;">
                    <button id="btnClearSearchconfirmpayment" type="button" onclick="clearSearchpayment()" class="btn btn-dark mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="15" y1="9" x2="9" y2="15"></line>
                            <line x1="9" y1="9" x2="15" y2="15"></line>
                        </svg> @Localizer["Reset"]
                    </button>
                    <button id="btnSearchconfirmpayment" type="button" class="btn btn-success mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>  @Localizer["Search"]
                    </button>
                </div>
            </form>


            <div class="widget-heading">
                <h3 class="">@Localizer["SearchResult"]</h3>

            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4" id="tbSearchconfirmpayment">
                    <thead>
                        <tr>
                            <th>@Localizer["Action"]</th>
                            <th>@Localizer["Status"]</th>
                            <th>@Localizer["RequestDate"]</th>
                            <th>@Localizer["PaymentDate"]</th>
                            <th>@Localizer["PaymentMethod"]</th>
                            <th>@Localizer["BankTransfer"]</th>
                            <th>@Localizer["Amount"]</th>
                            <th>@Localizer["Contract"]</th>
                            <th>@Localizer["MobileNo"]</th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>



<div id="ConfirmPayment" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="hTitleEdit" class="modal-title">@Localizer["PaymentNotification"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="frNew" class="needs-validation" novalidate>
                <div class="modal-body">
                    <div class="needs-validation-confirmpayment" novalidate>
                        <div class="container">

                            @*<div class="row">
                                    <div class="col-sm-3 text-right">
                                        <label>Request Training No:</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <label id="Request_no"></label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3 text-right">
                                        <label>Payment No:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label id="Payment_no"></label>
                                    </div>
                                </div>*@

                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    <label>@Localizer["CompanyName"]:</label>
                                </div>
                                <div class="col-sm-7">
                                    <label id="Company_name"></label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    <label>@Localizer["Address"]:</label>
                                </div>
                                <div class="col-sm-7" style="word-wrap: break-word">
                                    <label id="address"></label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    <label class="">@Localizer["TaxID"]:</label>
                                </div>
                                <div class="col-sm-7">
                                    <label id="Tax_id"></label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    <label>@Localizer["Contract"]<span style="color:red">*</span>:</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="Contact_name" value="" required>
                                    <div class="invalid-feedback">@Localizer["ErrorContract"]</div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    <label>@Localizer["Email"]<span style="color:red">*</span>:</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="email" class="form-control" id="Contact_email" value="" required>
                                    <div class="invalid-feedback">@Localizer["ErrorEmail"]</div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    <label class="">@Localizer["MobileNo"]<span style="color:red">*</span>:</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="Contact_phone_no" maxlength="20" required />
                                    <div class="invalid-feedback">@Localizer["ErrorMobileNo"]</div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    <label class="">@Localizer["PaymentMethod"]<span style="color:red">*</span>:</label>
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control" id="payment_channal" required>
                                    </select>
                                    <div class="invalid-feedback">@Localizer["ErrorPaymentMethod"]</div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-7 Detailpaymentchannal">

                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    <label class="">@Localizer["PaymentDate"]<span style="color:red">*</span>:</label>
                                </div>
                                <div class="col-sm-7">
                                    <div class='input-group date p-0' id='datepayment'>
                                        <input type='text' class="form-control" id="payment_date" required />
                                        <div class="input-group-append input-group-addon">
                                            <span class="input-group-text px-4">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        <div class="invalid-feedback">@Localizer["ErrorPaymentDate"]</div>
                                    </div>

                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    <label class="">@Localizer["PaymentTime"]<span style="color:red">*</span>:</label>
                                </div>
                                <div class="col-sm-7">
                                    <div class='input-group date p-0' id='timepayment'>
                                        <input type='text' class="form-control" id="payment_datetime" required />
                                        <div class="input-group-append input-group-addon">
                                            <span class="input-group-text px-4">
                                                <i class="fa fa-clock-o"></i>
                                            </span>
                                        </div>
                                        <div class="invalid-feedback">@Localizer["ErrorPaymentTime"]</div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    <label class="">@Localizer["TransferAmount"]<span style="color:red">*</span>:</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type='text' id="amount_transfer" class="form-control" onkeypress='validateNumberDot(event)' />
                                    <div class="invalid-feedback">@Localizer["ErrorTransferAmount"]</div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    <label class="">@Localizer["BankTransfer"]<span style="color:red">*</span>:</label>
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control" id="bank_transfer" required>
                                    </select>
                                    <div class="invalid-feedback">@Localizer["ErrorBankTransfer"]</div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    <label class="">@Localizer["Branch"]:</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" id="bank_branch" class="form-control" placeholder="" />
                                    <div class="invalid-feedback">@Localizer["ErrorBranch"]</div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    <label class="">@Localizer["TheTransferSlip"]<span style="color:red">*</span></label>
                                </div>
                                <div class="col-sm-7">
                                    <<input type="hidden" id="hdupfileslip" />
                                    <input type="file" class="custom-file-input inputValidation" id="slip_attach_file"
                                           accept="image/jpeg,image/png,application/pdf" required />
                                    <label class="custom-file-label" for="slip_attach_file" id="lbuploadslip">@Localizer["ChooseFile"]</label>
                                    <div class="invalid-feedback">@Localizer["ErrorTheTransferSlip"]</div>
                                    <div id="targetDiv">
                                        <a id="linkdownload" href="#" target="_blank"></a>
                                    </div>
                                    <small id="uploadlHelp1" class="form-text text-muted">
                                        @Localizer["ChooseFileSupportFileType"]
                                    </small>
                                    <small id="uploadlHelp1" style="color:red">@Localizer["RemarkChooseFileSupportFileType"]</small>

                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    <label>@Localizer["Remark"] :</label>
                                </div>
                                <div class="col-sm-7">
                                    <textarea id="remark" name="remark" rows="3" class="form-control"> </textarea>
                                </div>
                            </div>
                        </div>
                        <br />
                        <input type="hidden" id="hdpaymentId">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnClearModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
                        @Localizer["Close"]
                    </button>
                    <button id="btnClearDataModal" type="button" class="btn btn-primary" style="display:none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
                        @Localizer["Reset"]
                    </button>
                    <button id="btnconfirmpayment" type="button" class="btn btn-primary" style="display:none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
                        @Localizer["Save"]
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts {
    <script>
var localizedData = {
    'ChooseFile': '@Localizer["ChooseFile"]',
    'ddlSelectBank': '@Localizer["ddlSelectBank"]',
    'ddlSelectStatus': '@Localizer["ddlSelectStatus"]',
    'ddlSelectPaymentMethod': '@Localizer["ddlSelectPaymentMethod"]',
}
    </script>
    <script src="~/Scripts/View/ConfirmPayment.js"></script>
}



