@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "VerifyPayment";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="pageID" style="display:none;">VerfifiedPayment</div>

<div id="controllername" data-url="@Url.Action("Action", "Payment")"></div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="skills layout-spacing">
        <div class="widget-content widget-content-area">
            <h3 class="">@Localizer["SearchPaymentVerify"]</h3>
            <div class="widget-content1">
                <div class="form-row mb-4">
                    <div class="form-group col-md-6">
                        <label for="txtcompanyname">@Localizer["CompanyName"]</label>
                        <input type="text" class="form-control" id="txtcompanyname" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txttaxid">@Localizer["TaxID"]</label>
                        <input type="text" class="form-control" id="txttaxid" />
                    </div>
                    @*<div class="form-group col-md-6">
                            <label for="txttaxid">Location Name</label>
                            <select class="form-control" id="ddlLocation"></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txttaxid">Team Name</label>
                            <select class="form-control" id="ddlTeam"></select>
                        </div>*@
                    @*<div class="form-group col-md-6">
                            <label for="txttaxid">Payment No</label>
                            <input type="text" class="form-control" id="txtpayment" />
                        </div>*@

                    <div class="form-group col-md-6">
                        <label for="txttaxid">@Localizer["PaymentDateFrom"]</label>
                        <div class='input-group date p-0' id='paymentdatefrom'>
                            <input type='text' class="form-control" id="datepaymentfrom" />
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text px-4">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txttaxid">@Localizer["PaymentDateTo"]</label>
                        <div class='input-group date p-0' id='paymentdatefto'>
                            <input type='text' class="form-control" id="datepaymentto" />
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text px-4">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txttaxid">@Localizer["Status"]</label>
                        <select class="form-control" id="ddlStatus">
                        </select>
                    </div>
                </div>
                <div style="text-align:center">

                    <button id="btnclear" type="button" class="btn btn-dark mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="15" y1="9" x2="9" y2="15"></line>
                            <line x1="9" y1="9" x2="15" y2="15"></line>
                        </svg> @Localizer["Reset"]
                    </button>
                    <button id="btnSearch" type="button" class="btn btn-success mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>  @Localizer["Search"]
                    </button>

                </div>
            </div>
            <br />
            <div class="widget-heading">
                <h3 class="">@Localizer["SearchResult"]</h3>

            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4" id="tbSearchResult">
                    <thead>
                        <tr>
                            <th scope="col">@Localizer["Action"]</th>
                            <th scope="col">@Localizer["CompanyName"]</th>
                            <th scope="col">@Localizer["TaxID"]</th>
                            <th scope="col">@Localizer["PaidDateTime"]</th>
                            <th scope="col">@Localizer["PaymentStatus"]</th>
                            <th scope="col">@Localizer["Amount"]</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="VerifyPaymentModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="hTitleEdit" class="modal-title">@Localizer["ConfirmPayment"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="frNew" class="needs-validation" novalidate>
                <div class="modal-body">

                    <div class="container">

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>@Localizer["CompanyName"]:</label>
                            </div>
                            <div class="col-sm-7">
                                <label id="lblcompanyName"></label>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>@Localizer["PaymentMethod"] </label>  <span style="color:red">*</span>
                            </div>
                            <div class="col-sm-7">
                                <select class="form-control" id="ddlpaymenttransfer" disabled></select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-7 rdbank_payment" disabled>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>@Localizer["PaymentDate"] </label>  <span style="color:red">*</span>
                            </div>
                            <div class="col-sm-7">
                                <div class='input-group date p-0' id='datetimepicker'>
                                    <input type='text' class="form-control" id="dateverify" disabled />
                                    <div class="input-group-append input-group-addon">
                                        <span class="input-group-text px-4">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>@Localizer["PaymentTime"] </label>  <span style="color:red">*</span>
                            </div>
                            <div class="col-sm-7">
                                <div class='input-group date p-0 ' id='timepicker'>
                                    <input type='text' class="form-control" id="timepayverify" disabled />
                                    <div class="input-group-append input-group-addon">
                                        <span class="input-group-text px-4">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>@Localizer["Amount"] </label>  <span style="color:red">*</span>
                            </div>
                            <div class="col-sm-7">
                                <input type='text' id="txtBalance" value="1000" class="form-control" disabled />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>@Localizer["BankTransfer"] </label>  <span style="color:red">*</span>
                            </div>
                            <div class="col-sm-7">
                                <select class="form-control" id="ddlbank" disabled></select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>@Localizer["Branch"] </label>  <span style="color:red">*</span>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="txtbranch" placeholder="" disabled />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>@Localizer["TheTransferSlip"] </label>  <span style="color:red">*</span>
                            </div>
                            <div class="col-sm-7">
                                <input type="hidden" id="hdupfiletransfer" />
                                <input type="file" class="custom-file-input inputValidation" id="transfer_file"
                                       accept="image/jpeg,image/gif,image/png,application/pdf" disabled />
                                <label class="custom-file-label" for="customFile" id="lbuploadslip">@Localizer["ChooseFile"]</label>

                                <div id="targetDiv">
                                    @*<img id="ItemPreview" src="" class="img-thumbnail" style="width: 300px; height: 300px;"/>*@
                                    <a id="linkdownload" href="#" target="_blank"></a>
                                </div>


                                <small id="uploadlHelp1" class="form-text text-muted">
                                    @Localizer["ChooseFileSupportFileType"]
                                </small>
                                <small id="uploadlHelp1" style="color:red">@Localizer["RemarkChooseFileSupportFileType"]</small>
                                <div class="invalid-tooltip">@Localizer["ErrorTheTransferSlip"]</div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>@Localizer["Remark"] </label>
                            </div>
                            <div class="col-sm-7">
                                <textarea id="txtremark" name="remark" rows="3" class="form-control" disabled> </textarea>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="container">
                        <h4>@Localizer["ForAISStaff"]</h4>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>@Localizer["PaymentStatus"]</label>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control" id="ddlpaymentstatusais" required></select>
                                <div class="invalid-feedback">
                                    @Localizer["ErrorPaymentStatus"]
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>@Localizer["VerifyDate"]</label>
                            </div>
                            <div class="col-sm-7">
                                <div class='input-group date p-0' id='datetimepickerais'>
                                    <input type='text' class="form-control" id="dateverifyais" required />
                                    <div class="input-group-append input-group-addon">
                                        <span class="input-group-text px-4">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    <div class="invalid-feedback">
                                        @Localizer["ErrorVerifyDate"]
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>@Localizer["Remark"] </label>
                            </div>
                            <div class="col-sm-7">
                                <textarea id="txtremarkais" name="remark" rows="3" class="form-control"> </textarea>
                            </div>
                        </div>
                    </div>

                    <br />


                    <input type="hidden" id="hdpaymentId">
                    <input type="hidden" id="hdCompanyId">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnClearModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
                        @Localizer["Close"]
                    </button>
                    <button id="btnSave" type="button" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
                        @Localizer["Save"]
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
var localizedData = {
    'MessageAutocomplete': '@Localizer["MessageAutocomplete"]'
}
    </script>
    <script src="~/Scripts/View/VerifyPayment.js"></script>
}