@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="row">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row mb-0">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["CompanyName"] :</label>
            <label class="col-sm-8 col-md-8 col-lg-8 col-xl-8 col-form-label text-left" id="lbengineercompanyname"></label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row mb-0">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["Location"] :</label>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                <select class="form-control" id="ddllocationteamengineer">
                </select>
            </div>
        </div>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row mb-0">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["Team"] :</label>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                <select class="form-control" id="ddlteamengineer">
                </select>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <h4>@Localizer["Engineer"]</h4>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <div class="table-responsive mb-4 mt-4">
            <table class="table table-hover" style="width:100%" id="tbtabengineer">
                <thead>
                    <tr>
                        <th width="5%">@Localizer["View"]</th>
                        <th>@Localizer["RegisterType"]</th>
                        <th>@Localizer["LocationName"]</th>
                        <th>@Localizer["TeamName"]</th>
                        <th>@Localizer["StaffNameThai"]</th>
                        <th>@Localizer["StaffNameEnglish"]</th>
                        @*<th >Position</th>
                            <th >Contract Phone 1 </th>*@
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</div>


<div id="dataEngineerModal" class="modal fade bd-example-modal-lg"  role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="hTitleEdit" class="modal-title">@Localizer["EngineerInformation"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="frNew" class="needs-validation" novalidate>
                <div class="modal-body">

                    <ul class="nav nav-tabs  mb-3 mt-3" id="simpletab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="engineer-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">@Localizer["Engineer"]</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="prosonal-tab" data-toggle="tab" href="#personal" role="tab" aria-controls="contact" aria-selected="false">@Localizer["Personal"]</a>
                        </li>

                    </ul>

                    <div class="tab-content" id="simpletabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div id="Engineer">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["CompanyName"]:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label id="lblcompanyNameE"></label>
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><span style="color:red">*</span>@Localizer["LocationName"]:</label>

                                    </div>
                                    <div class="col-sm-4">
                                        <select id="Location" name="Location" style="width:300px" class="form-control" required>
                                        </select>
                                        <div class="invalid-feedback">
                                            @Localizer["ErrorLocationName"]
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label><span style="color:red">*</span> @Localizer["TeamName"]:</label>

                                    </div>
                                    <div class="col-sm-4">
                                        <select id="Team" name="Team" style="width:300px" class="form-control" required>
                                        </select>
                                        <div class="invalid-feedback">
                                            @Localizer["ErrorTeamName"]
                                        </div>
                                    </div>
                                </div>
                                <br />
                                @*<div class="row">
                                        <div class="col-sm-2">
                                            <label><span style="color:red">*</span> Staff Code:</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" id="StaffCode" style="width:300px" class="form-control" required>
                                            <div class="invalid-feedback">
                                                กรุณาเลือกข้อมูล Staff Code.
                                            </div>
                                        </div>

                                    </div>
                                    <br />*@
                            <div class="row">
                                @*<div class="col-sm-2">
            <label>@Localizer["StaffName"]:</label>
        </div>
        <div class="col-sm-4">
            <input type="text" id="StaffName" style="width:300px" class="form-control" required>
            <div class="invalid-feedback">
                @Localizer["ErrorStaffName"]
            </div>
        </div>*@
                                <div class="col-sm-2">
                                    <label>@Localizer["StaffNameThai"]:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="StaffNameT" style="width:300px" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <label>@Localizer["StaffNameEnglish"]:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="StaffNameE" style="width:300px" class="form-control">
                                </div>
                            </div>
                                <br />
                                <div class="row">

                                    <div class="col-sm-2">
                                        <label>@Localizer["Position"]:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        @*<input type="text" id="Position" style="width:300px" class="form-control">*@
                                        <select id="Position" name="Position" style="width:300px" class="form-control">
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["CitizenID"]:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="CitizenID" style="width:300px" class="form-control">
                                    </div>
                                </div>
                                <br />
                                <div class="row">

                                    <div class="col-sm-2">
                                        <label>@Localizer["PersonalAttachfile"]:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row col-sm-12">

                                                <input type="file" class="custom-file-input" id="personalAttahFile" aria-describedby="uploadlHelp1" style="width:190px">
                                                <label class="custom-file-label" for="inputBankAttach" id="lbpersonalAttahFile">@Localizer["ChooseFile"]</label>
                                            </div>
                                            <div id="targetDiv" class="row">
                                                <a id="linkdownloadpersonal" href="#" target="_blank"></a>
                                            </div>
                                            <div class="row">
                                                <small id="uploadlHelp1" class="form-text text-muted" style="margin-top:0;">@Localizer["ChooseFileType"]</small>
                                                <small id="uploadlHelp1" class="form-text text-muted" style="margin-top:0;">@Localizer["SizeFile"]</small>
                                            </div>




                                       
                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["SizeClothes"]:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        @*<input type="text" id="tshirtsize" style="width:300px" class="form-control">*@
                                        <select id="tshirtsize" name="tshirtsize" style="width:300px" class="form-control">
                                        </select>
                                    </div>
                                </div>

                                @*<div class="row">
                                    
                                </div>*@
                                <br />

                                <h5>@Localizer["ContractInfomation"]</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["Tel"]:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="ContractPhone1" style="width:300px" class="form-control">
                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["Tel2"]:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="ContractPhone2" style="width:300px" class="form-control">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["Email"]:</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" id="ContractEmail" style="width:300px" class="form-control">
                                    </div>
                                </div>
                                <br />

                                <h5>@Localizer["VehicleInfomation"]</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["VehicleType"]:</label>
                                    </div>
                                    <div class="col-sm-4">

                                        @*<input type="text" id="VehicleType" style="width:300px" class="form-control">*@
                                        <select id="VehicleType" name="VehicleType" style="width:300px" class="form-control">
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["VehicleBrand"]:</label>
                                    </div>
                                    <div class="col-sm-4">

                                        @*<input type="text" id="VehicleBrand" style="width:300px" class="form-control">*@
                                        <select id="VehicleBrand" name="VehicleBrand" style="width:300px" class="form-control">
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["VehicleSerise"]:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        @*<input type="text" id="VehicleSerise" style="width:300px" class="form-control">*@
                                        <select id="VehicleSerise" name="VehicleSerise" style="width:300px" class="form-control">
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["VehicleColor"]:</label>
                                    </div>
                                    <div class="col-sm-4">

                                        <input type="text" id="VehicleColor" style="width:300px" class="form-control">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["VehicleYear"]:</label>
                                    </div>
                                    <div class="col-sm-4">

                                        <input type="text" id="VehicleYear" style="width:300px" class="form-control">
                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["Vehiclelicenseplate"]:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="VehicleLicense" style="width:300px" class="form-control">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                        <div class="col-sm-2">
                                            <label>@Localizer["VehicleAttachFile"]:</label>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="col-sm-4">

                                                <input type="file" class="custom-file-input" id="VehicleAttachFile" aria-describedby="uploadlHelp1" style="width:190px">
                                                <label class="custom-file-label" for="inputBankAttach" id="lbVehicleAttachFile">@Localizer["ChooseFile"]</label>
                                            </div>
                                            
                                            <div id="targetDiv" class="row">
                                                <div class="col-sm-4">
                                                    <a id="linkdownloadvehicle" href="#" target="_blank"></a>
                                                </div>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <small id="uploadlHelp1" class="form-text text-muted" style="margin-top:0;">@Localizer["ChooseFileType"]</small>
                                                    <small id="uploadlHelp1" class="form-text text-muted" style="margin-top:0;">@Localizer["SizeFile"]</small>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                    


                                </div>
                                <br />

                                <h5>@Localizer["ToolInfomation"]</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["Toolotdr"]:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="Toolotdr" style="width:300px" class="form-control">
                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["Toolsplicing"]:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="ToolSplicing" style="width:300px" class="form-control">
                                    </div>
                                </div>
                                <br />

                                <h5>@Localizer["BankInfomation"]</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label><span style="color:red">*</span>@Localizer["BankName"]:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="ddlBankName" name="BankName" style="width:300px" class="form-control ddlsearchengineer" required>
                                        </select>
                                        <div class="invalid-feedback">
                                            @Localizer["ErrorBankName"]
                                        </div>
                                    </div>
                                    @*<div class="col-sm-2">
                                            <label>Bank Code:</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" id="BankCode" style="width:300px" class="form-control">
                                        </div>*@
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["AccountNo"]:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="AccNo" style="width:300px" class="form-control" required>
                                        <div class="invalid-feedback">
                                            @Localizer["ErrorAccountNo"]
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["AccountName"]:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="AccName" style="width:300px" class="form-control" required>
                                        <div class="invalid-feedback">
                                            @Localizer["ErrorAccountName"]
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="tab-pane fade" id="personal" role="tabpanel" aria-labelledby="profile-tab">
                            <div id="Personal">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label> @Localizer["CitizenID"] :</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" id="CitizenID2" style="width:300px" class="form-control">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["TitleName"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="Title" name="Title" style="width:300px" class="form-control">
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["FuulNameThai"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="FullNameT" style="width:300px" class="form-control">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["FullNameEng"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="FullNameE" style="width:300px" class="form-control">
                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["BirthDate"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row col-sm-12">
                                            @*<input type="text" id="BirthDate" style="width:280px" class="form-control">*@
                                            <div class='input-group p-0 date' id='dateBirthDate'>
                                                <input type='text' class="form-control" id="BirthDate" />
                                                <div class="input-group-append input-group-addon">
                                                    <span class="input-group-text px-4">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["Gender"]:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="radio" id="rdoMale" name="Gender" value="M">
                                        <label for="Male">@Localizer["Male"]</label>&nbsp;&nbsp;
                                        <input type="radio" id="rdoFeMale" name="Gender" value="F">
                                        <label for="FeMale">@Localizer["Female"]</label>
                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["Race"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="Race" class="form-control" style="width:300px">

                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["Nationality"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="Nationality" class="form-control" style="width:300px">
                                        @*<select id="Nationality" name="Nationality" style="width:300px" class="form-control">
                                            </select>*@
                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["Religion"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="Religion" class="form-control" style="width:300px">
                                        @*<select id="Religion" name="Religion" style="width:300px" class="form-control">
                                            </select>*@
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["IdentityBy"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="Identity" style="width:300px" class="form-control">
                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["Email"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="ContractEmail2" style="width:300px" class="form-control">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["IdentityCardAddress"]  :</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <textarea id="IdentiAddress" rows="2" style="width:300px;"></textarea>
                                    </div>
                                </div>
                                <br />

                                <h5>@Localizer["ContractInfomation"]</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["Tel"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="PersonalContractPhone1" style="width:300px" class="form-control">
                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["Tel2"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="PersonalContractPhone2" style="width:300px" class="form-control">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["Email"] :</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" id="ContractMail" style="width:300px" class="form-control">
                                    </div>
                                </div>
                                <br />

                                <h5>@Localizer["WorkExperienceInfomation"]</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["WorkPermitNo"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="WorkPermit" style="width:300px" class="form-control">
                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["AttachWorkPermit"]:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-12">
                                            <input type="file" class="custom-file-input" id="fileWorkPermitAttach" aria-describedby="uploadlHelp1" style="width:220px">
                                            <label class="custom-file-label" for="fileWorkPermitAttach" id="lbfileWorkPermitAttach">@Localizer["ChooseFile"]</label>
                                            <div id="targetDiv" class="row">
                                                <a id="linkdownloadfileWorkPermit" href="#" target="_blank"></a>
                                            </div>
                                            <div class="row">
                                                <small id="uploadlHelpwork" class="form-text text-muted" style="margin-top:0;">@Localizer["ChooseFileType"]</small>
                                                <small id="uploadlHelp1" class="form-text text-muted" style="margin-top:0;">@Localizer["SizeFile"]</small>
                                            </div>
                                        </div>

                                            
                                        </div>
                                       

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["AttachProfile"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-12">
                                            <input type="file" class="custom-file-input" id="fileProfileAttach" aria-describedby="uploadlHelp1" style="width:220px">
                                            <label class="custom-file-label" for="fileProfileAttach" id="lbfileProfileAttach">@Localizer["ChooseFile"]</label>

                                            <div id="targetDiv" class="row">
                                                <a id="linkdownloadfileProfile" href="#" target="_blank"></a>
                                            </div>
                                            <div class="row">
                                                <small id="uploadlHelpprofile" class="form-text text-muted" style="margin-top:0;">@Localizer["ChooseFileType"]</small>
                                                <small id="uploadlHelp1" class="form-text text-muted" style="margin-top:0;">@Localizer["SizeFile"]</small>
                                            </div>
                                        </div>
                                    </div>

                                           
                                </div>
                                <br />

                                <h5>@Localizer["EducationInfomation"]</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["Education"] :</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <textarea id="Education" class="form-control" rows="2" style="width:880px;"></textarea>
                                    </div>
                                </div>
                                <br />

                                <h5>@Localizer["LanguagesInfomation"]</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["Languages"] :</label>
                                    </div>
                                    <div class="col-sm-2">
                                        <input id="chkListenTH" type="checkbox" value="Y" />
                                        <label>@Localizer["ListeningThai"]</label><br />
                                        <input id="chkSpeakingTH" type="checkbox" value="Y" />
                                        <label>@Localizer["SpeakingThai"]</label><br />
                                        <input id="chkReadingTH" type="checkbox" value="Y" />
                                        <label>@Localizer["ReadingThai"]</label><br />
                                        <input id="chkWritingTH" type="checkbox" value="Y" />
                                        <label>@Localizer["WritingThai"]</label><br />
                                    </div>
                                    <div class="col-sm-8">
                                        <input id="chkListenEN" type="checkbox" value="Y" />
                                        <label>@Localizer["ListeningEng"]</label><br />
                                        <input id="chkSpeakingEN" type="checkbox" value="Y" />
                                        <label>@Localizer["SpeakingEng"]</label><br />
                                        <input id="chkReadingEN" type="checkbox" value="Y" />
                                        <label>@Localizer["ReadingEng"]</label><br />
                                        <input id="chkWritingEN" type="checkbox" value="Y" />
                                        <label>@Localizer["WritingEng"]</label><br />
                                    </div>
                                </div>
                                <br />

                                <h5>@Localizer["CertificateInfomation"]</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["CertificateType"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="CertificateType" style="width:300px" class="form-control">

                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["CertificateNo"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="CertificateNo" style="width:300px" class="form-control">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["CertificateExpireDate"]:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row col-sm-12">
                                            @*<input type="text" id="dateCertificateDAte" style="width:280px" class="form-control">*@
                                            @*  <input id="dateCertificateDate" style="width:220px" type="text" placeholder="Select Date.." data-provide="datepicker" >*@
                                            <div class='input-group p-0 date' id='datepickerCertificateDAte'>
                                                <input type='text' class="form-control" id="dateCertificateDAte" />
                                                <div class="input-group-append input-group-addon">
                                                    <span class="input-group-text px-4">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["AttachCertificate"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-12">
                                            <input type="file" class="custom-file-input" id="fileCertificateAttach" aria-describedby="uploadlHelp1" style="width:220px">
                                            <label class="custom-file-label" for="fileCertificateAttach" id="lbfileCertificateAttach">@Localizer["ChooseFile"]</label>

                                            <div id="targetDiv" class="row">
                                                <a id="linkdownloadfileCertificate" href="#" target="_blank"></a>
                                            </div>
                                            <div class="row">
                                                <small id="uploadlHelpCertificateAttach" class="form-text text-muted" style="margin-top:0;">@Localizer["ChooseFileType"]</small>
                                                <small id="uploadlHelp1" class="form-text text-muted" style="margin-top:0;">@Localizer["SizeFile"]</small>
                                            </div>
                                        </div>


                                            




                                    </div>
                                </div>
                                <br />

                                <h5>@Localizer["BankInfomation"]</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["BankName"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="BankName2" name="BankName2" style="width:300px" class="form-control ddlsearchengineer">
                                        </select>
                                    </div>
                                    @*<div class="col-sm-2">
                                            <label>Bank Code :</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" id="BankCode2" style="width:300px" class="form-control">
                                        </div>*@
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["AccountNo"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="AccNo2" style="width:300px" class="form-control">
                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["AccountName"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="AccName2" style="width:300px" class="form-control">
                                    </div>
                                </div>
                                <br />
                                @*<div class="row">
                                        <div class="col-sm-2">
                                            <label>Bank branch name:</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" id="BranchName" style="width:300px" class="form-control">
                                        </div>
                                        <div class="col-sm-2">
                                            <label>Bank Branch Code:</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" id="BranchCode" style="width:300px" class="form-control">
                                        </div>

                                    </div>

                                    <br />*@
                            </div>

                        </div>
                    </div>
                    <br />
                    <input type="hidden" id="hdMode">
                    <input type="hidden" id="hdEngineerId">
                    <input type="hidden" id="hdEngineerCompanyId">
                    <input type="hidden" id="hdPersonalId">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
                        @Localizer["Close"]
                    </button>
                    @*<button id="btnSave" type="submit" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
                            บันทึก
                        </button>*@
                </div>
            </form>

        </div>
    </div>
</div>