

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">@Localizer["CompanyName"] :</label>
            <label class="col-sm-8 col-md-8 col-lg-8 col-xl-8 col-form-label text-left" id="lbcompanyname"></label>
        </div>
    </div>
</div>

<h4>Location</h4>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive mb-4 mt-4">
            <table class="table table-hover" style="width:100%" id="tbtablocation">
                <thead>
                    <tr>
                        <th class="text-center" width="5%">@Localizer["View"]</th>
                        <th>@Localizer["RegisterType"]</th>
                        <th>@Localizer["LocationCode"]</th>
                        <th>@Localizer["LocationNameThai"]</th>
                        <th>@Localizer["LocationNameEng"]</th>
                        @*<th >Location Alias</th>
                            <th >Storage Location</th>
                            <th >Address</th>*@
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>




<div id="dataLocationModal" class="modal fade bd-example-modal-lg"  role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="hTitleEdit" class="modal-title">@Localizer["LocationInformation"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="frNew" class="needs-validation" novalidate>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["CompanyName"]:</label>
                            </div>
                            <div class="col-sm-10">
                                <label id="lblcompanyName"></label>
                            </div>
                        </div>
                        @*<br />
        <div class="row">
            <div class="col-sm-2">
                <label>Register Type:</label>
            </div>
            <div class="col-sm-10">
                <input type="radio" id="rdoCompanyTypeNew" name="CompType" value="newsub">
                <label for="new">New Subcontract</label>&nbsp;&nbsp;
                <input type="radio" id="rdoCompanyTypeDealer" name="CompType" value="dealer">
                <label for="deal">Dealer</label>
            </div>
        </div>*@
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label><span style="color:red">*</span>@Localizer["LocationCode"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputLocationCode" style="width:300px" class="form-control" required>
                                <div class="invalid-feedback">
                                    @Localizer["ErrorLocationCode"]
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label><span style="color:red">*</span> @Localizer["LocationNameAilas"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputLocationAlias" style="width:300px" class="form-control" required>
                                <div class="invalid-feedback">
                                    @Localizer["ErrorLocationNameAlias"]
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label><span style="color:red">*</span>  @Localizer["LocationNameThai"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputLocationNameT" style="width:300px" class="form-control" required>
                                <div class="invalid-feedback">
                                    @Localizer["ErrorLocationNameThai"]
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label>@Localizer["LocationNameEng"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputLocationNameE" style="width:300px" class="form-control">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["StorageLocation"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputStorage" style="width:300px" class="form-control">
                            </div>
                            <div class="col-sm-2">
                                <label>@Localizer["ShipTo"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputShip" style="width:300px" class="form-control">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["OutofServiceStoragelocation"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inoutOutStorage" style="width:300px" class="form-control">
                            </div>
                            <div class="col-sm-2">
                                <label>@Localizer["VatbranchNumber"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputVat" style="width:300px" class="form-control">
                            </div>
                        </div>
                        <br />

                        <h5>@Localizer["ContractPhone"]</h5>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2">
                                <label><span style="color:red">*</span> @Localizer["PhoneNo"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputPhoneNo" style="width:300px" class="form-control" required>
                                <div class="invalid-feedback">
                                    @Localizer["ErrorPhoneNo"]
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label><span style="color:red">*</span>  @Localizer["Companymaincontractphone"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputMainPhone" style="width:300px" class="form-control" required>
                                <div class="invalid-feedback">
                                    @Localizer["ErrorCompanymaincontractphone"]
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label><span style="color:red">*</span>   @Localizer["Installationscontractphone"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputInstallationsPhone" style="width:300px" class="form-control" required>
                                <div class="invalid-feedback">
                                    @Localizer["ErrorInstallationscontractphone"]
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label><span style="color:red">*</span>  @Localizer["Maintenencecontractphone"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputMaintenencePhone" style="width:300px" class="form-control" required>
                                <div class="invalid-feedback">
                                    @Localizer["ErrorMaintenencecontractphone"]
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["Inventorycontractphone"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputInventoryPhone" style="width:300px" class="form-control">
                            </div>
                            <div class="col-sm-2">
                                <label>@Localizer["Paymentcontractphone"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputPaymentPhone" style="width:300px" class="form-control">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["Etccontractphone"]:</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" id="inputEtcPhone" style="width:300px" class="form-control">
                            </div>
                        </div>
                        <br />

                        <h5>@Localizer["ContractEmail"]</h5>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["Companygroupmail"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="email" id="inputCompanyMail" style="width:300px" class="form-control">
                                <div class="invalid-feedback">
                                    @Localizer["ErrorEmail"]
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label> @Localizer["Installationcontractmail"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="email" id="inputInstallationMail" style="width:300px" class="form-control">
                                <div class="invalid-feedback">
                                    @Localizer["ErrorEmail"]
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["Maintanencecontractmail"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="email" id="inputMaintanenceMail" style="width:300px" class="form-control">
                                <div class="invalid-feedback">
                                    @Localizer["ErrorEmail"]
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label>@Localizer["Inventorycontractmail"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="email" id="inputInventoryMail" style="width:300px" class="form-control">
                                <div class="invalid-feedback">
                                    @Localizer["ErrorEmail"]
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["Paymentcontractmail"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="email" id="inputPaymentMail" style="width:300px" class="form-control">
                                <div class="invalid-feedback">
                                    @Localizer["ErrorEmail"]
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label>@Localizer["Etccontractmail"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="email" id="inputEtcMail" style="width:300px" class="form-control">
                                <div class="invalid-feedback">
                                    @Localizer["ErrorEmail"]
                                </div>
                            </div>
                        </div>
                        <br />

                        <h5> @Localizer["Address"]</h5>
                        <hr>
                        @*<div class="row">
            <div class="col-sm-2">
                <label>@Localizer["LocationAddress"]:</label>
            </div>
            <div class="col-sm-4">
                <textarea id="inputLocationAddress" class="form-control" rows="2" style="width:300px;"></textarea>
            </div>
            <div class="col-sm-2">
                <label>@Localizer["PostAddress"]:</label>
            </div>
            <div class="col-sm-4">
                <textarea id="inputPostAddress" class="form-control" rows="2" style="width:300px;"></textarea>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-2">
                <label>@Localizer["TaxAddress"]:</label>
            </div>
            <div class="col-sm-4">
                <textarea id="inputTaxAddress" class="form-control" rows="2" style="width:300px;"></textarea>
            </div><br />
            <div class="col-sm-2">
                <label>@Localizer["WTAddress"]:</label>
            </div>
            <div class="col-sm-4">
                <textarea id="inputWTAddress" class="form-control" rows="2" style="width:300px;"></textarea>
            </div>
        </div>*@
                        <div class="container needs-validation-address" novalidate>
                            <div style="display:none;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>@Localizer["AddressType"]</label>
                                    </div>
                                </div>
                                <br />
                                <div class="row" id="chkAddressType">
                                    <div class="col-sm-1">

                                    </div>


                                    <div class="col-sm-3">
                                        <div class="n-chk">
                                            <label class="new-control new-checkbox checkbox-primary">
                                                <input id="chkLocationBranchLo" type="checkbox" name="address_type_id" class="new-control-input" value="01" required>
                                                <span class="new-control-indicator"></span>@*@Localizer["BranchAddress"]*@
                                            </label>
                                        </div>

                                        <div class="n-chk">
                                            <label class="new-control new-checkbox checkbox-primary">
                                                <input id="chkLocationDocLo" type="checkbox" name="address_type_id" class="new-control-input" value="04" required>
                                                <span class="new-control-indicator"></span>@*@Localizer["DocumentAddress"]*@@*ที่อยู่จัดส่งเอกสาร*@
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="n-chk">
                                            <label class="new-control new-checkbox checkbox-primary">
                                                <input id="chkLocationTaxLo" type="checkbox" name="address_type_id" class="new-control-input" value="02" required>
                                                <span class="new-control-indicator"></span>@*@Localizer["TaxAddress"]*@@*ที่อยู่ตามใบกำกับภาษี*@
                                            </label>
                                        </div>
                                        <div class="n-chk">
                                            <label class="new-control new-checkbox checkbox-primary">
                                                <input id="chkLocationShipLo" type="checkbox" name="address_type_id" class="new-control-input" value="05" required>
                                                <span class="new-control-indicator"></span>@*@Localizer["ShippingAddress"]*@@*ที่อยู่จัดส่งสินค้า*@
                                            </label>
                                        </div>


                                    </div>
                                    <div class="col-sm-3">
                                        <div class="n-chk">
                                            <label class="new-control new-checkbox checkbox-primary">
                                                <input id="chkLocationWTLo" type="checkbox" name="address_type_id" class="new-control-input" value="03" required>
                                                <span class="new-control-indicator"></span>@*@Localizer["WTAddress"]*@@*ที่อยู่ตาม W/T*@
                                            </label>
                                        </div>
                                        <div class="n-chk">
                                            <label class="new-control new-checkbox checkbox-primary">
                                                <input id="chkLocationShipPOPLo" type="checkbox" name="address_type_id" class="new-control-input" value="06" required>
                                                <span class="new-control-indicator"></span>@*@Localizer["POPAddress"]*@@*ที่อยู่จัดส่ง POP*@
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-sm-2">
                                        <input type="hidden" id="hdAddressID" />
                                        <label>@Localizer["HouseNo"]@*เลขที่*@ :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row col-sm-12">
                                            <input type="text" id="txthomenumber" style="width:120px" class="form-control inputValidationAddress" required>

                                            <label>&nbsp;&nbsp;&nbsp;&nbsp;@Localizer["Moo"] :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input type="text" id="txtVillageNo" style="width:110px" class="form-control">
                                            <div class="invalid-feedback">
                                                @Localizer["ErrorHouseNo"]
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["Village"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="txtvillage" style="width:300px" class="form-control">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["Building"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="txtbuilding" style="width:300px" class="form-control">
                                    </div>
                                    <div class="col-sm-2">
                                        <label>@Localizer["Floor"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row col-sm-12">
                                            <input type="text" id="txtfloor" style="width:120px" class="form-control">
                                            <label>&nbsp;&nbsp;&nbsp;&nbsp;@Localizer["Room"] :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input type="text" id="txtroom" style="width:110px" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["Soi"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="txtsoi" style="width:300px" class="form-control">
                                    </div>


                                    <div class="col-sm-2">
                                        <label>@Localizer["street"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="txtroad" style="width:300px" class="form-control">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["Country"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="ddlcountry" name="country" class="custom-select inputValidationAddress" style="width:300px" required>
                                            <option value="">Select Country</option>
                                            <option value="THA">Thailand</option>
                                        </select>
                                        <div class="invalid-feedback">@Localizer["ErrorCountry"]</div>
                                    </div>

                                    <div class="col-sm-2">
                                        <label>@Localizer["Zone"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="ddlzone" name="ddlzone" class="custom-select inputValidationAddress" style="width:300px" required>
                                        </select>
                                        <div class="invalid-feedback">
                                            @Localizer["ErrorZone"]
                                        </div>
                                    </div>


                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["Province"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="ddlprovince" name="ddlprovince" class="custom-select inputValidationAddress ddlsearch" style="width:300px" required>
                                        </select>
                                        <div class="invalid-feedback">
                                            @Localizer["ErrorProvince"]
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <label>@Localizer["District"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="ddldistrict" name="ddldistrict" class="custom-select inputValidationAddress ddlsearch" style="width:300px" required>
                                        </select>
                                        <div class="invalid-feedback">
                                            @Localizer["ErrorDistrict"]
                                        </div>
                                    </div>

                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>@Localizer["Subdistrict"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="ddlsubdistrict" name="ddlsubdistrict" class="custom-select inputValidationAddress ddlsearch" style="width:300px" required>
                                        </select>
                                        <div class="invalid-feedback">
                                            @Localizer["ErrorSubdistrict"]
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <label>@Localizer["Zipcode"] :</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="ddlzipcode" name="ddlzipcode" class="custom-select inputValidationAddress" style="width:300px" required>
                                        </select>
                                        <div class="invalid-feedback">@Localizer["ErrorZipcode"]</div>
                                    </div>
                                </div>

                                <br />
                                <div class="row">
                                    <div class="col-sm-6" style="text-align:right; ">
                                        <input type="button" id="btnClear" value="@Localizer["Reset"]" style="width:20%" class="btn btn-dark mb-2" />
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="button" id="btnAddAddress" value="@Localizer["AddAddress"]" style="width:20%" class="btn btn-success mb-2" />
                                    </div>
                                </div>
                                <br />
                            </div>
                          
                            <div class="row col-sm-12">
                                <div class="table-responsive">
                                    <table id="tbAddressResultLocation" class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                <th width="30%">@Localizer["AddressType"]</th>
                                                <th width="50%">@Localizer["Address"]</th>
                                                @*<th width="10%">@Localizer["Edit"]</th>
                                                <th width="10%">@Localizer["Delete"]</th>*@

                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <br />

                        <h5>@Localizer["Bank"] </h5>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["Bankcode"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputBankCode" style="width:300px" class="form-control">
                            </div>
                            <div class="col-sm-2">
                                <label><span style="color:red">*</span> @Localizer["BankName"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="row col-sm-12">
                                    <input type="text" id="inputBankName" style="width:280px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        @Localizer["ErrorBankName"]
                                    </div>

                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label><span style="color:red">*</span>  @Localizer["BankAccountNo"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputBankAccountNo" style="width:300px" class="form-control" required>
                                <div class="invalid-feedback">
                                    @Localizer["ErrorBankAccountNo"]
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label><span style="color:red">*</span> @Localizer["BankAccountName"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputBankAccountName" style="width:300px" class="form-control" required>
                                <div class="invalid-feedback">
                                    @Localizer["ErrorBankAccountName"]
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["BankBranchNo"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputBankBranchNo" style="width:300px" class="form-control">
                            </div>
                            <div class="col-sm-2">
                                <label><span style="color:red">*</span> @Localizer["BankBranchName"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputBankBranchName" style="width:300px" class="form-control" required>
                                <div class="invalid-feedback">
                                    @Localizer["ErrorBankBranchName"]
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label><span style="color:red">*</span> @Localizer["BankAttachFile"]:</label>
                            </div>
                            <div class="col-sm-10">
                                <div class="row col-sm-5">

                                    <div class="custom-file mb-4">
                                        <input type="file" class="custom-file-input" id="inputBankAttach" aria-describedby="uploadlHelp1" style="width:190px">
                                        <label class="custom-file-label" for="inputBankAttach" id="lbBankAttach"> @Localizer["ChooseFile"]</label>
                                        <small id="uploadlHelp1" class="form-text text-muted">@Localizer["ChooseFileType"]</small>
                                        <small id="uploadlHelp1" class="form-text text-muted" style="margin-top:0;">
                                            @Localizer["SizeFile"]
                                        </small>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label>@Localizer["Panaltycontractphone"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputPanaltyPhone" style="width:300px" class="form-control">
                            </div>
                            <div class="col-sm-2">
                                <label>@Localizer["Panaltycontractmail"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="email" id="inputPanaltyMail" style="width:300px" class="form-control">
                                <div class="invalid-feedback">
                                    @Localizer["ErrorEmail"]
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2">
                                <label> @Localizer["ContractPhone"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="inputContractPhone" style="width:300px" class="form-control">
                            </div>
                            <div class="col-sm-2">
                                <label>  @Localizer["ContractEmail"]:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="email" id="inputContractMail" style="width:300px" class="form-control">
                                <div class="invalid-feedback">
                                    @Localizer["ErrorEmail"]
                                </div>
                            </div>


                        </div>


                    </div>

                    <br />

                    <input type="hidden" id="hdMode">
                    <input type="hidden" id="hdLocationId">
                    <input type="hidden" id="hdCompanyId">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
                            @Localizer["Close"]
                        </button>
                        @*<button id="btnSave" type="submit" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
                                บันทึก
                            </button>*@
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

