@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Company Verify";

}
<div id="pageID" style="display:none;">CompanyVerify</div>

<div id="controllername" data-url="@Url.Action("Action", "Registration")"></div>
<div id="accountcontrollername" data-url="@Url.Action("Action", "Account")"></div>

<input type="hidden" id="hdCompanyId" name="hdCompanyId" value=@ViewBag.Companyid>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="skills layout-spacing">
        <div class="widget-content widget-content-area">
            <h3 class="">@Localizer["CompanyVerify"]</h3>

            <div class="border-tab">
                <ul class="nav nav-tabs mt-3" id="border-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="action-tab" data-toggle="tab" href="#tabaction" role="tab" aria-controls="action" aria-selected="true">@Localizer["CompanyProfile"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="location-tab" href="#tablocation" data-toggle="tab" role="tab" aria-controls="location" aria-selected="false">@Localizer["LocationProfile"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="team-tab" href="#tateam" data-toggle="tab" role="tab" aria-controls="team" aria-selected="false">@Localizer["TeamProfile"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="engineer-tab" href="#tabengineer" data-toggle="tab" role="tab" aria-controls="engineer" aria-selected="false">@Localizer["EngineerProfile"]</a>
                    </li>
                </ul>

                <div class="tab-content mb-4" id="border-tabsContent">
                    <div class="tab-pane fade show active" id="tabaction" role="tabpanel" aria-labelledby="border-home-tab">
                        @await Html.PartialAsync("_PartialAction")
                    </div>
                    <div class="tab-pane fade" id="tablocation" role="tabpanel" aria-labelledby="aloction-tab">
                        @await Html.PartialAsync("_PartialLocation")
                    </div>
                    <div class="tab-pane fade" id="tateam" role="tabpanel" aria-labelledby="team-tab">
                        @await Html.PartialAsync("_PartialTeam")
                    </div>
                    <div class="tab-pane fade" id="tabengineer" role="tabpanel" aria-labelledby="engineer-tab">
                        @await Html.PartialAsync("_PartialEngineer")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
var localizedData = {
    'ChooseFile': '@Localizer["JSChooseFile"]',
     'ddlPleaseSelect': '@Localizer["JSddlPleaseSelect"]',
}
    </script>
    <script src="~/Scripts/View/CompanyVerify.js"></script>
}





