@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Migration Profile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="pageID" style="display:none;">Migration Profile</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">

    <div class="skills layout-spacing ">
        <div class="widget-content widget-content-area">
            <h3 class="">@Localizer["MigrationProfile"]</h3>
            <div class="widget-content1">

                <div class="form-row mb-4">

                    <div class="form-group col-md-6">
                        <label for="inputmasterdata">@Localizer["MasterTable"]</label>
                        <select id="inputmasterdata" class="form-control" data-live-search="true" onchange="chkchangetable();">
                            <option value="Select">Please Select</option>
                            <option value="Location">Location</option>
                            <option value="Team">Team</option>
                            <option value="Engineer">Engineer</option>
                            <option value="Personal">Personal</option>
                             <option value="Company">Company</option>
                        </select>

                    </div>
                </div>
                <div class="form-row mb-4">
                    <div class="form-group col-md-6">
                        <input type="hidden" id="upfileData" />
                        <input type="file" class="custom-file-input inputValidation" id="uploadfileMigrateData"
                               accept="text/plain, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                               required />
                        <label class="custom-file-label" for="uploadfileMigrateData" id="lbuploadData">@Localizer["ChooseFile"]</label>
                        <div class="invalid-feedback">@Localizer["ErrorFileFormat"]</div>

                        @*<small id="uploadlHelp1" class="form-text text-muted" style="margin-top:0;">
                                @Localizer["ChooseFileSupportFileType"]
                            </small>
                            <small id="uploadlHelp1" class="form-text text-muted" style="margin-top:0;">
                                @Localizer["SizeFile"]
                            </small>
                            <small id="uploadlHelp1" style="color:red">@Localizer["RemarkChooseFileSupportFileType"]</small>*@

                    </div>


                </div>
                <div class="form-row mb-4">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
                        @Localizer["Close"]
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button id="btnSave" onclick="onUploadData();" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>

                        @Localizer["Upload"]
                    </button>
                </div>
                <div class="form-row mb-4">
                    <div id="location" class="table-responsive mb-4 mt-4">
                        <table id="tbLocSearchResult" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                  @*//   <th>@Localizer["LocationId"]</th>*@
                                    <th>@Localizer["LocationCode"]</th>
                                    <th>@Localizer["LocationName"]</th>
                                    <th>@Localizer["LocationNameTh"]</th>
                                    <th>@Localizer["LocationNameEn"]</th>
                                    <th>@Localizer["LocationNameAlias"]</th>
                                    <th>@Localizer["VendorCode"]</th>
                                    <th>@Localizer["StorageLocation"]</th>
                                    <th>@Localizer["ShipTo"]</th>
                                    <th>@Localizer["OutOfServiceStorageLocation"]</th>
                                    <th>@Localizer["SubPhase"]</th>
                                    <th>@Localizer["EffectiveDate"]</th>
                                    <th>@Localizer["ShopType"]</th>
                                    <th>@Localizer["VatBranchNumber"]</th>
                                    <th>@Localizer["Phone"]</th>
                                    <th>@Localizer["CompanyMainContractPhone"]</th>
                                    <th>@Localizer["InstallationsContractPhone"]</th>
                                    <th>@Localizer["MaintenanceContractPhone"]</th>
                                    <th>@Localizer["InventoryContractPhone"]</th>
                                    <th>@Localizer["PaymentContractPhone"]</th>
                                    <th>@Localizer["EtcContractPhone"]</th>
                                    <th>@Localizer["CompanyGroupMail"]</th>
                                    <th>@Localizer["InstallationsContractMail"]</th>
                                    <th>@Localizer["MaintenanceContractMail"]</th>
                                    <th>@Localizer["InventoryContractMail"]</th>
                                    <th>@Localizer["PaymentContractMail"]</th>
                                    <th>@Localizer["EtcContractMail"]</th>
                                    <th>@Localizer["LocationAddress"]</th>
                                    <th>@Localizer["PostAddress"]</th>
                                    <th>@Localizer["TaxAddress"]</th>
                                    <th>@Localizer["WtAddress"]</th>
                                    <th>@Localizer["HouseNo"]</th>
                                    <th>@Localizer["AreaCode"]</th>
                                    <th>@Localizer["BankCode"]</th>
                                    <th>@Localizer["BankName"]</th>
                                    <th>@Localizer["BankAccountNo"]</th>
                                    <th>@Localizer["BankAccountName"]</th>
                                    <th>@Localizer["BankAttachFile"]</th>
                                    <th>@Localizer["Status"]</th>
                                    <th>@Localizer["CreateDate"]</th>
                                    <th>@Localizer["CreateBy"]</th>
                                    <th>@Localizer["UpdateBy"]</th>
                                    <th>@Localizer["UpdateDate"]</th>
                                    <th>@Localizer["BankBranchCode"]</th>
                                    <th>@Localizer["BankBranchName"]</th>
                                    <th>@Localizer["PenaltyContractPhone"]</th>
                                    <th>@Localizer["PenaltyContractMail"]</th>
                                    <th>@Localizer["ContractPhone"]</th>
                                    <th>@Localizer["ContractMail"]</th>
                                    @*<th>@Localizer["CompanyId"]</th>*@


                                </tr>

                            </thead>

                        </table>
                    </div>
                    <div id="engineer" class="table-responsive mb-4 mt-4">
                        <table id="tbEngineerSearchResult" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>


                                    <th>@Localizer["StaffCode"]</th>
                                    <th>@Localizer["FoaCode"]</th>
                                    <th>@Localizer["StaffName"]</th>
                                    <th>@Localizer["StaffNameTh"]</th>
                                    <th>@Localizer["StaffNameEn"]</th>
                                    <th>@Localizer["AscCode"]</th>
                                    <th>@Localizer["TshirtSize"]</th>
                                    <th>@Localizer["ContractPhone1"]</th>
                                    <th>@Localizer["ContractPhone2"]</th>
                                    <th>@Localizer["ContractEmail"]</th>
                                    <th>@Localizer["WorkExperience"]</th>
                                    <th>@Localizer["WorkExperienceAttachFile"]</th>
                                    <th>@Localizer["WorkType"]</th>
                                    <th>@Localizer["CourseSkill"]</th>
                                    <th>@Localizer["SkillLevel"]</th>
                                    <th>@Localizer["VehicleType"]</th>
                                    <th>@Localizer["VehicleBrand"]</th>
                                    <th>@Localizer["VehicleSerise"]</th>
                                    <th>@Localizer["VehicleColor"]</th>
                                    <th>@Localizer["VehicleYear"]</th>
                                    <th>@Localizer["VehicleLicensePlate"]</th>

                                    <th>@Localizer["ToolOtrd"]</th>
                                    <th>@Localizer["ToolSplicing"]</th>
                                    <th>@Localizer["Position"]</th>
                                    <th>@Localizer["LocationCode"]</th>
                                    <th>@Localizer["StaffId"]</th>
                                    <th>@Localizer["TeamCode"]</th>
                                    <th>@Localizer["CitizenId"]</th>
                                    <th>@Localizer["BankCode"]</th>
                                    <th>@Localizer["BankName"]</th>
                                    <th>@Localizer["AccountNo"]</th>
                                    <th>@Localizer["AccountName"]</th>
                                    <th>@Localizer["PersonalAttachFile"]</th>
                                    <th>@Localizer["StaffStatus"]</th>

                                </tr>

                            </thead>

                        </table>
                    </div>
                    <div id="team" class="table-responsive mb-4 mt-4">
                        <table id="tbTeamSearchResult" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    
                                    <th>@Localizer["team_code"]</th>
                                    <th>@Localizer["team_name"]</th>
                                    <th>@Localizer["team_name_th"]</th>
                                    <th>@Localizer["team_name_en"]</th>
                                    <th>@Localizer["ship_to"]</th>
                                    <th>@Localizer["stage_local"]</th>
                                    <th>@Localizer["oos_storage_location"]</th>
                                    <th>@Localizer["location_code"]</th>
                                    <th>@Localizer["vendor_code"]</th>
                                    <th>@Localizer["job_type"]</th>
                                    <th>@Localizer["subcontract_type"]</th>
                                    <th>@Localizer["subcontract_sub_type"]</th>
                                    <th>@Localizer["warranty_ma"]</th>
                                    <th>@Localizer["warranty_install"]</th>
                                    <th>@Localizer["service_skill"]</th>
                                    <th>@Localizer["installations_contract_phone"]</th>
                                    <th>@Localizer["maintenance_contract_phone"]</th>
                                    <th>@Localizer["etc_contract_phone"]</th>
                                    <th>@Localizer["installations_contract_email"]</th>
                                    <th>@Localizer["maintenance_contract_email"]</th>
                                    <th>@Localizer["etc_contract_email"]</th>
                                    <th>@Localizer["status"]</th>
                                    <th>@Localizer["create_date"]</th>
                                    <th>@Localizer["create_by"]</th>
                                    <th>@Localizer["update_date"]</th>
                                    <th>@Localizer["update_by"]</th>

                                </tr>

                            </thead>

                        </table>
                    </div>
                    <div id="personal" class="table-responsive mb-4 mt-4">
                        <table id="tbPersonalSearchResult" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>

                                    <th>@Localizer["CitizenId"]</th>
                                    <th>@Localizer["TitleName"]</th>
                                    <th>@Localizer["FullNameTh"]</th>
                                    <th>@Localizer["FullNameEn"]</th>
                                    <th>@Localizer["BirthDate"]</th>
                                    <th>@Localizer["Gender"]</th>
                                    <th>@Localizer["Race"]</th>
                                    <th>@Localizer["Nationality"]</th>
                                    <th>@Localizer["Religion"]</th>
                                    <th>@Localizer["PassportAttachFile"]</th>
                                    <th>@Localizer["IdentityBy"]</th>
                                    <th>@Localizer["AddressId"]</th>
                                    <th>@Localizer["IdentityCardAddress"]</th>
                                    <th>@Localizer["ContactPhone1"]</th>
                                    <th>@Localizer["ContactPhone2"]</th>
                                    <th>@Localizer["ContactEmail"]</th>
                                    <th>@Localizer[" WorkPermitNo"]</th>
                                    <th>@Localizer["WorkPermitAttachFile"]</th>
                                    <th>@Localizer["ProfileImgAttachFile"]</th>
                                    <th>@Localizer["Education"]</th>
                                    <th>@Localizer["ThListening"]</th>
                                    <th>@Localizer["ThSpeaking"]</th>
                                    <th>@Localizer["ThReading"]</th>
                                    <th>@Localizer["ThWriting"]</th>
                                    <th>@Localizer["EnListening"]</th>
                                    <th>@Localizer["EnSpeaking"]</th>
                                    <th>@Localizer["EnReading"]</th>
                                    <th>@Localizer["EnWriting"]</th>
                                    <th>@Localizer["CertificateType"]</th>
                                    <th>@Localizer["CertificateNo"]</th>
                                    <th>@Localizer["CertificateExpireDate"]</th>
                                    <th>@Localizer["CertificateAttachFile"]</th>
                                    <th>@Localizer["BankCode"]</th>
                                    <th>@Localizer["BankName"]</th>
                                    <th>@Localizer["AccountNumber"]</th>
                                    <th>@Localizer["AccountName"]</th>
                                    <th>@Localizer["Status"]</th>
                                    



                                </tr>

                            </thead>

                        </table>
                    </div>
                    <div id="company" class="table-responsive mb-4 mt-4">
                        <table id="tbCompanySearchResult" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@Localizer["CompanyCode"]</th>
                                    <th>@Localizer["CompanyName"]</th>
                                    <th>@Localizer["CompanyNameTh"]</th>
                                    <th>@Localizer["CompanyNameEn"]</th>
                                    <th>@Localizer["CompanyAlias"]</th>
                                    <th>@Localizer["DistributionChannel"]</th>
                                    <th>@Localizer["ChannelSaleGroup"]</th>
                                    <th>@Localizer["VendorCode"]</th>
                                    <th>@Localizer["CustomerCode"]</th>
                                    <th>@Localizer["AreaId"]</th>
                                    <th>@Localizer["TaxId"]</th>
                                    <th>@Localizer["WtName"]</th>
                                    <th>@Localizer["VatType"]</th>
                                    <th>@Localizer["CompanyCertifiedFile"]</th>
                                    <th>@Localizer["CommercialRegistrationFile"]</th>
                                    <th>@Localizer["DepositAuthorizationLevel"]</th>
                                    <th>@Localizer["DepositPaymentType"]</th>
                                    <th>@Localizer["ContractStartDate"]</th>
                                    <th>@Localizer["ContractEndDate"]</th>
                                    <th>@Localizer["OverDraftDeposit"]</th>
                                    <th>@Localizer["BalanceDeposit"]</th>
                                    <th>@Localizer["CompanyStatus"]</th>
                                    <th>@Localizer["CompanyAddress"]</th>
                                    <th>@Localizer["VatAddress"]</th>
                                    <th>@Localizer["CompanyEmail"]</th>
                                    <th>@Localizer["ContractPame"]</th>
                                    <th>@Localizer["ContractPhone"]</th>
                                    <th>@Localizer["ContractEmail"]</th>
                                    <th>@Localizer["BankCode"]</th>
                                    <th>@Localizer["BankName"]</th>
                                    <th>@Localizer["AccountNumber"]</th>
                                    <th>@Localizer["AccountName"]</th>
                                    <th>@Localizer["AttachFile"]</th>
                                    <th>@Localizer["BranchCode"]</th>
                                    <th>@Localizer["BranchName"]</th>
                                    <th>@Localizer["DeptOfInstallName"]</th>
                                    <th>@Localizer["DeptOfMaintenName"]</th>
                                    <th>@Localizer["DeptOfAccountName"]</th>
                                    <th>@Localizer["DeptOfInstallPhone"]</th>
                                    <th>@Localizer["DeptOfMaintenPhone"]</th>
                                    <th>@Localizer["DeptOfAccountPhone"]</th>
                                    <th>@Localizer["DeptOfInstallEmail"]</th>
                                    <th>@Localizer["DeptOfMaintenEmail"]</th>
                                    <th>@Localizer["DeptOfAccountEmail"]</th>
                                    <th>@Localizer["LocationCode"]</th>
                                    <th>@Localizer["LocationNameTh"]</th>
                                    <th>@Localizer["LocationNameEn"]</th>
                                    <th>@Localizer["BankAccountTypeId"]</th>
                                    <th>@Localizer["SubcontractProfileType"]</th>
                                    <th>@Localizer["CompanyTitleThId"]</th>
                                    <th>@Localizer["CompanyTitleEnId"]</th>
                                    <th>@Localizer["Status"]</th>
                                    <th>@Localizer["ActivateDate"]</th>
                                    <th>@Localizer["RegisterDate"]</th>
                                    <th>@Localizer["RemarkForSub"]</th>
                                    <th>@Localizer["VerifiedDate"]</th>
                                    <th>@Localizer["Remark"]</th>
                                    <th>@Localizer["VerifiedDate"]</th>
                                    <th>@Localizer["Remark"]</th>


                                </tr>

                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{


    <script type="text/javascript">
                        var oTable;
                        var oTableEngineer;


        $(document).ready(function () {

                $(".custom-file-input").on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });


                            hideAll();


                            $('#uploadfileMigrateData').change(function (e) {
                                e.preventDefault();
                                CheckFileUpload('uploadfileMigrateData')

                            });



            $('#btnSave').click(function () {
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    if (Validateform() || ValidateUpload()) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else {

                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');

                });
            });
         });

        function hideAll() {

            $("#team").hide();
            $("#engineer").hide();
            $("#location").hide();
            $("#personal").hide();
            $("#company").hide();
        }
        function chkchangetable() {
            var  d  = $("#inputmasterdata").val();
            if (d == "Team") {
                $("#team").show();
                $("#engineer").hide();
                $("#location").hide();
                $("#personal").hide();
                $("#company").hide();
            }
            if (d == "Engineer") {
                $("#team").hide();
                $("#engineer").show();
                $("#location").hide();
                $("#personal").hide();
                $("#company").hide();
            }
            if (d == "Location") {
                $("#team").hide();
                $("#engineer").hide();
                $("#location").show();
                $("#personal").hide();
                $("#company").hide();

            }
            if (d == "Personal") {
                $("#team").hide();
                $("#engineer").hide();
                $("#location").hide();
                $("#personal").show();
                $("#company").hide();
            }
            if (d == "Company") {
                $("#team").hide();
                $("#engineer").hide();
                $("#location").hide();
                $("#personal").hide();
                $("#company").show();
            }

        }



        function ValidateUpload() {
            var hasError = false;
            if ($('#upfileData').val() == "") {
                hasError = true;
                $("#uploadfileMigrateData").attr('required', 'required');
            }
            else {
                $("#uploadfileMigrateData").removeAttr('required');
            }

            return hasError;
        }

        function CheckFileUpload(inputId) {

            var tablename = $('#inputmasterdata').val();
            var input = document.getElementById(inputId);
            var files = input.files[0];

            var formData = new FormData();


            formData.append("files", files);
            formData.append("table", tablename);


            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("onCheckUpload", "MigrationProfile")',
                    processData: false,
                    async: false,
                    contentType: false,
                    dataType: "json",
                    data: formData,

                    success: function (data) {
                        if (data.status) {
                            $('#upfileData').val(data.file_id);
                        }
                        else {
                            $('#lbuploadData').text(localizedData.ChooseFile);
                            $('#upfileData').val('');
                        }

                        bootbox.alert(data.message);
                        //    title: "System Information",
                        //    message: data.message,
                        //    size: "small",
                        //    callback: function (result) {
                        //        console.log('This was logged in the callback: ' + data.status);
                        //    }
                        //});

                    },
                    error: function (xhr, status, error) {


                        //bootbox.alert({
                        //    title: "System Information",
                        //    message: "This action is not available.",
                        //    size: "small",
                        //    callback: function (result) {
                        //        console.log('This was logged in the callback: ' + result);
                        //    }
                        //});
                    }
                }


            );
            if (tablename == "Location") {
                onLoadDataLocation();
            }
            else if (tablename == "Team") {
                onLoadDataTeam();
            }
            else if (tablename == "Engineer") {
                onLoadDataEngineer();
            }

            else if (tablename == "Personal") {
                onLoadDataPersonal();
            }
            else if (tablename == "Company") {
                onLoadDataCompany();
            }
        }

        function onLoadDataCompany() {
               var i = 0;
                oTableEngineer = $('#tbCompanySearchResult').DataTable({
                 processing: true, // for show progress bar
                 serverSide: true, // for process server side
                 filter: false, // this is for disable filter (search box)
                 orderMulti: false, // for disable multiple column at once
                 pageLength: 10,
                 order: [],
                 autoWidth: false,
                 searching: false,
                 destroy: true,
                 lengthChange: false,
                 "oLanguage": {
                     "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                     "sInfo": "Showing page _PAGE_ of _PAGES_",
                     "sSearch": false,
                     "sLengthMenu": "Results :  _MENU_",
                 },
                 "scrollX": false,
                 "language": {
                     "zeroRecords": "No data found.",
                     "decimal": ",",
                     "thousands": "."
                 },
                 ajax: {
                     url: '@Url.Action("AddDataTableCompany", "MigrationProfile")',
                     type: "POST",
                     async: false,
                     datatype: "JSON",

                 },
                 columns: [


                     { data: "CompanyCode" },
                     { data: "CompanyName" },
                     { data: "CompanyNameTh" },
                     { data: "CompanyNameEn" },
                     { data: "CompanyAlias" },
                     { data: "DistributionChannel" },
                     { data: "ChannelSaleGroup" },
                     { data: "VendorCode" },
                     { data: "CustomerCode" },
                     { data: "AreaId" },
                     { data: "TaxId" },
                     { data: "WtName" },
                     { data: "VatType" },
                     { data: "CompanyCertifiedFile" },
                     { data: "CommercialRegistrationFile" },
                     { data: "DepositAuthorizationLevel" },
                     { data: "DepositPaymentType" },
                     { data: "ContractStartDate" },
                     { data: "ContractEndDate" },
                     { data: "OverDraftDeposit" },
                     { data: "BalanceDeposit" },
                     { data: "CompanyStatus" },
                     { data: "CompanyAddress" },
                     { data: "VatAddress" },
                     { data: "CompanyEmail" },
                     { data: "ContractName" },
                     { data: "ContractPhone" },
                     { data: "ContractEmail" },
                     { data: "BankCode" },
                     { data: "BankName" },
                     { data: "AccountNumber" },
                     { data: "AccountName" },
                     { data: "AttachFile" },
                     { data: "BranchCode" },
                     { data: "BranchName" },
                     { data: "DeptOfInstallName" },
                     { data: "DeptOfMaintenName" },
                     { data: "DeptOfAccountName" },
                     { data: "DeptOfInstallPhone" },
                     { data: "DeptOfMaintenPhone" },
                     { data: "DeptOfAccountPhone" },
                     { data: "DeptOfInstallEmail" },
                     { data: "DeptOfMaintenEmail" },
                     { data: "DeptOfAccountEmail" },
                     { data: "LocationCode" },
                     { data: "LocationNameTh" },
                     { data: "LocationNameEn" },
                     { data: "BankAccountTypeId" },
                     { data: "SubcontractProfileType" },
                     { data: "CompanyTitleThId" },
                     { data: "CompanyTitleEnId" },
                     { data: "Status" },
                     { data: "_ActivateDate" },
                     { data: "_RegisterDate" },
                     { data: "RemarkForSub" },
                     { data: "_VerifiedDate" },
                     { data: "Remark" },
          

                    


                 ],
                 "order": [[0, "desc"]],
                 "stripeClasses": [],
                 "initComplete": function (settings, json) {


                 },
                 drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }

             });

        }

        function onLoadDataPersonal() {
             var i = 0;
                oTableEngineer = $('#tbPersonalSearchResult').DataTable({
                 processing: true, // for show progress bar
                 serverSide: true, // for process server side
                 filter: false, // this is for disable filter (search box)
                 orderMulti: false, // for disable multiple column at once
                 pageLength: 10,
                 order: [],
                 autoWidth: false,
                 searching: false,
                 destroy: true,
                 lengthChange: false,
                 "oLanguage": {
                     "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                     "sInfo": "Showing page _PAGE_ of _PAGES_",
                     "sSearch": false,
                     "sLengthMenu": "Results :  _MENU_",
                 },
                 "scrollX": false,
                 "language": {
                     "zeroRecords": "No data found.",
                     "decimal": ",",
                     "thousands": "."
                 },
                 ajax: {
                     url: '@Url.Action("AddDataTablePersonal", "MigrationProfile")',
                     type: "POST",
                     async: false,
                     datatype: "JSON",

                 },
                 columns: [


                     { data: "CitizenId" },
                     { data: "TitleName" },
                     { data: "FullNameTh" },
                     { data: "FullNameEn" },
                     { data: "_BirthDate" },
                     { data: "Gender" },
                     { data: "Race" },
                     { data: "Nationality" },
                     { data: "Religion" },
                     { data: "PassportAttachFile" },
                     { data: "IdentityBy" },
                     { data: "AddressId" },
                     { data: "IdentityCardAddress" },
                     { data: "ContactPhone1" },
                     { data: "ContactPhone2" },
                     { data: "ContactEmail" },
                     { data: "WorkPermitNo" },
                     { data: "WorkPermitAttachFile" },
                     { data: "ProfileImgAttachFile" },
                     { data: "Education" },
                     { data: "ThListening" },
                     { data: "ThSpeaking" },
                     { data: "ThReading" },
                     { data: "ThWriting" },
                     { data: "EnListening" },
                     { data: "EnSpeaking" },
                     { data: "EnReading" },
                     { data: "EnWriting" },
                     { data: "CertificateType" },
                     { data: "CertificateNo" },
                     { data: "_CertificateExpireDate" },
                     { data: "CertificateAttachFile" },
                     { data: "BankCode" },
                     { data: "BankName" },
                     { data: "AccountNumber" },
                     { data: "AccountName" },
                     { data: "Status" }


                 ],
                 "order": [[0, "desc"]],
                 "stripeClasses": [],
                 "initComplete": function (settings, json) {


                 },
                 drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }

             });

         }

        function onLoadDataEngineer() {
             var i = 0;
                oTableEngineer = $('#tbEngineerSearchResult').DataTable({
                 processing: true, // for show progress bar
                 serverSide: true, // for process server side
                 filter: false, // this is for disable filter (search box)
                 orderMulti: false, // for disable multiple column at once
                 pageLength: 10,
                 order: [],
                 autoWidth: false,
                 searching: false,
                 destroy: true,
                 lengthChange: false,
                 "oLanguage": {
                     "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                     "sInfo": "Showing page _PAGE_ of _PAGES_",
                     "sSearch": false,
                     "sLengthMenu": "Results :  _MENU_",
                 },
                 "scrollX": false,
                 "language": {
                     "zeroRecords": "No data found.",
                     "decimal": ",",
                     "thousands": "."
                 },
                 ajax: {
                     url: '@Url.Action("AddDataTableEngineer", "MigrationProfile")',
                     type: "POST",
                     async: false,
                     datatype: "JSON",

                 },
                 columns: [


                     { data: "StaffCode" },
                     { data: "FoaCode" },
                     { data: "StaffName" },
                     { data: "StaffNameTh" },
                     { data: "StaffNameEn" },
                     { data: "AscCode" },
                     { data: "TshirtSize" },
                     { data: "ContractPhone1" },
                     { data: "ContractPhone2" },
                     { data: "ContractEmail" },
                     { data: "WorkExperience" },
                     { data: "WorkExperienceAttachFile" },
                     { data: "WorkType" },
                     { data: "CourseSkill" },
                     { data: "SkillLevel" },
                     { data: "VehicleType" },
                     { data: "VehicleBrand" },
                     { data: "VehicleSerise" },
                     { data: "VehicleColor" },
                     { data: "VehicleYear" },
                     { data: "VehicleLicensePlate" },

                     { data: "ToolOtrd" },
                     { data: "ToolSplicing" },
                     { data: "Position" },
                     { data: "LocationCode" },
                     { data: "StaffId" },
                     { data: "TeamCode" },
                     { data: "CitizenId" },
                     { data: "BankCode" },
                     { data: "BankName" },
                     { data: "AccountNo" },
                     { data: "AccountName" },
                     { data: "PersonalAttachFile" },
                     { data: "StaffStatus" },

                 ],
                 "order": [[0, "desc"]],
                 "stripeClasses": [],
                 "initComplete": function (settings, json) {


                 },
                 drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }

             });

         }

            function onLoadDataTeam() {
             var i = 0;
                oTableEngineer = $('#tbTeamSearchResult').DataTable({
                 processing: true, // for show progress bar
                 serverSide: true, // for process server side
                 filter: false, // this is for disable filter (search box)
                 orderMulti: false, // for disable multiple column at once
                 pageLength: 10,
                 order: [],
                 autoWidth: false,
                 searching: false,
                 destroy: true,
                 lengthChange: false,
                 "oLanguage": {
                     "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                     "sInfo": "Showing page _PAGE_ of _PAGES_",
                     "sSearch": false,
                     "sLengthMenu": "Results :  _MENU_",
                 },
                 "scrollX": false,
                 "language": {
                     "zeroRecords": "No data found.",
                     "decimal": ",",
                     "thousands": "."
                 },
                 ajax: {
                     url: '@Url.Action("AddDataTableTeam", "MigrationProfile")',
                     type: "POST",
                     async: false,
                     datatype: "JSON",

                 },
                 columns: [



                     { data: "TeamCode" },
                     { data: "TeamName" },
                     { data: "TeamNameTh" },
                     { data: "TeamNameEn" },
                     { data: "ShipTo" },
                     { data: "StageLocal" },
                     { data: "OosStorageLocation" },
                     { data: "LocationCode" },
                     { data: "VendorCode" },
                     { data: "JobType" },
                     { data: "SubcontractType" },
                     { data: "SubcontractSubType" },
                     { data: "WarrantyMa" },
                     { data: "WarrantyInstall" },
                     { data: "ServiceSkill" },
                     { data: "InstallationsContractPhone" },
                     { data: "MaintenanceContractPhone" },
                     { data: "EtcContractPhone" },
                     { data: "InstallationsContractEmail" },
                     { data: "MaintenanceContractEmail" },
                     { data: "EtcContractEmail" },

                     { data: "Status" },
                     { data: "CreateDate" },
                     { data: "CreateBy" },
                     { data: "UpdateDate" },
                     { data: "UpdateBy" }

                 ],
                 "order": [[0, "desc"]],
                 "stripeClasses": [],
                 "initComplete": function (settings, json) {


                 },
                 drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }

             });

         }


        function onLoadDataLocation() {
             var i = 0;
             oTableEngineer = $('#tbLocSearchResult').DataTable({
                 processing: true, // for show progress bar
                 serverSide: true, // for process server side
                 filter: false, // this is for disable filter (search box)
                 orderMulti: false, // for disable multiple column at once
                 pageLength: 10,
                 order: [],
                 autoWidth: false,
                 searching: false,
                 destroy: true,
                 lengthChange: false,
                 "oLanguage": {
                     "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                     "sInfo": "Showing page _PAGE_ of _PAGES_",
                     "sSearch": false,
                     "sLengthMenu": "Results :  _MENU_",
                 },
                 "scrollX": false,
                 "language": {
                     "zeroRecords": "No data found.",
                     "decimal": ",",
                     "thousands": "."
                 },
                 ajax: {
                     url: '@Url.Action("AddDataTableLocation", "MigrationProfile")',
                     type: "POST",
                     async: false,
                     datatype: "JSON",

                 },
                 columns: [



                     { data: "LocationCode" },
                     { data: "LocationName" },
                     { data: "LocationNameTh" },
                     { data: "LocationNameEn" },
                     { data: "LocationNameAlias" },
                     { data: "VendorCode" },
                     { data: "StorageLocation" },
                     { data: "ShipTo" },
                     { data: "OutOfServiceStorageLocation" },
                     { data: "SubPhase" },
                     { data: "_EffectiveDate" },
                     { data: "ShopType" },
                     { data: "VatBranchNumber" },
                     { data: "Phone" },
                     { data: "CompanyMainContractPhone" },
                     { data: "InstallationsContractPhone" },
                     { data: "MaintenanceContractPhone" },
                     { data: "InventoryContractPhone" },
                     { data: "PaymentContractPhone" },
                     { data: "EtcContractPhone" },
                     { data: "CompanyGroupMail" },
                     { data: "InstallationsContractMail" },
                     { data: "MaintenanceContractMail" },
                     { data: "InventoryContractMail" },
                     { data: "PaymentContractMail" },
                     { data: "EtcContractMail" },
                     { data: "LocationAddress" },
                     { data: "PostAddress" },
                     { data: "TaxAddress" },
                     { data: "WtAddress" },
                     { data: "HouseNo" },
                     { data: "AreaCode" },
                     { data: "BankCode" },
                     { data: "BankName" },
                     { data: "BankAccountNo" },
                     { data: "BankAccountName" },
                     { data: "BankAttachFile" },
                     { data: "Status" },
                     { data: "CreateDate" },
                     { data: "CreateBy" },
                     { data: "UpdateBy" },
                     { data: "UpdateDate" },
                     { data: "BankBranchCode" },
                     { data: "BankBranchName" },
                     { data: "PenaltyContractPhone" },
                     { data: "PenaltyContractMail" },
                     { data: "ContractPhone" },
                     { data: "ContractMail" }

                 ],
                 "order": [[0, "desc"]],
                 "stripeClasses": [],
                 "initComplete": function (settings, json) {


                 },
                 drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }

             });

         }

        function onUploadData() {
            var tablename = $('#inputmasterdata').val();
           //  alert("Table:"+tablename);
             $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("BulkInsert", "MigrationProfile")',
                     type: 'POST',
                     data: { 'table': tablename },
                     dataType: "json",
                     async: true,
                     success: function (result) {

                         if (result != null) {
                             console.log(result);
                         }

                         bootbox.alert(result.Message);

                    },
                    error: function (xhr, status, error) {

                        bootbox.alert( result.Message);
                    }
                }


            );
        }
    </script>

}

