@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Migration Profile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="pageID" style="display:none;">Migration Profile</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">

    <div class="skills layout-spacing ">
        <div class="widget-content widget-content-area">
            <h3 class="">@Localizer["MigrationProfile"]</h3>
            <div class="widget-content1">

                <div class="form-row mb-4">

                    <div class="form-group col-md-6">
                        <label for="inputmasterdata">@Localizer["MasterTable"]</label>
                        <select id="inputmasterdata" class="form-control" data-live-search="true" onchange="chkchangetable();">
                            <option value="Select">Please Select</option>
                            <option value="Location">Location</option>
                            @*<option value="Team">Team</option>
                            <option value="Engineer">Engineer</option>
                            <option value="Personal">Personal</option>
                            <option value="Company">Company</option>*@
                        </select>

                    </div>
                </div>
                <div class="form-row mb-4">
                    <div class="form-group col-md-6">
                        <input type="hidden" id="upfileData" />
                        <input type="file" class="custom-file-input inputValidation" id="uploadfileMigrateData"
                               accept="text/plain, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                               required />
                        <label class="custom-file-label" for="uploadfileMigrateData" id="lbuploadData">@Localizer["ChooseFile"]</label>
                        <div class="invalid-feedback">@Localizer["ErrorFileFormat"]</div>

                        @*<small id="uploadlHelp1" class="form-text text-muted" style="margin-top:0;">
                                @Localizer["ChooseFileSupportFileType"]
                            </small>
                            <small id="uploadlHelp1" class="form-text text-muted" style="margin-top:0;">
                                @Localizer["SizeFile"]
                            </small>
                            <small id="uploadlHelp1" style="color:red">@Localizer["RemarkChooseFileSupportFileType"]</small>*@

                    </div>


                </div>
                <div class="form-row mb-4">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
                        @Localizer["Close"]
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button id="btnSave" onclick="onUploadData();" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>

                        @Localizer["Upload"]
                    </button>
                </div>
                <div class="form-row mb-4">
                    <div id="location" class="table-responsive mb-4 mt-4">
                        <table id="tbLocSearchResult" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@Localizer["LocationId"]</th>
                                    <th>@Localizer["LocationCode"]</th>
                                    <th>@Localizer["LocationName"]</th>
                                    <th>@Localizer["LocationNameTh"]</th>
                                    <th>@Localizer["LocationNameEn"]</th>
                                    <th>@Localizer["LocationNameAlias"]</th>
                                    <th>@Localizer["VendorCode"]</th>
                                    <th>@Localizer["StorageLocation"]</th>
                                    <th>@Localizer["ShipTo"]</th>
                                    <th>@Localizer["OutOfServiceStorageLocation"]</th>
                                    <th>@Localizer["SubPhase"]</th>
                                    <th>@Localizer["EffectiveDate"]</th>
                                    <th>@Localizer["ShopType"]</th>
                                    <th>@Localizer["VatBranchNumber"]</th>
                                    <th>@Localizer["Phone"]</th>
                                    <th>@Localizer["CompanyMainContractPhone"]</th>
                                    <th>@Localizer["InstallationsContractPhone"]</th>
                                    <th>@Localizer["MaintenanceContractPhone"]</th>
                                    <th>@Localizer["InventoryContractPhone"]</th>
                                    <th>@Localizer["PaymentContractPhone"]</th>
                                    <th>@Localizer["EtcContractPhone"]</th>
                                    <th>@Localizer["CompanyGroupMail"]</th>
                                    <th>@Localizer["InstallationsContractMail"]</th>
                                    <th>@Localizer["MaintenanceContractMail"]</th>
                                    <th>@Localizer["InventoryContractMail"]</th>
                                    <th>@Localizer["PaymentContractMail"]</th>
                                    <th>@Localizer["EtcContractMail"]</th>
                                    <th>@Localizer["LocationAddress"]</th>
                                    <th>@Localizer["PostAddress"]</th>
                                    <th>@Localizer["TaxAddress"]</th>
                                    <th>@Localizer["WtAddress"]</th>
                                    <th>@Localizer["HouseNo"]</th>
                                    <th>@Localizer["AreaCode"]</th>
                                    <th>@Localizer["BankCode"]</th>
                                    <th>@Localizer["BankName"]</th>
                                    <th>@Localizer["BankAccountNo"]</th>
                                    <th>@Localizer["BankAccountName"]</th>
                                    <th>@Localizer["BankAttachFile"]</th>
                                    <th>@Localizer["Status"]</th>
                                    <th>@Localizer["CreateDate"]</th>
                                    <th>@Localizer["CreateBy"]</th>
                                    <th>@Localizer["UpdateBy"]</th>
                                    <th>@Localizer["UpdateDate"]</th>
                                    <th>@Localizer["BankBranchCode"]</th>
                                    <th>@Localizer["BankBranchName"]</th>
                                    <th>@Localizer["PenaltyContractPhone"]</th>
                                    <th>@Localizer["PenaltyContractMail"]</th>
                                    <th>@Localizer["ContractPhone"]</th>
                                    <th>@Localizer["ContractMail"]</th>
                                    <th>@Localizer["CompanyId"]</th>


                                </tr>

                            </thead>

                        </table>
                    </div>
                    <div id="engineer" class="table-responsive mb-4 mt-4">
                        <table id="tbSearchResult" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>

                                    <th>@Localizer["engineer_id"]</th>
                                    <th>@Localizer["staff_code"]</th>
                                    <th>@Localizer["staff_code_type"]</th>
                                    <th>@Localizer["foa_code"]</th>
                                    <th>@Localizer["staff_name"]</th>
                                    <th>@Localizer["staff_name_th"]</th>
                                    <th>@Localizer["staff_name_en"]</th>
                                    <th>@Localizer["identity_by"]</th>
                                    <th>@Localizer["asc_code--"]</th>
                                    <th>@Localizer["tshirt_size--"]</th>
                                    <th>@Localizer["contract_phone1"]</th>
                                    <th>@Localizer["contract_phone2"]</th>
                                    <th>@Localizer["contract_email"]</th>
                                    <th>@Localizer["work_experience"]</th>
                                    <th>@Localizer["work_type"]</th>
                                    <th>@Localizer["course_skill"]</th>
                                    <th>@Localizer["skill_level"]</th>
                                    <th>@Localizer["position"]</th>
                                    <th>@Localizer["location_code"]</th>
                                    <th>@Localizer["staff_id"]</th>
                                    <th>@Localizer["team_code"]</th>
                                    <th>@Localizer["citizen_id"]</th>
                                    <th>@Localizer["personal_attach_file"]</th>
                                    <th>@Localizer["bookbank_attach_file"]</th>
                                    <th>@Localizer["bank_code"]</th>
                                    <th>@Localizer["bank_name"]</th>
                                    <th>@Localizer["brance_code "]</th>
                                    <th>@Localizer["brance_name"]</th>
                                    <th>@Localizer["account_no"]</th>
                                    <th>@Localizer["account_name"]</th>
                                    <th>@Localizer["staff_status"]</th>
                                    <th>@Localizer["create_date"]</th>
                                    <th>@Localizer["create_by"]</th>
                                    <th>@Localizer["update_date"]</th>
                                    <th>@Localizer["update_by"]</th>
                                </tr>

                            </thead>

                        </table>
                    </div>
                    <div id="team" class="table-responsive mb-4 mt-4">
                        <table id="tbSearchResult" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@Localizer["team_id"]</th>
                                    <th>@Localizer["team_code"]</th>
                                    <th>@Localizer["team_name"]</th>
                                    <th>@Localizer["team_name_th"]</th>
                                    <th>@Localizer["team_name_en"]</th>
                                    <th>@Localizer["ship_to"]</th>
                                    <th>@Localizer["stage_local"]</th>
                                    <th>@Localizer["oos_storage_location"]</th>
                                    <th>@Localizer["location_code"]</th>
                                    <th>@Localizer["vendor_code"]</th>
                                    <th>@Localizer["job_type"]</th>
                                    <th>@Localizer["subcontract_type"]</th>
                                    <th>@Localizer["subcontract_sub_type"]</th>
                                    <th>@Localizer["warranty_ma"]</th>
                                    <th>@Localizer["warranty_install"]</th>
                                    <th>@Localizer["service_skill"]</th>
                                    <th>@Localizer["installations_contract_phone"]</th>
                                    <th>@Localizer["maintenance_contract_phone"]</th>
                                    <th>@Localizer["etc_contract_phone"]</th>
                                    <th>@Localizer["installations_contract_email"]</th>
                                    <th>@Localizer["maintenance_contract_email"]</th>
                                    <th>@Localizer["etc_contract_email"]</th>
                                    <th>@Localizer["status"]</th>
                                    <th>@Localizer["create_date"]</th>
                                    <th>@Localizer["create_by"]</th>
                                    <th>@Localizer["update_date"]</th>
                                    <th>@Localizer["update_by"]</th>

                                </tr>

                            </thead>

                        </table>
                    </div>
                    <div id="personal" class="table-responsive mb-4 mt-4">
                        <table id="tbSearchResult" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@Localizer["personal_id"]</th>
                                    <th>@Localizer["citizen_id"]</th>
                                    <th>@Localizer["title_name"]</th>
                                    <th>@Localizer["full_name_en"]</th>
                                    <th>@Localizer["full_name_th"]</th>
                                    <th>@Localizer["birth_date"]</th>
                                    <th>@Localizer["gender"]</th>
                                    <th>@Localizer["race"]</th>
                                    <th>@Localizer["nationality"]</th>
                                    <th>@Localizer["religion"]</th>
                                    <th>@Localizer["identity_by"]</th>
                                    <th>@Localizer["identity_card_address"]</th>
                                    <th>@Localizer["work_permit_no"]</th>
                                    <th>@Localizer["education"]</th>
                                    <th>@Localizer["th_listening"]</th>
                                    <th>@Localizer["th_speaking"]</th>
                                    <th>@Localizer["th_reading"]</th>
                                    <th>@Localizer["th_writing"]</th>
                                    <th>@Localizer["en_listening"]</th>
                                    <th>@Localizer["en_speaking"]</th>
                                    <th>@Localizer["en_reading"]</th>
                                    <th>@Localizer["en_writing"]</th>
                                    <th>@Localizer["certificate_type"]</th>
                                    <th>@Localizer["certificate_no"]</th>
                                    <th>@Localizer["certificate_expire_date"]</th>
                                    <th>@Localizer["status"]</th>
                                    <th>@Localizer["create_date"]</th>
                                    <th>@Localizer["create_by"]</th>
                                    <th>@Localizer["update_date"]</th>
                                    <th>@Localizer["update_by"]</th>

                                </tr>

                            </thead>

                        </table>
                    </div>
                    <div id="company" class="table-responsive mb-4 mt-4">
                        <table id="tbSearchResult" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@Localizer["company_id"]</th>
                                    <th>@Localizer["company_code"]</th>
                                    <th>@Localizer["company_name"]</th>
                                    <th>@Localizer["company_name_th"]</th>
                                    <th>@Localizer["company_name_en"]</th>
                                    <th>@Localizer["company_alias"]</th>
                                    <th>@Localizer["distribution_channel"]</th>
                                    <th>@Localizer["channel_sale_group"]</th>
                                    <th>@Localizer["vendor_code"]</th>
                                    <th>@Localizer["customer_code"]</th>
                                    <th>@Localizer["area_id"]</th>
                                    <th>@Localizer["tax_id"]</th>
                                    <th>@Localizer["wt_name"]</th>
                                    <th>@Localizer["vat_type"]</th>
                                    <th>@Localizer["company_certified_file"]</th>
                                    <th>@Localizer["commercial_registration_file"]</th>
                                    <th>@Localizer["vat_registration_certificate_file"]</th>
                                    <th>@Localizer["contract_agreement_file"]</th>
                                    <th>@Localizer["deposit_authorization_level"]</th>
                                    <th>@Localizer["deposit_payment_type"]</th>
                                    <th>@Localizer["contract_start_date"]</th>
                                    <th>@Localizer["contract_end_date"]</th>
                                    <th>@Localizer["over_draft_deposit"]</th>
                                    <th>@Localizer["balance_deposit"]</th>
                                    <th>@Localizer["company_status"]</th>
                                    <th>@Localizer["company_address"]</th>
                                    <th>@Localizer["vat_address"]</th>
                                    <th>@Localizer["create_by"]</th>
                                    <th>@Localizer["create_date"]</th>
                                    <th>@Localizer["update_by"]</th>
                                    <th>@Localizer["update_date"]</th>
                                    <th>@Localizer["company_email"]</th>
                                    <th>@Localizer["contract_name"]</th>
                                    <th>@Localizer["contract_phone"]</th>
                                    <th>@Localizer["contract_email"]</th>
                                    <th>@Localizer["bank_code"]</th>
                                    <th>@Localizer["bank_name"]</th>
                                    <th>@Localizer["account_number"]</th>
                                    <th>@Localizer["account_name"]</th>
                                    <th>@Localizer["attach_file"]</th>
                                    <th>@Localizer["branch_code"]</th>
                                    <th>@Localizer["branch_name"]</th>
                                    <th>@Localizer["dept_of_install_name"]</th>
                                    <th>@Localizer["dept_of_mainten_name"]</th>
                                    <th>@Localizer["dept_of_account_name"]</th>
                                    <th>@Localizer["dept_of_install_phone"]</th>
                                    <th>@Localizer["dept_of_mainten_phone"]</th>
                                    <th>@Localizer["dept_of_account_phone"]</th>
                                    <th>@Localizer["dept_of_install_email"]</th>
                                    <th>@Localizer["dept_of_mainten_email"]</th>
                                    <th>@Localizer["dept_of_account_email"]</th>
                                    <th>@Localizer["location_code"]</th>
                                    <th>@Localizer["location_name_th"]</th>
                                    <th>@Localizer["location_name_en"]</th>
                                    <th>@Localizer["bank_account_type_id"]</th>
                                    <th>@Localizer["subcontract_profile_type"]</th>
                                    <th>@Localizer["company_title_th_id"]</th>
                                    <th>@Localizer["company_title_en_id"]</th>
                                    <th>@Localizer["status"]</th>
                                    <th>@Localizer["activate_date"]</th>
                                    <th>@Localizer["register_date"]</th>
                                    <th>@Localizer["remark_for_sub"]</th>
                                    <th>@Localizer["verified_date"]</th>
                                    <th>@Localizer["Remark"]</th>

                                </tr>

                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{


    <script type="text/javascript">
                        var oTable;
                        var oTableEngineer;


        $(document).ready(function () {

                $(".custom-file-input").on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });


                            hideAll();


                            $('#uploadfileMigrateData').change(function (e) {
                                e.preventDefault();
                                CheckFileUpload('uploadfileMigrateData')

                            });



            $('#btnSave').click(function () {
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    if (Validateform() || ValidateUpload()) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else {

                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');

                });
            });
         });

        function hideAll() {

            $("#team").hide();
            $("#engineer").hide();
            $("#location").hide();
            $("#personal").hide();
            $("#company").hide();
        }
        function chkchangetable() {
            var  d  = $("#inputmasterdata").val();
            if (d == "Team") {
                $("#team").show();
                $("#engineer").hide();
                $("#location").hide();
                $("#personal").hide();
                $("#company").hide();
            }
            if (d == "Engineer") {
                $("#team").hide();
                $("#engineer").show();
                $("#location").hide();
                $("#personal").hide();
                $("#company").hide();
            }
            if (d == "Location") {
                $("#team").hide();
                $("#engineer").hide();
                $("#location").show();
                $("#personal").hide();
                $("#company").hide();

            }
            if (d == "Personal") {
                $("#team").hide();
                $("#engineer").hide();
                $("#location").hide();
                $("#personal").show();
                $("#company").hide();
            }
            if (d == "Company") {
                $("#team").hide();
                $("#engineer").hide();
                $("#location").hide();
                $("#personal").hide();
                $("#company").show();
            }

        }



        function ValidateUpload() {
            var hasError = false;
            if ($('#upfileData').val() == "") {
                hasError = true;
                $("#uploadfileMigrateData").attr('required', 'required');
            }
            else {
                $("#uploadfileMigrateData").removeAttr('required');
            }

            return hasError;
        }
        function CheckFileUpload(inputId) {

            var input = document.getElementById(inputId);
            var files = input.files[0];
            var formData = new FormData();


            formData.append("files", files);



            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("onCheckUpload", "MigrationProfile")',
                    processData: false,
                    async : false,
                    contentType: false,
                    dataType: "json",
                    data: formData,
                    success: function (data) {
                        if (data.status) {
                            $('#upfileData').val(data.file_id);
                        }
                        else {
                            $('#lbuploadData').text(localizedData.ChooseFile);
                            $('#upfileData').val('');
                        }

                        bootbox.alert(data.message);
                        //    title: "System Information",
                        //    message: data.message,
                        //    size: "small",
                        //    callback: function (result) {
                        //        console.log('This was logged in the callback: ' + data.status);
                        //    }
                        //});

                    },
                    error: function (xhr, status, error) {


                        //bootbox.alert({
                        //    title: "System Information",
                        //    message: "This action is not available.",
                        //    size: "small",
                        //    callback: function (result) {
                        //        console.log('This was logged in the callback: ' + result);
                        //    }
                        //});
                    }
                }


            );
            onLoadDataLocation();
        }

        function onLoadDataLocation() {






             var i = 0;
             oTableEngineer = $('#tbLocSearchResult').DataTable({
                 processing: true, // for show progress bar
                 serverSide: true, // for process server side
                 filter: false, // this is for disable filter (search box)
                 orderMulti: false, // for disable multiple column at once
                 pageLength: 10,
                 order: [],
                 autoWidth: false,
                 searching: false,
                 destroy: true,
                 lengthChange: false,
                 "oLanguage": {
                     "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                     "sInfo": "Showing page _PAGE_ of _PAGES_",
                     "sSearch": false,
                     "sLengthMenu": "Results :  _MENU_",
                 },
                 "scrollX": false,
                 "language": {
                     "zeroRecords": "No data found.",
                     "decimal": ",",
                     "thousands": "."
                 },
                 ajax: {
                     url: '@Url.Action("AddDataTableLocation", "MigrationProfile")',
                     type: "POST",
                     async: false,
                     datatype: "JSON",

                 },
                 columns: [


                     { data: "LocationId" },
                     { data: "LocationCode" },
                     { data: "LocationName" },
                     { data: "LocationNameTh" },
                     { data: "LocationNameEn" },
                     { data: "LocationNameAlias" },
                     { data: "VendorCode" },
                     { data: "StorageLocation" },
                     { data: "ShipTo" },
                     { data: "OutOfServiceStorageLocation" },
                     { data: "SubPhase" },
                     { data: "EffectiveDate" },
                     { data: "ShopType" },
                     { data: "VatBranchNumber" },
                     { data: "Phone" },
                     { data: "CompanyMainContractPhone" },
                     { data: "InstallationsContractPhone" },
                     { data: "MaintenanceContractPhone" },
                     { data: "InventoryContractPhone" },
                     { data: "PaymentContractPhone" },
                     { data: "EtcContractPhone" },
                     { data: "CompanyGroupMail" },
                     { data: "InstallationsContractMail" },
                     { data: "MaintenanceContractMail" },
                     { data: "InventoryContractMail" },
                     { data: "PaymentContractMail" },
                     { data: "EtcContractMail" },
                     { data: "LocationAddress" },
                     { data: "PostAddress" },
                     { data: "TaxAddress" },
                     { data: "WtAddress" },
                     { data: "HouseNo" },
                     { data: "AreaCode" },
                     { data: "BankCode" },
                     { data: "BankName" },
                     { data: "BankAccountNo" },
                     { data: "BankAccountName" },
                     { data: "BankAttachFile" },
                     { data: "Status" },
                     { data: "CreateDate" },
                     { data: "CreateBy" },
                     { data: "UpdateBy" },
                     { data: "UpdateDate" },
                     { data: "BankBranchCode" },
                     { data: "BankBranchName" },
                     { data: "PenaltyContractPhone" },
                     { data: "PenaltyContractMail" },
                     { data: "ContractPhone" },
                     { data: "ContractMail" },
                     { data: "CompanyId" }
                 ],
                 "order": [[0, "desc"]],
                 "stripeClasses": [],
                 "initComplete": function (settings, json) {


                 },
                 drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }

             });

         }

        function onUploadData() {
            var tablename = $('#inputmasterdata').val();
           //  alert("Table:"+tablename);
             $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("BulkInsertLocation", "MigrationProfile")',
                     type: 'POST',
                     data: { 'table': tablename },
                     dataType: "json",
                     async: false,
                     success: function (result) {

                         if (result != null) {
                             console.log(result);
                         }

                         bootbox.alert(result.Message);

                    },
                    error: function (xhr, status, error) {

                        bootbox.alert( result.Message);
                    }
                }


            );
        }
    </script>

}

