@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "ReportEngineer";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="pageID" style="display:none;">ReportEngineer</div>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="skills layout-spacing">


        <div class="widget-content widget-content-area">
            <h3 class="">@Localizer["ReportEngineer"]</h3>

            <div class="widget-content1">
                <div class="form-row mb-4">

                    <div class="form-group col-md-6">
                        <label for="txtcontactphone">@Localizer["contactphone"]</label>
                        <input type="text" class="form-control" id="txtcontactphone" maxlength="10" onchange="return isNumberKey(event);"  onkeypress="return isNumberKey(event);" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtstaff_name">@Localizer["staffname"]</label>
                        <input type="text" class="form-control" id="txtstaff_name" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtcitizenid">@Localizer["citizen_id"]</label>
                        <input type="text" class="form-control" id="txtcitizenid" maxlength="13" onchange="return isNumberKey(event);"  onkeypress="return isNumberKey(event);" />
                    </div>



                </div>
                <div class="form-row mb-4">
                    <div class="form-group col-md-6">
                        <label for="createFrom">@Localizer["CreateDateFrom"]</label>
                        <div class='input-group p-0 date' id='dtcreateFrom'>
                            <input type='text' class="form-control" id="dtcrtFrom" />
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text px-4">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="creatTo">@Localizer["CreateDateTo"]</label>
                        <div class='input-group p-0 date' id='dtcreateTo'>
                            <input type='text' class="form-control" id="dtcrtTo" />
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text px-4">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align:center">

                    <button id="btnclear" type="button" onclick="clearField();" class="btn btn-dark mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="15" y1="9" x2="9" y2="15"></line>
                            <line x1="9" y1="9" x2="15" y2="15"></line>
                        </svg> @Localizer["Reset"]
                    </button>
                    <button id="btnSearch" type="button" onclick="onLoadData();" class="btn btn-success mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg> @Localizer["Search"]
                    </button>

                </div>

            </div>

            <br />
            <div class="widget-heading">
                <h3 class=""> @Localizer["SearchEngineerResult"]</h3>

            </div>
            <div class="table-responsive mb-4 mt-4">
                <table id="tbSearchEngineerResult" class="table table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>@Localizer["StaffCode"]</th>
                            <th>@Localizer["FoaCode"]</th>
                            <th>@Localizer["StaffName"]</th>
                            <th>@Localizer["StaffNameTh"]</th>
                            <th>@Localizer["StaffNameEn"]</th>
                            <th>@Localizer["AscCode"]</th>
                            <th>@Localizer["TshirtSize"]</th>
                            <th>@Localizer["ContractPhone1"]</th>
                            <th>@Localizer["ContractPhone2"]</th>
                            <th>@Localizer["ContractEmail"]</th>
                            <th>@Localizer["WorkExperience"]</th>
                            <th>@Localizer["WorkExperienceAttachFile"]</th>
                            <th>@Localizer["WorkType"]</th>
                            <th>@Localizer["CourseSkill"]</th>
                            <th>@Localizer["SkillLevel"]</th>
                            <th>@Localizer["VehicleType"]</th>
                            <th>@Localizer["VehicleBrand"]</th>
                            <th>@Localizer["VehicleSerise"]</th>
                            <th>@Localizer["VehicleColor"]</th>
                            <th>@Localizer["VehicleYear"]</th>
                            <th>@Localizer["VehicleLicensePlate"]</th>
                          
                            <th>@Localizer["ToolOtrd"]</th>
                            <th>@Localizer["ToolSplicing"]</th>
                            <th>@Localizer["Position"]</th>
                            <th>@Localizer["LocationCode"]</th>
                            <th>@Localizer["StaffId"]</th>
                            <th>@Localizer["TeamCode"]</th>
                            <th>@Localizer["CitizenId"]</th>
                            <th>@Localizer["BankCode"]</th>
                            <th>@Localizer["BankName"]</th>
                            <th>@Localizer["AccountNo"]</th>
                            <th>@Localizer["AccountName"]</th>
                            <th>@Localizer["PersonalAttachFile"]</th>
                            <th>@Localizer["StaffStatus"]</th>
                            <th>@Localizer["CreateDate"]</th>
                            <th>@Localizer["CreateBy"]</th>
                            <th>@Localizer["UpdateBy"]</th>
                            <th>@Localizer["UpdateDate"]</th>
                       

                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>


@section scripts{

    <script type="text/javascript">
        var oTable;
        var oTableLocation;
        
           $(document).ready(function () {



               $('#dtcreateFrom').datetimepicker({
                format: "DD/MM/YYYY",
              //  minDate: new Date(),
                showClear: true,
                showClose: true,
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'icon-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-time'
                }
            });
               var fromdate = $('#dtcrtFrom').val();

               $('#dtcreateTo').datetimepicker({
                format: "DD/MM/YYYY",
                ///   minDate: new Date(fromdate),
                showClear: true,
                showClose: true,
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'icon-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-time'
                }
            });


               onLoadData();
        });



         function onLoadData() {
             var i = 0;
             oTableEngineer = $('#tbSearchEngineerResult').DataTable({
                 processing: true, // for show progress bar
                 serverSide: true, // for process server side
                 filter: false, // this is for disable filter (search box)
                 orderMulti: false, // for disable multiple column at once
                 pageLength: 10,
                 order: [],
                 autoWidth: false,
                 searching: false,

                 destroy: true,
                 lengthChange: false,
                 "oLanguage": {
                     "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                     "sInfo": "Showing page _PAGE_ of _PAGES_",
                     "sSearch": false,
                     "sLengthMenu": "Results :  _MENU_",
                 },
                 "scrollX": false,
                 "language": {
                     "zeroRecords": "No data found.",
                     "decimal": ",",
                     "thousands": "."
                 },
                 ajax: {
                     url: '@Url.Action("SearchEngineer", "ReportEngineer")',
                     type: "POST",
                     async: false,
                     datatype: "JSON",
                     data: function (d) {
                         d.citizen_id = $("#txtcitizenid").val(),
                             d.staff_name = $("#txtstaff_name").val(),
                             d.contact_phone = $("#txtcontactphone").val(),
                             d.createFrom = $("#dtcrtFrom").val(),
                             d.createTo = $("#dtcrtTo").val()

                     }
                 },
                 columns: [



                     { data: "StaffCode" },
                     { data: "FoaCode" },
                     { data: "StaffName" },
                     { data: "StaffNameTh" },
                     { data: "StaffNameEn" },
                     { data: "AscCode" },
                     { data: "TshirtSize" },
                     { data: "ContractPhone1" },
                     { data: "ContractPhone2" },
                     { data: "ContractEmail" },
                     { data: "WorkExperience" },
                     { data: "WorkExperienceAttachFile" },
                     { data: "WorkType" },
                     { data: "CourseSkill" },
                     { data: "SkillLevel" },
                     { data: "VehicleType" },
                     { data: "VehicleBrand" },
                     { data: "VehicleSerise" },
                     { data: "VehicleColor" },
                     { data: "VehicleYear" },
                     { data: "VehicleLicensePlate" },
                 
                     { data: "ToolOtrd" },
                     { data: "ToolSplicing" },
                     { data: "Position" },
                     { data: "LocationCode" },
                     { data: "StaffId" },
                     { data: "TeamCode" },
                     { data: "CitizenId" },
                     { data: "BankCode" },
                     { data: "BankName" },
                     { data: "AccountNo" },
                     { data: "AccountName" },
                     { data: "PersonalAttachFile" },
                     { data: "StaffStatus" },
                     { data: "CreateDate" },
                     { data: "CreateBy" },
                     { data: "UpdateBy" },
                     { data: "UpdateDate" }
                

                   
                 ],
                 "order": [[0, "desc"]],
                 "stripeClasses": [],
                 "initComplete": function (settings, json) {


                 },
                 drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }

             });

         }


        function clearField() {

            $("#txtcitizenid").val('');
            $("#txtstaffname").val('');
            $("#txtcontactphone").val('');
            $("#dtcrtFrom").val('');
            $("#dtcrtTo").val('');
            onLoadDataLocation();
        }

    </script>

}